= simple_form_for @control do |f|
 .row
  .col-md-4
   = f.label :document_number, class: 'fg-label'
   = f.input :document_number, label: false, input_html: { class: 'document_number'}
  .col-md-4
   = f.label :document_type, class: 'fg-label'
   = f.input :document_type, label: false , collection: Protocol::DocumentType.where(status: true), prompt: 'selecione...'
 .row
  .col-md-4
   = f.label :input_doc_date, as: 'string', class: 'fg-label'
   = f.input :input_doc_date, as: 'string', label: false, input_html: { class: 'date', placeholder: '00/00/0000' , value: (@control.input_doc_date) ? localize(f.object.input_doc_date) : nil}
 .row
  .col-md-8
   = f.submit 'salvar' , class: 'btn btn-success btn-sm',data: {disable_with: "carregando..."}
   = link_to "voltar",  controls_path, class: 'btn btn-default btn-sm',data: {disable_with: "carregando..."}
