= simple_form_for [@project, @candidate] do |f|
  %hr/
  .row
    .col-md-10
      = f.input :name
  .row
    .col-md-3
      = f.input :cpf
    .col-md-3
      = f.input :rg
    .col-md-2
      = f.input :born,  as: :string, input_html: { class: 'date' }
    .col-md-2
      = f.input :gender, as: :select, collection: Concourse::Candidate.genders.keys.to_a, prompt: 'selecione...'
  %br/
  %h4
    %b Endereço e Contato
  %hr/
  .row
    .col-md-3
      = f.association :state, prompt: "selecione..."
    .col-md-4
      = f.input :city
    .col-md-3
      = f.input :cep
  .row
    .col-md-7
      = f.input :address
    .col-md-3
      = f.input :burgh
  .row
    .col-md-4
      = f.input :email
    .col-md-3
      = f.input :telephone
    .col-md-3
      = f.input :celphone
  %br/
  %h4
    %b Dados para acesso à inscrição
  %hr/
  .row
    .col-md-3
      = f.input :password, hint: "minimum 4 caracteres - máximo 8 caracteres"
    .col-md-3
      = f.input :confirmation_password
  %br/
  %h4
    %b Dados pessoa jurídica
  %hr/
  .row
    .col-md-4
      = f.input :fantasy_name
    .col-md-3
      = f.input :social_reason
    .col-md-3
      = f.input :cnpj
  %br/
  %h4
    %b Informações Adicionais
  %hr/
  .row
    = f.simple_fields_for :properties, OpenStruct.new(@candidate.properties) do |builder|
      - @candidate.subscribe.fields.each do |field|
        .col-md-4
          = render "concourse_portal/candidates/fields/#{field.field_type}", field: field, f: builder, c: @candidate
  %br/
  %hr/
  .row
    .col-md-12
      = f.input :terms_use
  %hr/
  .row
    .col-md-12
      = f.submit "Realizar Inscrição", class: 'btn btn-inverse', data: {disable_with: "Processando..."}
      = link_to "Voltar", project_path(@project), class: 'btn btn-default'