= simple_form_for [@project, @candidate] do |f|
  %br/
  %h5 Informações pessoais
  %hr/
  .row
    .col-md-10
      = f.input :name
  .row
    .col-md-3
      = f.input :cpf
    .col-md-3
      = f.input :rg
    .col-md-2
      = f.input :born,  as: :string, input_html: { class: 'date' }
    .col-md-2
      = f.input :gender, as: :select, collection: Concourse::Candidate.genders.keys.to_a, prompt: 'selecione...'
  %br/
  %h5 Endereço e Contato
  %hr/
  .row
    .col-md-3
      = f.association :state, prompt: "selecione..."
    .col-md-4
      = f.input :city
    .col-md-3
      = f.input :cep
  .row
    .col-md-7
      = f.input :address
    .col-md-3
      = f.input :burgh
  .row
    .col-md-4
      = f.input :email
    .col-md-3
      = f.input :telephone
    .col-md-3
      = f.input :celphone
  %br/
  %h5 Dados para acesso à inscrição
  %hr/
  .row
    .col-md-3
      = f.input :password
    .col-md-3
      = f.input :confirmation_password
  %br/
  %h5 Dados pessoa jurídica
  %hr/
  .row
    .col-md-4
      = f.input :fantasy_name
    .col-md-3
      = f.input :social_reason
    .col-md-3
      = f.input :cnpj
  .row
  %hr/
  .row
    .col-md-12
      = f.input :terms_use
  %hr/
  .row
    .col-md-2
      = f.button :submit
      = link_to "Voltar", project_path(@project), class: 'btn btn-default'