.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#modal.modal-title Requerimento - #{@requeriment.protocol}
.modal-body
  .row
    .col-md-12
      %h5
        %b Nome:
      = @requeriment.name
  %hr/
  .row
    .col-md-3
      %h5
        %b CPF:
      = @requeriment.cpf
    .col-md-3
      %h5
        %b RG:
      = @requeriment.rg
    .col-md-3
      %h5
        %b Estado civil:
      = @requeriment.marital_status.humanize
  %hr/
  .row
    .col-md-3
      %h5
        %b Nacionalidade:
      = @requeriment.nationality
    .col-md-3
      %h5
        %b Sexo:
      = @requeriment.gender
    .col-md-6
      %h5
        %b Data de Nascimento:
      = @requeriment.born.strftime('%d/%m/%Y')
   
  %hr/
  - if @requeriment.marital_status != 'solteiro'
    .row
      .col-md-3
        %h5
          %b Nome Cônjuge:
        = @requeriment.spouse_name
      .col-md-3
        %h5
          %b CPF Cônjuge:
        = @requeriment.spouse_cpf
  %hr/
  .row
    .col-md-3
      %h5
        %b Cidade:
      = @requeriment.unit.city.name if @requeriment.unit.present? && @requeriment.unit.city.present? 
    .col-md-6
      %h5
        %b Endereço a ser regularizado:
      = @requeriment.unit.complete_address if @requeriment.unit.present?
  %hr/
  .row
    .col-md-12
      = link_to "iniciar atendimento", new_requeriment_address_path(requeriment_id: @requeriment.id), class: 'btn btn-success'
  %br/
