:css
  .name {
    font-size: 87px;
  }

  .type {
    font-weight: bold;
    font-size: 87px;
  }

.row
  .col-md-12{style: 'text-align: center;'}
    %h1.type= @winner.winner_type.humanize
    %br/
    %h1.name= @winner.participation.candidate.name
%hr/
.container
  .row 
    .col-md-12{style: 'text-align: center'}
      = link_to image_tag('/images/pdf_flat.png', widht: '200'), "http://www.codhab.df.gov.br/#{@winner.participation.archive_five.url}", target: '_blank'
  %hr/
  .row{style: 'text-align: center'}
    .col-md-3
      = link_to image_tag('/images/pdf_flat.png', widht: '200'), "http://www.codhab.df.gov.br/#{@winner.participation.archive_one.url}", target: '_blank'
    .col-md-3
      = link_to image_tag('/images/pdf_flat.png', widht: '200'), "http://www.codhab.df.gov.br/#{@winner.participation.archive_two.url}", target: '_blank'
    .col-md-3
      = link_to image_tag('/images/pdf_flat.png', widht: '200'), "http://www.codhab.df.gov.br/#{@winner.participation.archive_three.url}", target: '_blank'
    .col-md-3
      = link_to image_tag('/images/pdf_flat.png', widht: '200'), "http://www.codhab.df.gov.br/#{@winner.participation.archive_four.url}", target: '_blank'
  %hr/
  .row
    .col-md-12
      = link_to "Voltar", new_project_winner_path(@project)