:css
  .name {
    font-size: 87px;
  }

  .type {
    font-weight: bold;
    font-size: 87px;
  }

.winner-white
  .row
    .col-md-12{style: 'text-align: center;'}
      %h1.type= @winner.winner_type.humanize
      %hr/
      %h1.name= @winner.participation.candidate.name
      %p
        %h2
          %i
            <b>Nº de inscrição</b> #{@winner.participation.candidate_id} - <b>Nº do projeto</b> #{@winner.participation_id} - <b>#{@winner.participation.candidate.city} / #{@winner.participation.candidate.state.acronym}</b>
      %p.white
        %h2
          %i= @winner.participation.team_description
  %hr/
  %br/
  %br/
  %br/
  .container
    .row
      .col-md-1
      .col-md-2
        = link_to image_tag('/images/pdf_flat.png', width: '150'), "http://www.codhab.df.gov.br/concourse/original/#{@winner.participation_id}/01.pdf", target: '_blank'
      .col-md-2
        = link_to image_tag('/images/pdf_flat.png', width: '150'), "http://www.codhab.df.gov.br/concourse/original/#{@winner.participation_id}/02.pdf", target: '_blank'
      .col-md-2
        = link_to image_tag('/images/pdf_flat.png', width: '150'), "http://www.codhab.df.gov.br/concourse/original/#{@winner.participation_id}/03.pdf", target: '_blank'
      .col-md-2
        = link_to image_tag('/images/pdf_flat.png', width: '150'), "http://www.codhab.df.gov.br/concourse/original/#{@winner.participation_id}/04.pdf", target: '_blank'
      .col-md-2
        = link_to image_tag('/images/pdf_flat.png', width: '150'), "http://www.codhab.df.gov.br/concourse/original/#{@winner.participation_id}/05.pdf", target: '_blank'
    %br/
    %br/
    %br/
    %br/
    %br/
.row
  .col-md-12{style: 'text-align: center'}
    %br/
    %br/
    = link_to "Voltar para nomeação", new_project_winner_path(@project)