= simple_form_for(@event) do |f|
  .card-body.card-padding
    .row
      .col-md-7
        = f.input :name, input_html: { placeholder: 'Digite o nome da formação'}
      .col-md-3
        = f.label :date, as: 'string', class: 'fg-label'
        = f.input :date, as: 'string', label: false, input_html: { class: 'date', placeholder: '00/00/0000', value: (@event.date) ? localize(f.object.date) : nil}
      .col-md-2
        = f.label :status
        = f.input :status, as: :select, label: false, include_blank: false
    .row
      .col-md-12
        = f.label :description, class: 'fg-label'
        = f.input :description, label: false, input_html: { id: 'content', class: 'tinymce', rows: 10, cols: 80}
    .row
      .col-md-4
        = f.label :situation, class: 'fg-label'
        = f.input :situation, as: :select, label: false, include_blank: false
      .col-md-4
        = f.label :city, class: 'fg-label'
        = f.association :city, label: false, include_blank: false, collection: Address::City.federal_district
      .col-md-4
        = f.input :localization, input_html: {placeholder: 'Digite o nome da localização'}
    %hr/
    .row
      .col-md-12
        = f.button :submit, class: 'btn btn-success', data: {disable_with: t(:disable_with)}
        = link_to t(:button_back) ,social_events_path , class: 'btn btn-default'
