= simple_form_for(@page_category) do |f|
  .col-md-12
    .card
      .card-body.card-padding
        .row
          .col-md-12
            = f.label :name, class: 'fg-label'
            = f.input :name, label: false, input_html: { placeholder: 'Digite um nome'}
        .row
          .col-md-12
            = f.label :status, class: 'fg-label'
            = f.input :custom_field, class: 'toggle-switch', :label => false do
              = check_box_tag :publish
              %label{:for => 'publish', :class => 'ts-helper'}
        .row
          .col-md-12
            = f.button :button, class: 'btn btn-success' do
              Salvar
            = link_to 'Voltar', page_categories_path , class: 'btn btn-danger'
