.page-content
  .panel
    .panel-heading
      .panel-title
        %h4 
          Categoria de Páginas
          = link_to 'Nova Categoria', new_page_category_path, class: 'btn btn-success pull-right btn-sm'
    %hr/
    .panel-body
      %table.table.table-bordered.table-striped.table-hover
        %thead
          %tr
            %th Nome
            %th Publicado
            %th Ações

        %tbody
          - @page_categories.order(:title).each do |page_category|
            %tr
              %td= page_category.title
              %td.col-md-1= status_helper (page_category.status)
              %td.col-md-1
                = link_to '', edit_page_category_path(page_category), class: 'glyphicon glyphicon-pencil btn btn-primary btn-xs'
                = link_to '', page_category, class: 'glyphicon glyphicon-remove btn-xs btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }if policy(:PageCategory, namespace: Cms).destroy?
