%p#notice= notice

%p
  %b Name:
  = @page_category.name
%p
  %b Status:
  = @page_category.status

= link_to 'Edit', edit_page_category_path(@page_category)
\|
= link_to 'Back', page_categories_path
