.row
 .col-md-12
  = simple_form_for @allotment, remote: true do |f|
   .row
    .col-md-12
     = f.label :description, class: 'fg-label'
     = f.input :description, label: false, input_html: { placeholder: 'Digite uma descrição'}
   .row
    .col-md-12
     = f.label :replay_date, as: 'string', class: 'fg-label'
     = f.input :replay_date, as: 'string', label: false, input_html: { class: 'date', placeholder: '00/00/0000' , value: (@allotment.replay_date) ? localize(f.object.replay_date) : nil}
   .row
    - Protocol::Allotment.priorities.each do |key, value|
     .col-md-3
      %label.radio.radio-inline.m-r-20
       %input{:name => "allotment[priority]", :type => "radio", value: "#{key}"}/
       %i.input-helper
        %strong= "#{value}"
     %br
     %br
   .row
    .col-md-12
     = f.button :submit, class: 'btn btn-success'
   %br/
