%p#notice= notice

%p
  %b Name:
  = @post_category.name
%p
  %b Status:
  = @post_category.status

= link_to 'Edit', edit_post_category_path(@post_category)
\|
= link_to 'Voltar',post_categories_path
