= simple_form_for @document, url: restrict_area_documentations_path do |f|
  .row
    .col-md-9
      = f.association :document_category, collection: Entity::DocumentCategory.actives.where.not(id: @entity.documents.map(&:document_category_id)), include_blank: false, prompt: 'selecione o tipo...', hint: "Caso necessário enviar mais de um arquivo para a mesma categoria, favor criar um arquivo zipado com todos e enviar"
    .col-md-2
      = f.input :archive_path, as: :file, hint: "Tamanho máximo 20 MB"
  .row
    .col-md-12
      = f.input :observation, as: :string, input_html: { placeholder: "Descreva aqui observações sobre o documento ou .zip de documentos"}
  .row
    .col-md-12
      = f.submit "Enviar documento", class: 'btn btn-warning btn-sm', data: {disable_with: "Enviando arquivo...."}
