= render 'partials/shared/portal/top_nav'
= render 'partials/shared/portal/header'
%div{class: (controller_name != 'home') ? 'container main' : '' }
  .container
    .row
      .col-md-12.container
        = render 'partials/slider'
        .row
          .col-md-12.bloco_azul.texto-gigante
            %span.texto-bold
              Ação Urbana Comunitária
            %br
            %span
              São Sebastião
            %br
            %span.texto-bold
              25.06 /// 8h às 17h
        .row
          .col-md-6.no_padding
            .imagem-pagina-interna
              = image_tag("/acoes/acao_5.jpg")
          .col-md-6.bloco_rosa.paddingbottom20
            %p.texto_branco.texto_inscrever
              O objetivo do projeto Se Essa Rua Fosse Minha é proporcionar uma nova relação dos moradores  com a rua, qualificando o ambiente público através da melhoria das fachadas e educação ambiental. O projeto faz com que a comunidade se sinta cada vez mais dona dos espaços públicos, de forma que esses lugares tenham mais cores e se tornem mais humanos.
              %br
              %br
              O projeto conta com uma equipe de arquitetos, urbanistas, paisagistas, engenheiros e, principalmente, com apoio da população local, que se unem para pintar as fachadas e promover ações de interação da comunidade. Por se tratar de uma ocupação não planejada, os espaços que formam as vias não se adequam às normas e padrões tradicionais de urbanização, necessitando de soluções criativas em relação à ocupação das calçadas e paisagismo urbano para que o espaço público se torne agradável e confortável.
              %br
              %br
              %strong
                Coordenação: Sandra Marinho, Mateus Rocha, Lucélia Cardoso Duda, Luiz Eduardo Sarmento, Manuella de Carvalho, Daniel Melo, Evelyn Rangel, Rosane de Almeida
              = link_to 'Inscreva-se', action_portal.cadastres_url.to_s + '/new' , class:"action_button action_button_galeria2"
        = render 'partials/contato'
        = render 'partials/home_admin'
= render 'partials/shared/portal/footer'
