= render 'partials/shared/portal/top_nav'
= render 'partials/shared/portal/header'
%div{class: (controller_name != 'home') ? 'container main' : '' }
  .container
    .row
      .col-md-12.container
        = render 'partials/slider'
        .row
          .col-md-12.bloco_azul.texto-gigante
            %span.texto-bold
              Ação Urbana Comunitária
            %br
            %span
              Buritizinho
            %br
            %span.texto-bold
              02.07 /// 8h às 17h
        .row
          .col-md-6.no_padding
            .imagem-pagina-interna
              = image_tag("/acoes/acao_7.jpg")
          .col-md-6.bloco_rosa.paddingbottom20
            %p.texto_branco.texto_inscrever
              %p.texto_branco.texto_inscrever
                Ações urbanas comunitárias é um projeto participativo desenvolvido pela equipe de assistência técnica e pelo atelier de projetos da CODHAB/DF.
                %br
                %br
                Em formato de mutirão, as ações somam a participação de profissionais e estudantes de arquitetura e urbanismo, tanto da companhia quanto voluntários, e dos moradores das comunidades locais.
                %br
                %br
                O intuito é transformar coletivamente o espaço público, conectando governo e sociedade, tornando esta a protagonista da mudança. A seleção das áreas onde acontecem as ações segue critérios específicos.
                %br
                %br
                Interesse e articulação da comunidade para melhorar o lugar, inexistência de infraestrutura ou manutenção, possibilidade de arborização e paisagismo, vazios urbanos públicos, conexão com praças ou espaços de relevância e grande fluxo na comunidade são alguns deles.
                %br
                %br
                Além de identificar os problemas, é preciso observar o potencial do espaço.
                %br
                %br
                %br
              %strong
                Coordenação: Jéssica Costa, Gabriela Heusi, Naiara Chagas, Lucélia Cardoso Duda, Luiz Eduardo Sarmento, Manuella de Carvalho, Daniel Melo, Evelyn Rangel, Rosane de Almeida
              = link_to 'Inscreva-se', action_portal.cadastres_url.to_s + '/new' , class:"action_button action_button_galeria2"
        = render 'partials/contato'
        = render 'partials/home_admin'
= render 'partials/shared/portal/footer'
