= render 'partials/shared/portal/top_nav'
= render 'partials/shared/portal/header'
%div{class: (controller_name != 'home') ? 'container main' : '' }
  .container
    .row
      .col-md-12.no_padding
        .gallerys_title
          %span
            QUEM FAZ A DIFERENÇA

    .row
      .col-md-12.no_padding.box_internal
        - @galerias.each do |galeria|
          .col-md-1
            .date_g
              %span
                = galeria.date.strftime('%d-%m')
          .col-md-11.box_galerias
            %h2{:id => "item_#{galeria.id}"}
              = galeria.title
            %p
              = galeria.content.html_safe
            - if galeria.flickr
              = galeria.flickr.html_safe
      %hr
= render 'partials/shared/portal/footer'
:javascript
