= simple_form_for @staff do |f|
  .row
    .col-md-4
      = f.label :personal_image, as: 'file', class: 'fg-label'
      = f.input :personal_image, as: 'file', label: false, input_html: { placeholder: 'Insira uma imagem'}
    .col-md-4
      = f.label :curriculum, as: 'file', class: 'fg-label'
      = f.input :curriculum, as: 'file', label: false, input_html: { placeholder: 'Insira um arquivo'}
    .col-md-4
      = f.label :avatar, as: 'file', class: 'fg-label'
      = f.input :avatar, as: 'file', label: false, input_html: { placeholder: 'Insira uma imagem'}
  %hr/
  .row
    .col-md-8
      = f.label :name, class: 'fg-label'
      = f.input :name, label: false, input_html: { placeholder: 'Preencha com o nome completo'}
    .col-md-2
      = f.label :code, class: 'fg-label'
      = f.input :code, label: false, input_html: { placeholder: 'Preencha com a matrícula'}
    .col-md-2
      = f.label :cpf, class: 'fg-label'
      = f.input :cpf, label: false, input_html: { placeholder: 'Somente números'}
  .row
    .col-md-2
      = f.label :rg, class: 'fg-label'
      = f.input :rg, label: false, input_html: { placeholder: 'Preencha com o RG'}
    .col-md-2
      = f.label :rg_org, class: 'fg-label'
      = f.input :rg_org, label: false, input_html: { placeholder: 'Preencha o orgão emissor do RG'}
    .col-md-2
      = f.label :born, as: 'string', class: 'fg-label'
      = f.input :born, as: 'string', label: false, input_html: { class: 'date', placeholder: '00/00/0000' , value: (@staff.born) ? localize(f.object.born) : nil}
    .col-md-2
      = f.label :blood_type, class: 'fg-label'
      = f.input :blood_type, label: false, input_html: { placeholder: 'Digite um tipo sanguíneo'}
    .col-md-4
      = f.label :email, class: 'fg-label'
      = f.input :email, label: false, input_html: { placeholder: 'Preencha com um email válido'}
  %hr/
  = f.simple_fields_for :user do |u|
    .row
      .col-md-2
        = u.label :username, class: 'fg-label'
        = u.input :username, label: false, input_html: { placeholder: 'Preencha com uma credencial para acesso à extranet'}
      .col-md-2
        = u.label :password, class: 'fg-label'
        = u.input :password, label: false, input_html: { placeholder: 'Digite uma senha'}
      .col-md-2
        = u.label :password_confirmation, class: 'fg-label'
        = u.input :password_confirmation, label: false, input_html: { placeholder: 'Redigite sua senha'}
  %hr/
  .row
    .col-md-4
      = f.label :sector_origin, class: 'fg-label'
      = f.association :sector_origin, label: false, prompt: 'selecione...'
    .col-md-4
      = f.label :sector_current, class: 'fg-label'
      = f.association :sector_current, label: false, prompt: 'selecione...'
    .col-md-4
      = f.label :job, class: 'fg-label'
      = f.association :job, label: false, prompt: 'selecione...'
  .row
    .col-md-2
      = f.label :branch_line, class: 'fg-label'
      = f.association :branch_line, label: false, label_method: :telephone, prompt: 'selecione...'
    .col-md-2
      = f.label :date_contract, as: 'string', class: 'fg-label'
      = f.input :date_contract, as: 'string', label: false, input_html: { class: 'date', value: f.object.date_contract.present? ? localize(f.object.date_contract) : ''}
    .col-md-2
      = f.label :start_hour, class: 'fg-label'
      = f.input :start_hour,as: 'string', label: false, input_html:  { class: 'hour', value: f.object.start_hour.present? ? localize(f.object.start_hour) : ''}
    .col-md-2
      = f.label :end_hour, class: 'fg-label'
      = f.input :end_hour, as: 'string', label: false, input_html:  { class: 'hour', value: f.object.end_hour.present? ? localize(f.object.end_hour) : ''}
  %hr/
  .row
    .col-md-2
      = f.input :administrator, as: :select, include_blank: false
    .col-md-2
      = f.input :status, as: :select, include_blank: false
    .col-md-2
      = f.input :wekeend, as: :select, include_blank: false
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disabled_button) }
      = link_to 'Voltar', staffs_path(status: true) , class: 'btn btn-dark', data: { disable_with: t(:disabled_button) }
