.card
  .card-header.ch-alt
    %h2
      Usuários
      = link_to 'novo usuário', new_staff_path, class: 'btn btn-success pull-right' if policy(:staff, namespace: Person).create?
      %small Listagem de Usuários
  %hr/
  .row
    = simple_form_for staffs_path, method: :get do |f|
      .col-md-3
        = f.label "Setor"
        = f.input :sector, as: :select, label: false, collection: Person::Sector.status.map { |key| [key.name, key.id]}, selected: params[:sector], include_blank: "Todos", input_html: { name: :sector}
      .col-md-2
        = f.label "Ativo?"
        = f.input :status, as: :select, label: false, selected: params[:status], include_blank: "Todos", input_html: { name: :status}
      .col-md-2.inline-button
        = f.submit "Filtar", name: nil, class: 'btn btn-primary'     
  %hr/
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-condensed.table-striped.datatable
      %thead
        %tr
          %th Nome
          %th Matrícula
          %th Setor Atual
          %th Ramal
          %th Status
          %th Ações
      %tbody.index-user
        = render 'index'
