= render 'layouts/partials/portal/slider'
.homeLatestWrapper
  = render 'layouts/partials/portal/box_notices'
  .tab-fundo
    #maskinfo.container.main.homeLatest
      .container.main.homeLatest
        #Mai.s-info.container.main.homeLatest
          %h1.conquistatxt.conquistatg
            Resultados
            %h6.conquistatxt.conquistasubt
              Janeiro a Junho/2015
          %p.conquistatxt.conq-just
            Neste semestre, a CODHAB entregou 1208 unidades habitacionais (Riacho Fundo II - 1.152 /Samambaia – 56), 567 escrituras para
            regularização de moradias  e 276 termos de concessão de uso. A Companhia também lançou o novo portal, reformulou o atendimento
            CODHAB e ampliou o atendimento eletrônico 24 horas, 7 dias por semana, via central 156. Com a implantação do agendamento CODHAB,
            as filas foram extintas e 100% dos atendimentos realizados com hora marcada. Em média, 450 pessoas são atendidas por dia e cerca de
            10 mil por mês. Além disso, três novos postos de assistência técnica foram abertos no Sol Nascente, Estrutural e QNR /Ceilândia.
          .col-md-4.teste
            = image_tag('maio.png', width: 350)
          .col-md-4.teste
            = image_tag('povo2.png', width: 350)
          .col-md-4.teste
            %h1.conquistatxt.conquistatgsub
              Metas
              %h6.conquistatxt
                Julho a Dezembro/2015
            %p.conquistatxt.conq-just
              Para o segundo semestre estão previstas as entregas de mais 8741 unidades habitacionais e 2863 escrituras relativas à regularização
              de moradias. Outros três novos postos de assistência técnica serão implantados e serão lançados os primeiros concursos públicos de
              projetos habitacionais (arquitetura e urbanismo). A CODHAB também prevê recadastramento e requalificação de 100% das entidades,
              lançamento do cadastro de regularização, implantação do agendamento via o portal da CODHAB e o acompanhamento das obras dos
              empreendimentos. A novidade será o lançamento do aplicativo CODHAB. A ideia é levar os novos serviços até o cidadão e ampliar a
              transparência e o acesso às informações da Companhia.
        #Jun.s-info.container.main.homeLatest
          %h1.conquistatxt.conquistatg
            Resultados
            %h6.conquistatxt.conquistasubt
              Janeiro a Junho/2015
          %p.conquistatxt.conq-just
            Neste semestre, a CODHAB entregou 1208 unidades habitacionais (Riacho Fundo II - 1.152 /Samambaia – 56), 567 escrituras para
            regularização de moradias  e 276 termos de concessão de uso. A Companhia também lançou o novo portal, reformulou o atendimento
            CODHAB e ampliou o atendimento eletrônico 24 horas, 7 dias por semana, via central 156. Com a implantação do agendamento CODHAB,
            as filas foram extintas e 100% dos atendimentos realizados com hora marcada. Em média, 450 pessoas são atendidas por dia e cerca de
            10 mil por mês. Além disso, três novos postos de assistência técnica foram abertos no Sol Nascente, Estrutural e QNR /Ceilândia.
          .col-md-4.teste
            = image_tag('junho.png', width: 350)
          .col-md-4.teste
            = image_tag('povo1.png', width: 350)
          .col-md-4.teste
            %h1.conquistatxt.conquistatgsub
              Metas
              %h6.conquistatxt
                Julho a Dezembro/2015
            %p.conquistatxt.conq-just
              Para o segundo semestre estão previstas as entregas de mais 8741 unidades habitacionais e 2863 escrituras relativas à regularização
              de moradias. Outros três novos postos de assistência técnica serão implantados e serão lançados os primeiros concursos públicos de
              projetos habitacionais (arquitetura e urbanismo). A CODHAB também prevê recadastramento e requalificação de 100% das entidades,
              lançamento do cadastro de regularização, implantação do agendamento via o portal da CODHAB e o acompanhamento das obras dos
              empreendimentos. A novidade será o lançamento do aplicativo CODHAB. A ideia é levar os novos serviços até o cidadão e ampliar a
              transparência e o acesso às informações da Companhia.
        #Jul.s-info.container.main.homeLatest
          %h1.conquistatxt.conquistatg
            Resultados
            %h6.conquistatxt.conquistasubt
              Janeiro a Julho/2015
          %p.conquistatxt.conq-just
            Neste semestre, a CODHAB entregou 1208 unidades habitacionais (Riacho Fundo II - 1.152 /Samambaia – 56), 567 escrituras para
            regularização de moradias  e 276 termos de concessão de uso. A Companhia também lançou o novo portal, reformulou o atendimento
            CODHAB e ampliou o atendimento eletrônico 24 horas, 7 dias por semana, via central 156. Com a implantação do agendamento CODHAB,
            as filas foram extintas e 100% dos atendimentos realizados com hora marcada. Em média, 450 pessoas são atendidas por dia e cerca de
            10 mil por mês. Além disso, três novos postos de assistência técnica foram abertos no Sol Nascente, Estrutural e QNR /Ceilândia.
          .col-md-4.teste
            = image_tag('julho.png', width: 350)
          .col-md-4.teste
            = image_tag('povo3.png', width: 350)
          .col-md-4.teste
            %h1.conquistatxt.conquistatgsub
              Metas
              %h6.conquistatxt
                Julho a Dezembro/2015
            %p.conquistatxt.conq-just
              Para o segundo semestre estão previstas as entregas de mais 8741 unidades habitacionais e 2863 escrituras relativas à regularização
              de moradias. Outros três novos postos de assistência técnica serão implantados e serão lançados os primeiros concursos públicos de
              projetos habitacionais (arquitetura e urbanismo). A CODHAB também prevê recadastramento e requalificação de 100% das entidades,
              lançamento do cadastro de regularização, implantação do agendamento via o portal da CODHAB e o acompanhamento das obras dos
              empreendimentos. A novidade será o lançamento do aplicativo CODHAB. A ideia é levar os novos serviços até o cidadão e ampliar a
              transparência e o acesso às informações da Companhia.
        #Ago.s-info.container.main.homeLatest
          %h1.conquistatxt.conquistatg
            Resultados
            %h6.conquistatxt.conquistasubt
              Janeiro a Agosto/2015
          %p.conquistatxt.conq-just
            Neste semestre, a CODHAB entregou 1208 unidades habitacionais (Riacho Fundo II - 1.152 /Samambaia – 56), 567 escrituras para
            regularização de moradias  e 276 termos de concessão de uso. A Companhia também lançou o novo portal, reformulou o atendimento
            CODHAB e ampliou o atendimento eletrônico 24 horas, 7 dias por semana, via central 156. Com a implantação do agendamento CODHAB,
            as filas foram extintas e 100% dos atendimentos realizados com hora marcada. Em média, 450 pessoas são atendidas por dia e cerca de
            10 mil por mês. Além disso, três novos postos de assistência técnica foram abertos no Sol Nascente, Estrutural e QNR /Ceilândia.
          .col-md-4.teste
            = image_tag('agosto.png', width: 350)
          .col-md-4.teste
            = image_tag('povo4.png', width: 350)
          .col-md-4.teste
            %h1.conquistatxt.conquistatgsub
              Metas
              %h6.conquistatxt
                Julho a Dezembro/2015
            %p.conquistatxt.conq-just
              Para o segundo semestre estão previstas as entregas de mais 8741 unidades habitacionais e 2863 escrituras relativas à regularização
              de moradias. Outros três novos postos de assistência técnica serão implantados e serão lançados os primeiros concursos públicos de
              projetos habitacionais (arquitetura e urbanismo). A CODHAB também prevê recadastramento e requalificação de 100% das entidades,
              lançamento do cadastro de regularização, implantação do agendamento via o portal da CODHAB e o acompanhamento das obras dos
              empreendimentos. A novidade será o lançamento do aplicativo CODHAB. A ideia é levar os novos serviços até o cidadão e ampliar a
              transparência e o acesso às informações da Companhia.
        #Set.s-info.container.main.homeLatest
          %h1.conquistatxt.conquistatg
            Resultados
            %h6.conquistatxt.conquistasubt
              Janeiro a Setembro/2015
          %p.conquistatxt.conq-just
            Neste semestre, a CODHAB entregou 1208 unidades habitacionais (Riacho Fundo II - 1.152 /Samambaia – 56), 567 escrituras para
            regularização de moradias  e 276 termos de concessão de uso. A Companhia também lançou o novo portal, reformulou o atendimento
            CODHAB e ampliou o atendimento eletrônico 24 horas, 7 dias por semana, via central 156. Com a implantação do agendamento CODHAB,
            as filas foram extintas e 100% dos atendimentos realizados com hora marcada. Em média, 450 pessoas são atendidas por dia e cerca de
            10 mil por mês. Além disso, três novos postos de assistência técnica foram abertos no Sol Nascente, Estrutural e QNR /Ceilândia.
          .col-md-4.teste
            = image_tag('setembro.png', width: 350)
          .col-md-4.teste
            = image_tag('povo5.png', width: 350)
          .col-md-4.teste
            %h1.conquistatxt.conquistatgsub
              Metas
              %h6.conquistatxt
                Julho a Dezembro/2015
            %p.conquistatxt.conq-just
              Para o segundo semestre estão previstas as entregas de mais 8741 unidades habitacionais e 2863 escrituras relativas à regularização
              de moradias. Outros três novos postos de assistência técnica serão implantados e serão lançados os primeiros concursos públicos de
              projetos habitacionais (arquitetura e urbanismo). A CODHAB também prevê recadastramento e requalificação de 100% das entidades,
              lançamento do cadastro de regularização, implantação do agendamento via o portal da CODHAB e o acompanhamento das obras dos
              empreendimentos. A novidade será o lançamento do aplicativo CODHAB. A ideia é levar os novos serviços até o cidadão e ampliar a
              transparência e o acesso às informações da Companhia.
        #Out.s-info.container.main.homeLatest
          %h1.conquistatxt.conquistatg
            Resultados
            %h6.conquistatxt.conquistasubt
              Janeiro a Outubro/2015
          %p.conquistatxt.conq-just
            Neste semestre, a CODHAB entregou 1192 unidades habitacionais (Riacho Fundo II - 1.136/Samambaia – 56), 1.348 escrituras para regularização de moradias e 276 termos de concessão de uso.
            A Companhia também lançou o novo portal, reformulou o atendimento CODHAB e ampliou o atendimento eletrônico 24 horas, 7 dias por semana, via central 156. Com a implantação do agendamento CODHAB, as filas foram extintas e 100% dos atendimentos realizados com hora marcada.
            Em média, 680 pessoas são atendidas por dia e cerca de 15 mil por mês. Além disso, três novos postos de assistência técnica foram abertos no Sol Nascente, Estrutural e QNR /Ceilândia.
          .col-md-4.teste
            = image_tag('GRAFICO-outubro.png', width: 350)
          .col-md-4.teste
            = image_tag('povo-outubro.png', width: 350)
          .col-md-4.teste
            %h1.conquistatxt.conquistatgsub
              Metas
              %h6.conquistatxt
                Julho a Dezembro/2015
            %p.conquistatxt.conq-just
              Para o segundo semestre estão previstas as entregas de mais 5.758 unidades habitacionais e 5.268 escrituras relativas à regularização de moradias.
              Outros dois postos de assistência técnica foram abertos em Santa Maria e Pôr do Sol, e o posto da Vila Cauhy está em fase de implementação.
              Os primeiros concursos públicos de projetos habitacionais (arquitetura e urbanismo) serão lançados.
              A CODHAB também prevê recadastramento e requalificação de 100% das entidades, lançamento do cadastro de regularização, implantação do agendamento via o portal da CODHAB e o acompanhamento das obras dos empreendimentos.
              A novidade será o lançamento do aplicativo CODHAB. A ideia é levar os novos serviços até o cidadão e ampliar a transparência e o acesso às informações da Companhia.
    .tab-mes
      %span.bullet{"data-mes" => "Mai"} Mai
      %span.bullet{"data-mes" => "Jun"} Jun
      %span.bullet{"data-mes" => "Jul"} Jul
      %span.bullet{"data-mes" => "Ago"} Ago
      %span.bullet{"data-mes" => "Set"} Set
      %span.bullet{"data-mes" => "Out"} Out
= render 'layouts/partials/portal/box_videos'
