= render 'layouts/portal/partials/slider'
.homeLatestWrapper
  = render 'layouts/portal/partials/box_notices'
  .tab-fundo
    #maskinfo.container.main.homeLatest
      .container.main.homeLatest
        #Mai.s-info.container.main.homeLatest
          %h1.conquistatxt.conquistatg
            Resultados
            %h6.conquistatxt.conquistasubt
              Janeiro a Junho/2015
          %p.conquistatxt.conq-just
            Entrega durante o primeiro semestre de 2015 (Janeiro a Junho) de 1064 Unidades habitacionais e 688 escrituras relativas a regularização de moradias. Reformulação do atendimento CODHAB com implementação de atendimento
            eletrônico 24 horas, 7 dias por semana, via central 156. Eliminação das filas de atendimento da CODHAB através de implantação de agendamento
            para 100% dos atendimentos realizados (são em média 450 atendimentos por dia e cerca de 10.000 pessoas atendidas por mês). Implantação de 03 postos de assistência técnica: Setor Habitacional Sol Nascente, Estrutural e QNR/Ceilândia.
          .five.columns.sidebar.teste
            = image_tag('jeruza/img/circ.png', width: 350)
          .five.columns.sidebar.teste
            = image_tag('jeruza/img/povo2.png', width: 350)
          .five.columns.sidebar.teste
            %h1.conquistatxt.conquistatgsub
              Metas
              %h6.conquistatxt
                Julho a Dezembro/2015
            %p.conquistatxt.conq-just
              Prevista para o segundo semestre de 2015 (Julho a Dezembro) a entrega de mais 8741 unidades habitacionais e 2863 escrituras relativas a regularização de moradias. Prevista a implantação de 03 novos postos de assistência
              técnica e o lançamento de 6 concursos públicos de projetos habitacionais (arquitetura e urbanismo). Previsto o recadastramento e requalificação de 100% das entidades.
        #Jun.s-info.container.main.homeLatest
          %h1.conquistatxt.conquistatg
            Resultados
            %h6.conquistatxt.conquistasubt
              Janeiro a Junho/2015
          %p.conquistatxt.conq-just
            Entrega durante o primeiro semestre de 2015 (Janeiro a Junho) de 1064 Unidades habitacionais e 688 escrituras relativas a regularização de moradias. Reformulação do atendimento CODHAB com implementação de atendimento
            eletrônico 24 horas, 7 dias por semana, via central 156. Eliminação das filas de atendimento da CODHAB através de implantação de agendamento
            para 100% dos atendimentos realizados (são em média 450 atendimentos por dia e cerca de 10.000 pessoas atendidas por mês). Implantação de 03 postos de assistência técnica: Setor Habitacional Sol Nascente, Estrutural e QNR/Ceilândia.
          .five.columns.sidebar.teste
            = image_tag('jeruza/img/circ.png', width: 350)
          .five.columns.sidebar.teste
            = image_tag('jeruza/img/povo1.png', width: 350)
          .five.columns.sidebar.teste
            %h1.conquistatxt.conquistatgsub
              Metas
              %h6.conquistatxt
                Julho a Dezembro/2015
            %p.conquistatxt.conq-just
              Prevista para o segundo semestre de 2015 (Julho a Dezembro) a entrega de mais 8741 unidades habitacionais e 2863 escrituras relativas a regularização de moradias. Prevista a implantação de 03 novos postos de assistência
              técnica e o lançamento de 6 concursos públicos de projetos habitacionais (arquitetura e urbanismo). Previsto o recadastramento e requalificação de 100% das entidades.
    .tab-mes
      %span.bullet{"data-mes" => "Mai"} Mai
      %span.bullet{"data-mes" => "Jun"} Jun

  = image_tag('jeruza/img/Niemeyer.jpg', width: '100%', class: 'rogue')
  = image_tag('jeruza/img/presidencia2.png', width: '100%', class: 'rogue1')
