.col-md-12
  .panel.panel-default
    .panel-body
      = render 'layouts/entity_portal/tabs'
      %br/
      %br/
      .row
        .col-md-12
          %h4
            %b Geral
      .row
        .col-md-12
          %table.table.table-condensed.table-striped.table-bordered
            %thead
              %tr
                %th Item
                %th Requisito
                %th Situação
            %tbody
              %tr
                %td.col-md-8 Cadastro geral completo da entidade
                %td.col-md-2
                  Obrigatório
                %td.col-md-2
                  - if @entity.present? 
                    %span.label.label-success
                      Enviado
                  - else
                    %span.label.label-default
                      Aguardando
              %tr
                %td.col-md-8 Cadastro da diretoria da entidade
                %td.col-md-2
                  Obrigatório
                %td.col-md-2
                  - if @entity.members.count > 0 
                    %span.label.label-success
                      Enviado
                  - else
                    %span.label.label-default
                      Aguardando
              %tr
                %td.col-md-8 Cadastro de imóveis
                %td.col-md-2
                  Opcional
                %td.col-md-2
                  - if @entity.realties.count > 0 
                    %span.label.label-success
                      Enviado
                  - else
                    %span.label.label-default
                      Aguardando
              %tr
                %td.col-md-8 Cadastro de atividades
                %td.col-md-2
                  Opcional
                %td.col-md-2
                  - if @entity.activities.count > 0 
                    %span.label.label-success
                      Enviado
                  - else
                    %span.label.label-default
                      Aguardando

      %hr/
      .row
        .col-md-12
          %h4
            %b Documentos Gerais
      .row
        .col-md-12
          %table.table.table-condensed.table-striped.table-bordered
            %thead
              %tr
                %th Item
                %th Requisito
                %th Situação
            %tbody
              - Entity::DocumentCategory.requireds.order(:name).each do |d|
                %tr
                  %td.col-md-8= d.name
                  %td.col-md-2
                    = d.required ? "obrigatório" : "opcional"
                  %td.col-md-2
                    - if @entity.documents.map(&:document_category_id).include? d.id
                      %span.label.label-success
                        Enviado
                    - else
                      %span.label.label-default
                        Aguardando
      %hr/
      .row
        .col-md-12
          %h4
            %b Documentos Técnicos
      .row
        .col-md-12
          %table.table.table-condensed.table-striped.table-bordered
            %thead
              %tr
                %th Item
                %th Requisito
                %th Situação
            %tbody
              - Entity::DocumentCategory.tecnical.order(:name).each do |d|
                %tr
                  %td.col-md-8= d.name
                  %td.col-md-2
                    = d.required ? "obrigatório" : "opcional"
                  %td.col-md-2
                    - if @entity.documents.map(&:document_category_id).include? d.id
                      %span.label.label-success
                        Enviado
                    - else
                      %span.label.label-default
                        Aguardando
