= simple_form_for @assessment do |f|
 .row
  .col-md-4
   = f.label :document_type, class: 'fg-label'
   = f.association :document_type, prompt: 'selecione...', label: false
  .col-md-4
   -if current_user.sector_current.prefex == '110'
    = f.label :sector, class: 'fg-label'
    = f.association :sector, label:false, collection: Person::Sector.where(prefex: [100,110]), prompt: 'selecione...'
   -else
    = f.input :sector_id, as: :hidden,  input_html:{ value: current_user.sector_current.id}
  .col-md-4
   = f.label :document_number, class: 'fg-label'
   = f.input :document_number, label: false, input_html: {placeholder: 'Gerado pelo sistema', readonly: true}
 .row
  .col-md-4
   = f.label :requesting_unit, class: 'fg-label'
   = f.input :requesting_unit, label: false, input_html: {placeholder: 'Preencha'}
  .col-md-4
   = f.label :external_agency, class: 'fg-label'
   = f.input :external_agency, label: false, input_html: {placeholder: 'Preencha'}
  .col-md-4
   = f.label :recipient, class: 'fg-label'
   = f.input :recipient, label: false, input_html: { placeholder: 'Preencha'}
 .row
  .col-md-4
   = f.label :city, class: 'fg-label'
   = f.input :city, label: false, input_html: { placeholder: 'Preencha'}
  .col-md-4
   = f.label :address, class: 'fg-label'
   = f.input :address, label: false, input_html: { placeholder: 'Preencha'}
  .col-md-4
   = f.label :cpf, class: 'fg-label'
   = f.input :cpf, label: false, input_html: { placeholder: 'Preencha'}
  .col-md-4
   = f.label :cnpj, class: 'fg-label'
   = f.input :cnpj, label: false, input_html: { placeholder: 'Preencha'}
 .row
  .col-md-6
   = f.label :subject, class: 'fg-label'
   = f.input :subject, label: false,  as: :select, collection: (@assessment.document_type.present?) ? Protocol::Subject.where(description: 'DIREG').order(:name) : {}, label_method: :name, value_method: :id, prompt: 'selecione o assunto...', input_html: { value: @assessment.document_type}
  .col-md-6
   = f.input :description_subject, label: false, input_html: { placeholder: 'Digite um complemento do assunto'}
 .row
  .col-md-6
   = f.label :sign_by, class: 'fg-label'
   = f.input :sign_by, label: false, input_html: {placeholder: 'Assinado por'}
  .col-md-6
   = f.label :observation, class: 'fg-label'
   = f.input :observation, as: 'text', label: false, input_html: {placeholder: 'Digite uma observação'}
 .row
  .col-md-4
   = f.label :finalized, class: 'fg-label'
   = f.input :finalized, label: false
  .col-md-3
   = f.label :finalized_date,as: 'string', class: 'fg-label'
   = f.input :finalized_date, as: 'string', label: false, input_html: { class: 'date', placeholder: '00/00/0000' , value: (@assessment.finalized_date) ? localize(f.object.finalized_date) : nil}
 .row
  .col-md-4
   = f.label :responded, class: 'fg-label'
   = f.input :responded, label: false
  .col-md-3
   = f.label :responded_date, as: 'string',class: 'fg-label'
   = f.input :responded_date, as: 'string', label: false, input_html: { class: 'date', placeholder: '00/00/0000' , value: (@assessment.responded_date) ? localize(f.object.responded_date) : nil}
 .row
  .col-md-8
   = f.submit 'salvar' , class: 'btn btn-success btn-sm',data: {disable_with: "carregando..."}
   = link_to "voltar",  assessments_path, class: 'btn btn-default btn-sm',data: {disable_with: "carregando..."}

:javascript

  $(document).ready(function() {

    $("#assessment_document_type_id").on('change', function(){

      $.getJSON("#{api.subject_direg_protocol_document_types_path}?id=" + $(this).val(), function(data) {

        html = "<option value>selecione um assunto...</option>"
        if(data.length > 0) {
          console.log(data)
          for(var i = 0; i < data.length; i++) {
            html += "<option value='"+data[i].id+"'>"+data[i].name+"</option>"
          }

        } else {
          html = "<option value>Não foram encontrados assuntos</option>"
        }
        $("#assessment_subject").html(html)
      });
    });
  });
