.panel.panel-default
  .panel-heading
    .panel-title
      %h4
        Listagem de Documentos
        = link_to 'Novo Documento', new_assessment_path,class: 'pull-right mgl',data: {disable_with: "carregando..."}  if policy(:Assessment, namespace: Protocol).create?
  .panel-body
    .row.form-filter
      .col-md-12
        = simple_form_for  url_for, method: 'get' do |f|
          .row
            .col-md-2
              = f.label 'Processo', class: 'fg-label'
              = f.input :process, label: false, input_html: { name: 'process', value: params[:process], class: 'document_number'}
            .col-md-2
              = f.label 'CPF', class: 'fg-label'
              = f.input :cpf, label: false, input_html: { name: 'cpf', value: params[:cpf], class: 'cpf'}
            .col-md-3
              = f.label 'Tipo de Documento', class: 'fg-label'
              = f.input :doc_type, as: :select, collection: Protocol::DocumentType.all, label: false, prompt: 'selecione...',input_html: { name: 'doc_type', selected: params[:doc_type]}
          .row
            .col-md-4
              = f.label 'Assunto', class: 'fg-label'
              = f.input :subject, as: :select, collection: Protocol::Subject.all, label: false, prompt: 'selecione...',input_html: { name: 'subject', selected: params[:subject]}
            .col-md-4
              = f.label 'Setor', class: 'fg-label'
              = f.input :sector, as: :select, collection: Person::Sector.where(status: true), label: false, prompt: 'selecione...',input_html: { name: 'sector', selected: params[:sector]}
            .col-md-1
              = f.submit 'Pesquisar', name: nil, class:  'btn btn-primary btn-sm', data: {  disable_with: "Pesquisando aguarde..."}
            .col-md-1
              = link_to "Limpar pesquisa",  assessments_path, class: 'btn btn-warning btn-sm',data: {disable_with: "carregando..."}
    .row
      .col-md-12
        %table.table.table-striped.table-bordered.table-condensed.table-hover
          %thead
            %tr
              %th Número
              %th Tipo de Documento
              %th Assunto
              %th Setor
              %th Ações
          %tbody
            - if @assessments.present?
              = render 'index'
    .row
      .col-md-6.col-md-offset-3
        = will_paginate @assessments, renderer: BootstrapPagination::Rails
