.page-content
  .panel
    .panel-heading
      .panel-title
        %h4
          Listagem de Documentos
          = link_to 'Novo Documento', new_assessment_path,class: 'btn btn-success pull-right mgl btn-sm',data: {disable_with: "carregando..."}  if policy(:Assessment, namespace: Protocol).create?
    .panel-body
      .row
        .col-md-12
          = simple_form_for  url_for, method: 'get' do |f|
            .row
              .col-md-2
                = f.label 'Processo', class: 'fg-label'
                = f.input :process, label: false, input_html: { name: 'process', value: params[:process]}
              .col-md-2
                = f.label 'CPF', class: 'fg-label'
                = f.input :cpf, label: false, input_html: { name: 'cpf', value: params[:cpf]}
              .col-md-3
                = f.label 'Tipo de Documento', class: 'fg-label'
                = f.input :doc_type, as: :select, collection: Protocol::DocumentType.all, label: false, prompt: 'selecione a cidade...',input_html: { name: 'doc_type', selected: params[:doc_type]}
              .col-md-2
                %br
                = f.submit 'Pesquisar', name: nil, class:  'btn btn-primary btn-sm', data: {  disable_with: "Pesquisando aguarde..."}
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
        %table#data-table-command.table.table-striped.table-bordered
          %thead
            %tr
              %th Número
              %th Tipo de Documento
              %th Setor
              %th Ações
          %tbody
            - if @assessments.present?
              = render 'index'
      .row
        .col-md-6.col-md-offset-3
          = will_paginate @enterprise_cadastres, renderer: BootstrapPagination::Rails