#pages.tab-pane{:class => (params[:q] == 'paginas' || params[:q].nil?) ? 'active' : '', :role => "tabpanel"}
  .card
    .row
      .col-md-12
        = link_to "Nova página", new_project_page_path(@project), class: 'btn btn-success btn-sm'
    %br/
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table.table.table-striped.table-hover.datatable
        %thead
          %tr.info
            %th.col-md-1 #
            %th Título
            %th Publicada?
            %th Data de criação
            %th URL
            %th Ações
        %tbody
          - @project.pages.each_with_index do |page, index|
            %tr
              %td= index + 1
              %td= page.title
              %td= page.publish ? 'publicada' : 'não publicada'
              %td= page.created_at.strftime('%d/%m/%Y às %H:%M')
              %td= "/concursos/#{@project.slug}/pagina/#{page.slug}"
              %td.col-md-2
                = link_to "", edit_project_page_path(project_id: @project, id: page),class: 'md md-edit btn btn-primary'
                = link_to "", project_page_path(project_id: @project, id: page), method: :delete,class: 'md md-delete btn btn-danger', :data => { :confirm => t(:confirm_delete) } 