- @goods_segeth.each_with_index do |j, i|
 %tr
  %td.col-md-1
   = i + 1
  %td
   = j.code_goods 
  %td
   = j.date_acquisition
  %td
   = j.status ? "Ativo" : "Inativo"
  %td
   = j.sector.name
  %td
   = j.material.name
  %td
   = j.property.name
  
   