.card
  .card-header.ch-alt
    %h2
      Relat贸rios
  .table-responsive{:style => "overflow: hidden; outline: none;"}
    %h2
      .col-sm-6.col-md-4
        .mini-charts-item.bgm-bluegray
          .clearfix
            .chart.stats-bar
              = link_to '', relatorio_index_codhab_path, class: 'md-description'
              %canvas{:height => "45", :style => "display: inline-block; width: 83px; height: 45px; vertical-align: top;", :width => "83"}
            .count
              %h6 Total de Patrim么nios
              %h2= @goods
      .col-sm-6.col-md-4
        .mini-charts-item.bgm-orange
          .clearfix
            .chart.stats-bar
              = link_to '', relatorio_index_codhab_path, class: 'md-description'
              %canvas{:height => "45", :style => "display: inline-block; width: 83px; height: 45px; vertical-align: top;", :width => "83"}
            .count
              %h6 Patrim么nios da CODHAB
              
              %h2= @goods_codhab
      .col-sm-6.col-md-4
        .mini-charts-item.bgm-lightgreen
          .clearfix
            .chart.stats-bar
              = link_to '', relatorio_index_segeth_path, class: 'md-description'
              %canvas{:height => "45", :style => "display: inline-block; width: 83px; height: 45px; vertical-align: top;", :width => "83"}
            .count
              %h6 Patrim么nios da SEGETH
              %h2= @goods_segeth
    

    .row{:style => "margin-left: 2px"}
      .col-md-12
        = simple_form_for @report, :url => url_for(:action => 'termo_propriedade', :controller => 'reports'), remote: true do |f|
          .row
            .col-md-4
              = f.label :property, class: 'fg-label'
              = f.association :property, label: false
          %br/  
          %br/   
          .row
            .col-md-6
              .checkbox
                %label
                  = f.check_box :status
          %br/
          %br/     
          .row{:style => "margin-left: 2px"}
            .col-md-12
            = f.button :button, class: 'btn btn-success' do
              Enviar
        %br/
