.row
 .col-md-12
  = simple_form_for @system_permission, remote: true do |f|
   .row
    .col-md-12
     = f.label :action, class: 'fg-label'
     = f.input :action, label: false, input_html: { placeholder: 'Digite uma ação'}
   .row
    .col-md-12
     = f.label :code, class: 'fg-label'
     = f.input :code, label: false, input_html: { placeholder: 'Digite um código identificador'}
   .row
    .col-md-12
     = f.label :system, class: 'fg-label'
     = f.association :system, label: false
   .row
    .col-md-12
     = f.label :status, class: 'fg-label'
     = f.check_box :status, class: 'toggle-switch'
   .row
    .col-md-12
     = f.button :button, class: 'btn btn-success' do
      Gravar
   %br/
