= javascript_include_tag "//www.google.com/jsapi", "chartkick"

:css 
  .pontuation {
    
  }
.container
  .row
    .col-md-12.box
      .box_internal
        .row
          .col-md-12
            .container
              %h1
                %b Detalhe do Cadastro
              %h4
                = link_to "Ir para listas", url_for('/pagina/43')
                |
                = link_to "Pesquisar CPF", find_candidate_path
              
        %hr/
        .row
          .col-md-12
            .container
              %h2 
                %b Dados do Cadastro
              = link_to "Quais critérios que definem esta posição e situação?", url_for('/pagina/1')
        .row
          .col-md-12
            %table#data-table-command.table.table-striped.table-vmiddle.datatable
              %thead
                %tr
                  %th Status do Cadastro
                  %th Posição
                  %th Última Pontuação
                  %th Data
              %tbody
                %tr
                  %td 
                    %span.label.label-primary
                      Habilitado
                  %td
                    %span.label.label-primary
                      = "#{@candidate.pontuations.order(:code).last.position} º" if @candidate.pontuations.present?
                  %td 
                    %span.label.label-primary
                      = "#{@candidate.pontuations.order(:code).last.total}" if @candidate.pontuations.present?
                  %td 
                    %span.label.label-primary
                      = Date.parse(@candidate.pontuations.order(:code).last.code.to_s).strftime('%d/%m/%Y')
        %hr/
        .row
          .col-md-12
            .container
              %h2 
                %b Dados Pessoais
        .row
          .col-md-12
            %table#data-table-command.table.table-striped.table-vmiddle.datatable
              %thead
                %tr
                  %th{colspan: 3} Nome Completo
                  %th CPF
                  %th RG
                  %th Nascimento
                  %th Idade
              %tbody
                %tr
                  %td{colspan: 3}= @candidate.name 
                  %td= @candidate.cpf 
                  %td= @candidate.rg 
                  %td= @candidate.born.strftime('%d/%m/%Y') 
                  %td= "#{Date.today.year - @candidate.born.year} anos" 
              %thead
                %tr
                  %th Sexo
                  %th Estado Cívil
                  %th Chegada ao DF
                  %th Naturalidade
                  %th Condição Especial
                  %th CID
                  %th NIS
              %tbody
                %tr
                  %td.col-md-1= @candidate.gender 
                  %td.col-md-2= @candidate.civil_state.name if @candidate.civil_state.present?
                  %td.col-md-1= @candidate.arrival_df.strftime('%d/%m/%Y') if @candidate.arrival_df.present?
                  %td.col-md-1= "#{@candidate.place_birth} #{@candidate.born_uf}"  
                  %td.col-md-2= @candidate.special_condition.name if @candidate.special_condition.present?
                  %td.col-md-1= @candidate.cid
                  %td.col-md-1= @candidate.nis
       
        %hr/
        .row
          .col-md-12
            .container
              %h2 
                %b Pontuações
              = link_to "Como funciona a pontuação?"
        %hr/
        .row
          .col-md-12
            .container
              %h3 Linha temporal
            = line_chart @candidate.pontuations.map {|key| [Date.parse(key.code.to_s).strftime('%d/%m/%Y'), key.total]}
          .col-md-12
            .container
              %h3 Detalhamento
            %table.table.table-vmiddle.datatable
              %thead
                %tr
                  %th Data
                  %th Posição
                  %th Renda Familiar
                  %th Tempo de Brasília
                  %th Dependentes
                  %th Condição Especial
                  %th Tempo de Lista
                  %th Total
              %tbody
                - @candidate.pontuations.order('code DESC').each_with_index do |pontuation, index|
                  %tr{style: 'background-color: #F1F1F1'}
                    %td
                      %h4
                        %span.label.label-success
                          %b= Date.parse(pontuation.code.to_s).strftime('%d/%m/%Y')
                    %td 
                      %b= "#{pontuation.position} º"
                    - @last_point = pontuation.position
                    %td= pontuation.income
                    %td= pontuation.bsb
                    %td= pontuation.dependent
                    %td= pontuation.special_condition
                    %td= pontuation.timelist
                    %td= pontuation.total
                  - if pontuation.cadastre_mirror.present?
                    %tr.pontuation{id: "id#{pontuation.id}"}
                      %td{colspan: 2}
                        %b= link_to "Critérios #{Date.parse(pontuation.code.to_s).strftime('%Y')}"
                      %td
                        %b= number_to_currency pontuation.cadastre_mirror.income
                      %td
                        %b= "#{(Date.today.strftime('%Y').to_i - pontuation.cadastre_mirror.arrival_df.strftime('%Y').to_i)} Ano(s)"
                      %td
                        - pontuation.cadastre_mirror.dependent_mirrors.each do |dependent|
                          - if dependent.masculino?
                            %span.label.label-primary
                              %i{class: 'fa fa-male'}
                          - if dependent.feminino?
                            %span.label.label-pink
                              %i{class: 'fa fa-female'}
                        
                      %td
                        %b= pontuation.cadastre_mirror.special_condition.name
                      %td
                    %tr
                      %td{colspan: 9, style: 'background-color: white'}

        %hr/
        .row
          .col-md-12
            .container
              %h2 
                %b Atendimentos & Agendamentos
              = link_to "Realizar agendamento"
        .row
          .col-md-12
            %table#data-table-command.table.table-striped.table-vmiddle.datatable
              %thead
                %tr
                  %th Status
                  %th Convocação
                  %th Observação
                  %th Data
              %tbody
                - @candidate.attendances.order(:created_at).each do |attendance|
                  - unless attendance.attendance_status_id == 99
                    %tr
                      %td= attendance.attendance_status.name if attendance.attendance_status.present?
                      %td= attendance.convocation.name if attendance.convocation.present?
                      %td= attendance.observation
                      %td= attendance.created_at.strftime('%d/%m/%Y às %H:%M')
        %hr/
        .row
          .col-md-12
            .container
              %h2 
                %b Informações da Construtora
        .row
          .col-md-12
            %table#data-table-command.table.table-striped.table-vmiddle.datatable
              %thead
                %tr
                  %th Status
                  %th Observação
                  %th Data
              %tbody
