= simple_form_for @authenticate do |f|
  = f.input :id, as: "hidden", input_html: {value: @id}
  .row
    .col-md-6
      = f.label :procedural_status, class: 'fg-label'
      = f.input :procedural_status, as: :select, label: false, collection: Candidate::ProceduralStatus.all, prompt: 'selecione a cidade...'
    .col-md-12
      = f.label :description, class: 'fg-label'
      = f.input :description, label: false
  .row
    .col-md-3
      = f.label :login, class: 'fg-label'
      = f.input :login, label: false
  .row
    .col-md-3
      = f.label :password, as: 'string', class: 'fg-label'
      = f.input :password, label: false
  .row
    .col-md-12
      = f.submit "Gravar", class: 'btn btn-success'
