.row
  %h4 Informações Básicas
.row
  %table.table.table-striped.table-condensed.table-bordered
    %thead
      %tr
        %th{colspan: 3} Nome Completo
        %th CPF
        %th Nascimento
        %th Idade
    %tbody
      %tr
        %td{colspan: 3}= @cadastre.name
        %td= @cadastre.cpf
        %td= @cadastre.born.strftime('%d/%m/%Y') if @cadastre.born.present?
        %td= "#{@cadastre.age} ano(s)" if @cadastre.born.present?
    %thead
      %tr
        %th Sexo
        %th Estado Cívil
        %th Chegada ao DF
        %th Naturalidade
        %th Condição Especial
        %th CID
        %th NIS
    %tbody
      %tr
        %td.col-md-1= @cadastre.gender
        %td.col-md-1= @cadastre.civil_state.name if @cadastre.civil_state.present?
        %td.col-md-1= @cadastre.arrival_df.strftime('%d/%m/%Y') if @cadastre.arrival_df.present?
        %td.col-md-1= "#{@cadastre.place_birth} #{@cadastre.born_uf}"
        %td.col-md-2= @cadastre.special_condition.name if @cadastre.special_condition.present?
        %td.col-md-1= @cadastre.cid
        %td.col-md-1= @cadastre.nis

%hr/
.row
  %h4 Informações de Contato
.row
  %table.table.table-striped.table-condensed.table-bordered
    %thead
      %tr
        %th Cidade
        %th Endereço
        %th CEP
    %tbody
      %tr
        %td.col-md-2= "#{@cadastre.city.name} / #{@cadastre.city.state.acronym}" if @cadastre.city.present? && @cadastre.city.state.present?
        %td.col-md-2= @cadastre.address
        %td.col-md-1= @cadastre.cep
%br/
.row
  %table.table.table-striped.table-condensed.table-bordered
    %thead
      %tr
        %th Telefone
        %th Telefone Opcional
        %th Celular
        %th E-mail
    %tbody
      %tr
        %td.col-md-2= @cadastre.telephone
        %td.col-md-2= @cadastre.telephone_optional
        %td.col-md-1= @cadastre.celphone
        %td.col-md-1= @cadastre.email.to_s.downcase
%hr/
.row
  %h4 Dependentes
.row
  %table.table.table-striped.table-condensed.table-bordered
    %thead
      %tr
        %th Nome Completo
        %th CPF
        %th Data de nascimento
        %th Sexo
        %th Parentesco
        %th Co-Adquirente
        %th Condição Especial
    %tbody
      - @cadastre.dependents.each do |dependent|
        %tr
          %td.col-md-4= dependent.name
          %td.col-md-1= dependent.cpf
          %td.col-md-2= dependent.born.strftime('%d/%m/%Y') if @cadastre.born.present?
          %td.col-md-1= dependent.gender
          %td.col-md-1= dependent.kinship_id
          %td.col-md-1= (dependent.co_acquirer) ? "#{dependent.percentage}" : "Não"
          %td.col-md-1= (dependent.special_condition_flag) ? "#{dependent.special_condition_id}" : "Não"
%hr/
.row
  %h4 Histórico de situação
.row
  - if @cadastre.list.present?
    %table.table.table-striped.table-condensed.table-bordered
      %thead
        %tr
          %th Situação
          %th Data da situação
      %tbody
        - @cadastre.cadastre_situations.order('id ASC').each do |candidate|
          %tr
            %td= candidate.situation_status.name.upcase if candidate.situation_status.present?
            %td= candidate.created_at.strftime('%d/%m/%Y')
  - else
    Informação não disponível
%hr/
.row
  %h4 Indicado ao empreendimento
.row
  - if @cadastre.enterprise_cadastres.present?
    %table.table.table-striped.table-condensed.table-bordered
      %thead
        %tr
          %th Empreendimento
          %th Data de encaminhamento
      %tbody
        - @cadastre.enterprise_cadastres.each do |enterprise|
          %tr
            %td= enterprise.enterprise.name if enterprise.enterprise.present?
            %td= enterprise.created_at.strftime("%d/%m/%Y")
  - else
    Informação não disponível
  %h4 Atendimentos
.row
  %table.table.table-striped.table-condensed.table-bordered
    %thead
      %tr
        %th Status
        %th Convocação
        %th Observação
        %th Data
    %tbody
      - @cadastre.attendances.order(:created_at).each do |attendance|
        %tr
          %td.col-md-1= attendance.attendance_status_id
          %td.col-md-1= attendance.convocation_id
          %td.col-md-4= attendance.observation
          %td.col-md-1= attendance.created_at.strftime('%d/%m/%Y %H:%M') if attendance.created_at.present?
