.card
  .card-header.ch-alt
    %h2 Boletos Bancários
    = link_to "Nova Cobrança", new_payment_guide_path, class: 'btn btn-success pull-right'
    %small Listagem de tipos de boletos para cobrança
  %hr/
  = form_tag payment_guides_path, method: :get do 
    .row
      .col-md-2 
        = label_tag "data início"
        .fg-line
          = text_field_tag :start, params[:start], value: (params[:start].present?) ? params[:start] : Date.today.beginning_of_month.strftime('%d/%m/%Y'), class: 'form-control date'
      .col-md-2 
        = label_tag "data fim"
        .fg-line
          = text_field_tag :end, params[:end], value: (params[:end].present?) ? params[:end] : Date.today.end_of_month.strftime('%d/%m/%Y'), class: 'form-control date'
      .col-md-2 
        = label_tag "tipo"
        .fg-line
          .select
            = select_tag :type, options_for_select(Finance::TypeGuide.all.collect { |p| [p.title.upcase, p.id]}, params[:type]), {class: 'form-control',prompt: "Todos"}
       
      .col-md-2
        = label_tag "status"
        .fg-line
          .select
            = select_tag :status, options_for_select(['pago','não pago'], params[:status]), {class: 'form-control', prompt: "Todos"}
    
      .col-md-2 
        %br/
        = submit_tag "filtrar", name: nil, class: 'btn btn-primary'
  %hr/
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.datatable
      %thead
        %tr
          %th Tipo
          %th Cobrança
          %th Código
          %th Gerado em
          %th Valor
          %th Status
          %th Nome
          %th CPF
          %th Ações
      %tbody
        - @payment_guides.each do |guide|
          %tr
            %td= guide.type_guide.title if guide.type_guide.present?
            %td= guide.model_guide
            %td= guide.id
            %td= guide.created_at.strftime('%d/%m/%Y ás %H:%M')
            %td= number_to_currency guide.value
            %td= guide.status ? "<span class='label label-success'>pago".html_safe : "<span class='label label-danger'>não pago".html_safe
            %td= guide.name.upcase
            %td= guide.cpf
            %td
              = link_to "", payment_guide_path(guide), class: 'md md-arrow-forward btn btn-success'
            