= simple_form_for(@nav_category) do |f|
  .card-body.card-padding
    .row
      .col-md-6
        = f.label :name, class: 'fg-label'
        = f.input :name, label: false, input_html: { placeholder: 'Digite um nome'}
      .col-md-6
        = f.label :description, class: 'fg-label'
        = f.input :description, label: false, input_html: { placeholder: 'Digite uma descrição'}
    .row
      .col-md-12
        .checkbox
          %label
            = f.check_box :status
            %i.input-helper
            Ativar
            %br/
            %br/
    .row
      .col-md-12
        = f.button :submit, class: 'btn btn-success'
        = link_to 'Voltar',post_categories_path , class: 'btn btn-danger'
