.card
  .card-header.ch-alt
    %h2
      Categorias de Menu
      = link_to 'Nova Categoria', new_nav_category_path, class: 'btn btn-success pull-right' if policy(:NavCategory, namespace: Cms).create?
      %small Listagem de categorias
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
      %thead
        %tr
          %th #
          %th Nome
          %th Publicado
          %th{:colspan => "3"} Ações

      %tbody
        - @nav_categories.each_with_index do |nav, i|
          %tr
            %td= i + 1
            %td= nav.name
            %td= status_helper (nav.status)
            %td.col-md-2
              = link_to '', edit_nav_category_path(nav), class: 'md md-edit btn btn-primary' if policy(:NavCategory, namespace: Cms).update?
              = link_to '', nav, class: 'md md-delete btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }if policy(:NavCategory, namespace: Cms).destroy?
