%ul.list-group
  - if @project.aberto?
    %li.list-group-item= link_to "Inscrição", concourse_portal.project_subscribes_path(@project) 
  - if @project.consultation
    %li.list-group-item= link_to "Enviar consulta", concourse_portal.new_project_consult_path(@project) 
%ul.list-group
  %li.list-group-item= link_to "Início", concourse_portal.project_path(@project) 
  - @project.navs.each do |nav|
    - if nav.url?
      %li.list-group-item= link_to "#{nav.label}", nav.url, target: "#{nav.target}"
    - if nav.página?
      %li.list-group-item= link_to "#{nav.label}", concourse_portal.project_page_path(project_id: @project, id: nav.page), target: "#{nav.target}" 