.page-content

  .documents-wrap.article
    #articleAffix.article-sidebar.affix-top
      %ul.list-group.nav
        %li.list-group-item
          = simple_form_for url_for, method: :get do |f|
            .row
              .col-md-12
                = f.input :cpf, label: false, input_html: { name: 'cpf', placeholder: "Digite o CPF", value: params[:cpf]}
            .row
              .col-md-12
                = f.input :old_process, label: false, input_html: { name: 'old_process', placeholder: "Digite o Processo", value: params[:old_process]}
            .row
              .col-md-12
                = f.input :city, as: :select, collection: Address::City.federal_district, label: false, prompt: 'selecione a cidade...',input_html: { name: 'city', selected: params[:city]}
            .row
              .col-md-12
                = f.input :block, as: :select, label: false, collection: (@address.city.present?) ? Address::Unit.select(:block).where(city_id: @address.city).distinct : {}, label_method: :block, value_method: :block, prompt: 'selecione a quadra...', input_html: { value: @address.city}
            .row
              .col-md-12
                = f.input :group, as: :select, label: false, collection: (@address.city.present? &&  @address.block.present? ) ? Address::Unit.select(:group).where(city_id: @address.city, block: @address.block).distinct : {}, label_method: :group, value_method: :group, prompt: 'selecione a conjunto...', input_html: { value: @address.block}
            .row
              .col-md-12
                = f.input :unit, as: :select, label: false, collection: (@address.city.present? &&  @address.block.present? && @address.group.present? ) ? Address::Unit.select(:unit).where(city_id: @address.city,block: @address.block, group: @address.group).order(:unit) : {}, label_method: :unit, value_method: :unit, prompt: 'selecione a unidade...', input_html: { value: @address.unit,name: 'id', selected: params[:id]}
            .row
              .col-md-12
                = f.submit "Pesquisar", name: nil, class: 'btn btn-success btn-sm', data: { disable_with: t(:disabled_button)}
    .article-content
      %section
        %h2.bold Assentados
      %hr/
      %section
        - if @candidate.present?
          .row
            .col-md-12
              .bootstrap-table
                %table.table.table-striped.table-bordered.table-condensed
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Nome
                      %th CPF
                      %th Status
                      %th Situação de Processo
                  %tbody
                    %tr
                      - if @candidate.cadastre.present?
                        %td= @candidate.cadastre.name
                        %td= @candidate.cadastre.cpf
                        %td= @candidate.cadastre.current_situation_name
                        %td= @candidate.cadastre.cadastre_procedurals.last.procedural_status.name.upcase
          -if @candidate.unit.present?
            .row
              .col-md-12
                .bootstrap-table
                  %table.table.table-striped.table-bordered.table-condensed
                    %thead{:style => "display: table-header-group;"}
                      %tr
                        %th{:colspan => "2"} Endereço
                        %th Cidade
                        %th Data TCU
                    %tbody
                      %tr
                        %td{:colspan => "2"}= @candidate.unit.complete_address
                        %td= @candidate.unit.city.name
                        %td= @candidate.created_at.strftime('%d/%m/%Y')
                    %thead{:style => "display: table-header-group;"}
                      %tr
                        %th Doado
                        %th Escriturado
                        %th Inscrição IPTU
                        %th Situação do Imóvel
                    %tbody
                      %tr
                        %td= @candidate.unit.donate ? "Sim" : "Não"
                        %td= @candidate.unit.registry_units.last.situation
                        %td= @candidate.unit.registration_iptu
                        %td= @candidate.unit.situation_unit.description
            %hr
            .row
              .col-md-12
                = link_to "Assentar", edit_cadastre_address_path(@candidate.unit.id), class: 'btn btn-warning btn-sm'
:javascript

  $(document).ready(function() {

    $("#_candidatos_enderecos_city").on('change', function(){

      $.getJSON("#{address.blocks_path}?city_id=" + $(this).val(), function(data) {

        html = "<option value>selecione...</option>"
        if(data.length > 0) {
          console.log(data)
          for(var i = 0; i < data.length; i++) {
            html += "<option value='"+data[i].block+"'>"+data[i].block+"</option>"
          }

        } else {
          html = "<option value>Não foram encontradas quadras</option>"
        }

        $("#_candidatos_enderecos_unit").html("<option value>selecione...</option>")
        $("#_candidatos_enderecos_group").html("<option value>selecione...</option>")
        $("#_candidatos_enderecos_block").html(html)

      });
    });


    $("#_candidatos_enderecos_block").on('change', function(){
      $.getJSON("#{address.groups_path}?block="
                + $(this).val() +"&city_id="
                + $("#_candidatos_enderecos_city").val(), function(data) {

        html = "<option value>selecione...</option>"
        if(data.length > 0) {

          for(var i = 0; i < data.length; i++) {
            html += "<option value='"+data[i].group+"'>"+data[i].group+"</option>"
          }

        } else {
          html = "<option value>Não foram encontrados conjuntos</option>"
        }

        $("#_candidatos_enderecos_group").html(html)

      });
    });


    $("#_candidatos_enderecos_group").on('change', function(){
      $.getJSON("#{address.all_units_path}?"
                + "block=" + $("#_candidatos_enderecos_block").val()
                + "&city_id=" + $("#_candidatos_enderecos_city").val()
                + "&group=" + $(this).val(),function(data) {

        html = "<option value>selecione...</option>"
        if(data.length > 0) {

          for(var i = 0; i < data.length; i++) {
            html += "<option value='"+data[i].id+"'>"+data[i].unit+"</option>"
          }

        } else {
          html = "<option value>Não foram encontrados conjuntos</option>"
        }

        $("#_candidatos_enderecos_unit").html(html)

      });
    });



    $("#_candidatos_enderecos_unit").on('change', function(){
      $.getJSON("#{address.show_unit_path}?unit=" + $(this).val(),function(data) {
          $("#_candidatos_enderecos_id").val(data.id)
      });
    });
  });

