= simple_form_for(@monitor_service_order) do |f|
  = f.error_notification

  .form-inputs
    = f.input :appointment
    = f.input :attachment
    = f.input :name
    = f.input :status
    = f.association :order_service

  .form-actions
    = f.button :submit
