.row
 .col-md-12
  .card
   .card-header.ch-alt.bgm-bluegray
    %h2
     Apontamentos Inclusos
     %ul.actions
      %li
      -if @order_service.status == "closed"
      -else
       = link_to '<i class="md md-forum c-white" alt="Smiley face"></i>'.html_safe, new_order_service_monitor_service_order_path, remote: true, class: ' pull-right', title: "Incluir Apontamento" if policy(:MonitorServiceOrder, namespace: Helpdesk).create?

   .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped
     %thead
      %tr
       %th #
       %th Anexo
       %th Apontamento
     %tbody
     - @monitor_service_orders.each_with_index do |j, i|
      %tr
       %td 
        = j.id
       %td
        = link_to '<i class="md md-attach-file"></i>'.html_safe, get_image_path(j), remote: true  if j.attachment?           
       %td
        = j.appointment if j.present?
        %br/ 
        %ul.actions.pull-right
         %small.ms-date
          %i.md.md-perm-identity
           = j.staff.name if j.present?
          %i.md.md-access-time   
           = j.created_at.strftime("%d/%m/%Y - %H:%M") 
          
            
          
