= simple_form_for @order_service, url:  order_service_path(@order_service.id, @monitor_service_order.id) do |f|
 .card

 .card
  .card-header{class: (@order_service.status == "solved") ? 'bgm-green' : 'bgm-red'}
   %h2
    Ordem de serviço #
    = @order_service.number
   %ul.actions
    %li
     = link_to '<i class="md  md-thumb-up c-white waves-effect"></i>'.html_safe,order_service_monitor_service_order_assume_path(@order_service.id, @monitor_service_order.id), remote: true, class: 'pull-right', title: "Assumir" if policy(:Attendant, namespace: Helpdesk).create?
    %li
     = link_to '<i class="md md-done-all c-white"></i>'.html_safe,order_service_monitor_service_order_close_order_service_path(@order_service.id, @monitor_service_order.id), remote: true, class: 'pull-right', title: "Finalizar" if policy(:Attendant, namespace: Helpdesk).create?
    %li
     -if @order_service.status == "closed" && @order_service.staff_id == current_user.account.id
      = link_to '<i class="md md-trending-up c-white"></i>'.html_safe,order_service_monitor_service_order_open_again_path(@order_service.id, @monitor_service_order.id), remote: true, class: 'pull-right', title: "Reabrir Chamado" if policy(:MonitorServiceOrder, namespace: Helpdesk).open_again?
     -else
  .card-body.card-padding
   .row
    .col-md-4
     = f.label "Assunto:", class: 'label_order_service'
     = @order_service.subject
     %br

     = f.label "Categoria:", class: 'label_order_service'
     = @order_service.category_i18n
     %br
     = f.label "Aberto por:", class: 'label_order_service'
     = @order_service.opened_by.name
     %br
     = f.label "Solicitante:", class: 'label_order_service'
     = @order_service.staff.name
     %br
     = f.label "Setor:", class: 'label_order_service'
     = @order_service.sector.name
     %br
     = f.label "Ramal:", class: 'label_order_service'
     = @order_service.branch_line.telephone
     %br
     = f.label "Status:", class: 'label_order_service'
     = @order_service.status_i18n
     %br
     = f.label "Responsável:", class: 'label_order_service'
     = @order_service.responsible ? @order_service.responsible.name : "Untec"
     %br
     - if policy(:MonitorServiceOrder, namespace: Helpdesk).assume?
      = f.label "Prazo Final:", class: 'label_order_service'
      = f.input :deadline, as: 'string', label: false, input_html: { class: 'date',  value: (@order_service.deadline) ?  localize(f.object.deadline) : nil}
     - else
      = f.label "Prazo Final:", class: 'label_order_service'
      = @order_service.deadline.strftime("%d/%m/%Y")
     %br/
     = f.button :submit, class: 'btn btn-success' if policy(:MonitorServiceOrder, namespace: Helpdesk).assume?
    .col-md-3.pull-right
     .card
      .card-header
       %h6
        = f.label "Etiqueta", class: 'label_order_service'
        = @order_service.good.code_goods if @order_service.good.present?
       %h6
        = f.label "Material:", class: 'label_order_service'
        = @order_service.good.material.name if @order_service.good.present?
       %h6
        = f.label "Nº de Seriel: 851984", class: 'label_order_service'
