.row
 .col-md-12
  .card
   .card-header.ch-alt
    %h5
     Apontamentos Inclusos
     %ul.actions
      %li
       = link_to '<i class="md md-add-circle"></i>'.html_safe, new_order_service_monitor_service_order_path, remote: true, class: ' pull-right'
  .card-body.card-padding
   .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
     %thead
      %tr
       %th #
       %th Imagem
       %th Apontamento
     %tbody
     - @monitor_service_orders.each_with_index do |j, i|
      %tr
       %td
        = j.id
       %td
        = link_to '<i class="md md-attach-file"></i>'.html_safe, j.attachment_url
       %td
        = j.appointment if j.present? 
        %ul.actions.pull-right
         %li
          %span.c-black Autor:
          %span 
           = j.staff.name if j.present? 
          %span.c-black  Data/Hora:
          %span 
           = j.created_at.strftime("%d/%m/%Y - %H:%M") 
          
            
          
