= simple_form_for(@order_service) do |f|
 - if flash[:notice]
  .card
   .notice.alert.alert-success.text-center= flash[:notice]
 .card
  .card-header{class: (@order_service.status == false) ? 'bgm-green' : 'bgm-red'} 
   %h2
    Ordem de serviço #
    = @order_service.number
   %ul.actions
    %li
     = link_to '<i class="md  md-thumb-up c-white waves-effect"></i>'.html_safe,order_service_monitor_service_order_assume_path(@order_service.id, @monitor_service_order.id), remote: true, class: 'pull-right', title: "Assumir" if policy(:MonitorServiceOrder, namespace: Helpdesk).assume?
    %li
     = link_to '<i class="md md-done-all c-white"></i>'.html_safe, order_service_monitor_service_order_close_order_service_path(@order_service.id, @monitor_service_order.id), remote: true, class: 'pull-right', title: "Finalizar" if policy(:MonitorServiceOrder, namespace: Helpdesk).close_order_service?
    %li
     = link_to '<i class="md md-trending-up c-white"></i>'.html_safe, order_service_monitor_service_order_open_again_path(@order_service.id, @monitor_service_order.id), remote: true, class: 'pull-right', title: "Reabrir Chamado" if policy(:MonitorServiceOrder, namespace: Helpdesk).open_again?

  .card-body.card-padding
   .row
    .col-md-4
     = f.label "Assunto:", class: 'label_order_service'
     = @order_service.subject
     %br
     = f.label "Categoria:", class: 'label_order_service'
     = @order_service.category
     %br
     = f.label "Aberto por:", class: 'label_order_service'
     = @order_service.opened_by.name
     %br
     = f.label "Solicitante:", class: 'label_order_service'
     = @order_service.staff.name
     %br
     = f.label "Setor:", class: 'label_order_service'
     = @order_service.sector.name
     %br
     = f.label "Ramal:", class: 'label_order_service'
     = @order_service.branch_line.telephone
     %br
     = f.label "Status:", class: 'label_order_service'
     = @order_service.status
     %br
     = f.label "Responsável:", class: 'label_order_service'
     = @order_service.responsible ? @order_service.responsible.name : "Untec"
    .col-md-3.pull-right
     .card
      .card-header
       %h6
        = f.label "Etiqueta", class: 'label_order_service'
        = @order_service.good.code_goods
       %h6
        = f.label "Material:", class: 'label_order_service'
        = @order_service.good.material.name 
       %h6
        = f.label "Nº de Seriel: 851984", class: 'label_order_service'
   