<p id="notice"><%= notice %></p>

<h1>Listing Monitor Service Orders</h1>

<table>
  <thead>
    <tr>
      <th>Appointment</th>
      <th>Attachment</th>
      <th>Name</th>
      <th>Status</th>
      <th>Order service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monitor_service_orders.each do |monitor_service_order| %>
      <tr>
        <td><%= monitor_service_order.appointment %></td>
        <td><%= monitor_service_order.attachment %></td>
        <td><%= monitor_service_order.name %></td>
        <td><%= monitor_service_order.status %></td>
        <td><%= monitor_service_order.order_service_id %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
