= simple_form_for(@order_service) do |f|
  .card-body.card-padding
    .row
      .col-md-6
        = f.label "Solicitante", class: 'fg-label'
        = @order_service.user.name
    .row
      .col-md-12
        = f.label "Setor", class: 'fg-label'
        = @order_service.user.sector_current.name
    .row
      .col-md-3
        = f.label "Status", class: 'fg-label'
        = @order_service.status.name
      .col-md-3
        
      .col-md-3
    
    .row
      .col-md-4
        = f.label "Ramal", class: 'fg-label'
        = @order_service.branch_line.telephone
      .col-md-4
        
      .col-md-4    
    .row
      .col-md-4
        = f.label "Patrimônio", class: 'fg-label'
        = @order_service.good.code_goods
      .col-md-4
        
      .col-md-4
    .row
      .col-md-4
        = f.label "Apontamento", class: 'fg-label'
        = @monitor_service_order.appointment  
    .row
      .col-md-12
        = f.button :submit, class: 'btn btn-success'

