.card
  .card-header.bgm-red
    %h2
      Ordem de serviço #
      = @order_service.number
    %ul.actions
      %li
        %a{:href => "", :alt => "Cancelar"}
          %i.md.md-local-hotel
      %li
        %a{:href => ""}
          %i.md.md-people
      %li
        %a{:href => ""}
          %i.md.md-favorite-outline
      %li
        %a{:href => ""}
          %i.md.md-print
  = simple_form_for(@order_service) do |f|
    .card-body.card-padding
      .row
        .col-md-8
          = f.label "Solicitante", class: 'fg-label'
          = @order_service.user.name
          %br
          = f.label "Setor", class: 'fg-label'
          = @order_service.user.sector_current.name
          %br
          = f.label "Status", class: 'fg-label'
          = @order_service.status.name
          %br
          = f.label "Ramal", class: 'fg-label'
          = @order_service.branch_line.telephone
          %br
          = f.label "Responsável", class: 'fg-label'
          = @monitor_service_order.appointment
        .col-md-4
          .card
            .card-header
              %h6
                Etiqueta:
                = @order_service.good.code_goods
              %h6
                Material : Monitor
                = @order_service.good.material
              %h6
                Nº de Serie : 3255sdse8
                = @order_service.good.material    

      .row
        .col-md-12
          .card
            .card-header.ch-alt
              %h5
                Apontamentos
              %ul.actions
                %li
                  %a{:href => "", :alt => "Cancelar"}
                    %i.md.md-add-circle
            .card-body.card-padding
              .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
                %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
                  %thead
                    %tr
                      %th #
                      %th Imagem
                      %th Apontamento
                      

                  %tbody
                    %tr
                      %td
                        2
                      %td
                        %a{:href => "", :alt => "Cancelar"}
                          %i.md.md-attachment
                      %td
                        Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                    %tr
                      %td
                        1
                      %td
                        %a{:href => "", :alt => "Cancelar"}
                          %i.md.md-attachment
                      %td
                        Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.  
      .row
        .col-md-12
          
