<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment:</strong>
  <%= @monitor_service_order.appointment %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @monitor_service_order.attachment %>
</p>

<p>
  <strong>Name:</strong>
  <%= @monitor_service_order.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @monitor_service_order.status %>
</p>

<p>
  <strong>Order service:</strong>
  <%= @monitor_service_order.order_service %>
</p>

<%= link_to 'Edit', edit_monitor_service_order_path(@monitor_service_order) %> |
<%= link_to 'Back', monitor_service_orders_path %>
