.container
  .fundo_branco
    .slidetop
      %img{:alt => "slider", :src => "/images/sliderhabita6.png", :class =>"widthimg"}/
    .col-md-12
      -# .col-md-12.title1
      -#   %img{:alt => "Habita Brasília", :src => "/images/title1.png", :class =>"logo_habita"}/
      .margint50
        .col-md-3.icon_home_habita

          = link_to image_tag("/images/habita-conheca.png"), "#conhecaoprograma"
          %h3
            Conheça o Programa
          .texto-icon
            Novo programa de habitação do Distrito Federal, com mais soluções para quem precisa de moradia.
        .col-md-3.icon_home_habita
          = link_to image_tag("/images/habita-como-funciona.png"), "#quemparticipa"
          %h3
            Quem Participa
            %br
          .texto-icon
            O Habita Brasília vai atender famílias já cadastradas na lista da CODHAB no programa Minha Casa Minha Vida.
        .col-md-3.icon_home_habita

          = link_to image_tag("/images/habita-5eixos.png"), "#5eixos"

          %h3
            5 Eixos
          .texto-icon
            Diversidade na oferta de habitação de interesse social,considerando o planejamento das cidades.
        .col-md-3.icon_home_habita
          = link_to image_tag("/images/habita-perguntas.png"), "#perguntas"
          %h3
            Perguntas Frequentes
          .texto-icon
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius varius sapien, vitae ornare velit.
    .margint50
    .col-md-12.image_bloco_responsivo#conhecaoprograma.no_padding
      %img{:alt => "Conheça o Programa", :src => "/images/blocoimagem2.png", :class =>"widthimg"}/
    .col-md-12.bloco_responsivo
      %h3.title_bloco_responsivo
        Conheça o Programa
      %p.texto_bloco_responsivo
        Linha de ação que tem como objetivo garantir a qualidade das residências de interesse social. Por essa modalidade, os arquitetos da Codhab
        realizam projetos de arquitetura para reforma em casas de famílias que vivem em situação precária. Atualmente, já existem 10 postos de
        assistência técnica da Codhab que realizam essa atividade e também são responsáveis pela medição de conflitos em áreas de regularização.
        Os postos ainda desenvolvem projetos de melhorias nas ruas, parques e áreas públicas das comunidades onde estão instalados.
        Queremos um futuro de desenvolvimento compromissado com o meio ambiente.Para isso, vamos atuar fortemente na melhoria dos espaços públicos e
        dinamizar a economia.Para atender melhor à demanda, ampliamos as alternativas. Assim, o Habita Brasília terá cinco frentes: Lote Legal;
        Projetos na Medida; Morar Bem;Auguel Legal e Portas Abertas.
    .col-md-12
      .h3.title_habita1#quemparticipa
        Quem Participa
    .margint50
      .col-md-4.icon_funciona
        %img{:alt => "icone familia", :src => "/images/family.png", :style => "height: 170px; margin-top: 20px;"}/
      .col-md-4.icon_funciona
        %h3.text_funciona
          O Habita Brasília vai atender as famílias já cadastradas na lista da CODHAB que tenham,
          preferencialmente, com a renda até  três salários mínimos (R$2640), podendo ser estendido até o valor de R$6500, referente ao programa do Minha Casa Minha Vida.
          Os habilitados serão convocados de acordo com a ordem de pontuação, da mesma forma que já acontecia.
      .col-md-4.icon_funciona
        %h3.text_funciona
          Para ter acesso à lista, o candidato pode fazer uma pesquisa pelo próprio
          = link_to "CPF", "http://www.codhab.df.gov.br/habitacao/pesquisa-cpf", :target => "_blank"
          ou pela
          = link_to "situação do candidato", "http://www.codhab.df.gov.br/habitacao/pesquisa-cpf", :target => "_blank"
          , basta acessar o
          = link_to "portal", "http://www.codhab.df.gov.br", :target => "_blank"
          da Companhia
          , na aba habitação.
          %br
          Para mais informações ligar no 156, opçao 5.
    .margint50
      .col-md-12.image_bloco_responsivo.no_padding#5eixos
        %img{:alt => "5 Eixos", :src => "/images/blocoimagem3.png", :class =>"widthimg image_bloco_responsivo"}/
    .col-md-12.bloco_responsivo
      %h3.title_bloco_responsivo
        5 Eixos
      %h3.title_responsivo
        Lote legal
      %p.texto_bloco_responsivo
        Modalidade que oferece lotes urbanizados e regularizados para pessoas físicas e entidades inscritas no cadastro da Companhia de
        Desenvolvimento Habitacional do Distrito Federal (Codhab). Ou seja, terrenos com ruas pavimentadas e com infraestrutura de abastecimento
        de água, e com esgotamento sanitário, energia e iluminação pública. Além disso, próximo aos centros de emprego e a serviços públicos,
        como escolas e postos de saúde. Essa linha também vai disponibilizar para os contemplados projetos arquitetônicos para a construção das
        moradias, além da supervisão dos profissionais da Codhab para garantir a segurança do local. As ações de regularização, com a entrega de
        escrituras, também estão amparadas por essa ação de governo.
    .col-md-12.bloco_responsivo
      %h3.title_responsivo
        Projeto na medida
      %p.texto_bloco_responsivo
        Linha de ação que tem como objetivo garantir a qualidade das residências de interesse social. Por essa modalidade, os arquitetos da Codhab
        realizam projetos de arquitetura para reforma em casas de famílias que vivem em situação precária. Atualmente, já existem 10 postos de
        assistência técnica da Codhab que realizam essa atividade e também são responsáveis pela medição de conflitos em áreas de regularização.
        Os postos ainda desenvolvem projetos de melhorias nas ruas, parques e áreas públicas das comunidades onde estão instalados.
    .col-md-12.bloco_responsivo
      %h3.title_responsivo
        Morar Bem (produção de unidades habitacionais)
      %p.texto_bloco_responsivo
        Modalidade que produz unidades imobiliárias em áreas urbanas, com recursos do Minha Casa Minha Vida, para inscritos na lista da Codhab.
    .col-md-12.bloco_responsivo
      %h3.title_responsivo
        Aluguel legal
      %p.texto_bloco_responsivo
        Destina-se às famílias de renda mais baixa, em especial as que moram de aluguel e gastam mais de 30% do rendimento, aos idosos e à população
        vulnerável. Para eles, o governo oferecerá moradia, próximo dos empregos e de serviços públicos, com valores mais baixos que os praticados no
        mercado de locação. Quem participa dessa linha do programa continua na lista de atendimento habitacional, aguardando ser contemplado em outra modalidade.
    .col-md-12.bloco_responsivo
      %h3.title_responsivo
        Portas abertas
      %p.texto_bloco_responsivo
        Incentivo do governo ao setor da construção civil para que sejam disponibilizadas unidades imobiliárias em valor compatível com a renda dos beneficiários.
        O público-alvo é a família que tem rendimentos de até R$ 6.500
    .col-md-12
      .h3.title_habita1#perguntas
        Perguntas Frequentes
    .col-md-12.perguntasfooter
      .text_perguntas
        %h3
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque blandit, ex a gravida porttitor, libero turpis consequat purus, at elementum felis massa blandit purus. Fusce molestie eleifend faucibus. Nunc blandit tellus ac massa dignissim, in aliquam turpis finibus.
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque blandit, ex a gravida porttitor, libero turpis consequat purus, at elementum felis massa blandit purus. Fusce molestie eleifend faucibus. Nunc blandit tellus ac massa dignissim, in aliquam turpis finibus.
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque blandit, ex a gravida porttitor, libero turpis consequat purus, at elementum felis massa blandit purus. Fusce molestie eleifend faucibus. Nunc blandit tellus ac massa dignissim, in aliquam turpis finibus.
