.row
  .col-md-12
    %h1 
      %b Vencedores
.row
  .col-md-12  
    - if @project.result_date.present? && Time.now > @project.result_date
      .row
        .col-md-12
          = @project.result_description.html_safe
      .row
        .col-md-12
          - if @project.result_document.present?
            = link_to "Baixar ata de resultado", @project.result_document_url, target: '_blank' if @project.result_document.present?
      - @project.winners.order('winner_type DESC').each do |winner|
        .row
          .col-md-12
            %p
              %h2
                %b= winner.winner_type.humanize
            %p
              %h3 #{winner.participation.candidate.name} - Nº da pasta: #{winner.participation_id} -  Nº de inscrição: #{winner.participation.candidate_id}
            %p
              %h4
                %i= winner.participation.team_description
        %hr/
        .row  
          .col-md-2{style: 'text-align: center'}
            = link_to image_tag('/images/pdf_flat.png', width: 100), "http://www.codhab.df.gov.br/concourse/original/#{winner.participation.id}/01.pdf", target: '_blank'
            %p Prancha 01
          .col-md-2{style: 'text-align: center'}
            = link_to image_tag('/images/pdf_flat.png', width: 100), "http://www.codhab.df.gov.br/concourse/original/#{winner.participation.id}/02.pdf", target: '_blank'
            %p Prancha 02
          .col-md-2{style: 'text-align: center'}
            = link_to image_tag('/images/pdf_flat.png', width: 100), "http://www.codhab.df.gov.br/concourse/original/#{winner.participation.id}/03.pdf", target: '_blank'
            %p Prancha 03
          .col-md-2{style: 'text-align: center'}
            = link_to image_tag('/images/pdf_flat.png', width: 100), "http://www.codhab.df.gov.br/concourse/original/#{winner.participation.id}/04.pdf", target: '_blank'
            %p Prancha 04
          .col-md-2{style: 'text-align: center'}
            = link_to image_tag('/images/pdf_flat.png', width: 100), "http://www.codhab.df.gov.br/concourse/original/#{winner.participation.id}/05.pdf", target: '_blank'
            %p Prancha síntese
        %hr/
    - else
      .row
        .col-md-12
          %p
            %h4 Os vencedores deste concurso ainda não estão disponíveis.