= simple_form_for(@convocation) do |f|
  .card-body.card-padding
    .row
      .col-md-12
        = f.label :description, class: 'fg-label'
        = f.input :description, as: :string, label: false, input_html: { placeholder: 'Digite uma descrição para a convocação'}
    .row
      .col-md-12
        = f.label :criterion, class: 'fg-label'
        = f.input :criterion, as: :string, label: false, input_html: { placeholder: 'Digite os critérios da convocação'}
    .row
      .col-md-2
        = f.label 'Início', class: 'fg-label'
        = f.input :start,as: :string, label: false, prompt: 'selecione...', input_html: { class: 'date' ,value: (@convocation.start) ? localize(f.object.start) : nil}
      .col-md-2
        = f.label 'Fim', class: 'fg-label'
        = f.input :end, as: :string, label: false, prompt: 'selecione...', input_html: { class: 'date', value: (@convocation.end) ? localize(f.object.end) : nil }
      .col-md-2
        = f.label :quantity, class: 'fg-label'
        = f.input :quantity, as: :string, label: false
      .col-md-2
        = f.label :convocation_type, class: 'fg-label'
        = f.input :convocation_type, as: :select, collection: Candidate::Convocation.convocation_types.keys.to_a, label: false, prompt: 'selecione...'
    .row
      .col-md-2
        .toggle-switch{"data-ts-color" => "blue"}
          %label
            .ts-label{:for => "status"}
              = f.label :status
          %br
          = f.check_box :status, id: 'status',hidden: 'hidden', type: 'checkbox'
          %label.ts-helper{:for => "status"}
    %br/
    %br/
    .row
      .col-md-12
        = f.button :submit, class: 'btn btn-success'
        = link_to 'Voltar', convocations_path, class: 'btn btn-inverse'