.card
  .card-header.ch-alt
    %h2
      Convocações
      = link_to 'Nova Convocação', candidate.new_convocation_path, class: 'btn btn-success pull-right'
      %small Listagem de convocações
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table.datatable
      %thead
        %tr
          %th Descrição
          %th Critérios
          %th Tipo
          %th Publicado
          %th Ações
      %tbody
        - @convocations.each_with_index do |convocation, index|
          %tr
            %td= convocation.description
            %td= convocation.criterion
            %td= convocation.convocation_type
            %td= convocation.status ? 'ativo' : 'false'
            %td.col-md-2
              = link_to "", edit_convocation_path(convocation), class: 'md md-edit  btn  btn-primary'
              = link_to "", convocation_path(convocation), method: :delete, class: 'md md-delete btn btn-danger', data: { confirm: t(:confirm_delete)}
