.page-content
  .panel
    .panel-heading
      .panel-title
        %h4 
          Videos
          = link_to 'Novo video', new_video_path, class: 'btn btn-success pull-right btn-sm'
    %hr/
    .panel-body
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Título
            %th Publicado
            %th Data
            %th Ações

        %tbody
          - @videos.each do |video|
            %tr
              %td= video.title
              %td= status_helper (video.publish)
              %td= video.created_at.strftime('%d/%m/%Y')
              %td.col-md-1
                = link_to '', edit_video_path(video), title: 'Editar', class: 'glyphicon glyphicon-pencil btn btn-primary btn-xs'
                = link_to '', video, title: 'Remover', :method => :delete, class: 'glyphicon glyphicon-remove btn btn-danger btn-xs', :data => { :confirm => t(:confirm_delete) }
