.card
  .card-header.ch-alt
    %h2
      Videos
      = link_to 'Novo video', new_video_path,  data: { no_turbolink: true }, class: 'btn btn-success pull-right' if policy(:video, namespace: Cms).create?
      %small Listagem de videos
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table.datatable
      %thead
        %tr
          %th #
          %th Título
          %th Publicado
          %th Data
          %th Ações

      %tbody
        - @videos.each_with_index do |video, i|
          %tr
            %td= i+1
            %td= video.title
            %td= status_helper (video.publish)
            %td= video.created_at.strftime('%d-%m-%Y')
            %td.col-md-2
              = link_to '', edit_video_path(video),title: 'Editar', class: 'md md-edit btn btn-primary' if policy(:video, namespace: Cms).update?
              = link_to '', video,title: 'Remover', :method => :delete, class: 'md md-delete btn btn-danger', :data => { :confirm => 'Are you sure?' } if policy(:video, namespace: Cms).destroy?
