%ul.nav.nav-tabs
  %li
    %a{:href => "#{attendance_attendances_path(cpf: @mirror.cpf)}"} Voltar para Detalhamento
  %li{class: (controller_name == "cadastre_mirrors") ? 'active' : ''}
    %a{:href => "#{edit_attendance_cadastre_mirror_path(@mirror)}"} Atualização cadastral
  %li{class: (controller_name == "dependent_mirrors") ? 'active' : ''}
    %a{:href => "#{attendance_cadastre_mirror_dependent_mirrors_path(@mirror)}"} Atualização de Dependentes
  %li{class: (controller_name == "checklists") ? 'active' : ''}
    %a{:href => "#{attendance_cadastre_mirror_checklists_path(@mirror)}"} Preenchimento de Checklist
  %li{class: (controller_name == "conclusions") ? 'active' : ''}
    %a{:href => "#{attendance_cadastre_mirror_conclusions_path(@mirror)}"} Finalização de atendimento
%br/
%br/
