.col-md-3
  Pesquisar Documento
  = simple_form_for  new_allotment_conduct_path, :method => 'get' do |f|
    .lv-item.media
      .media-body
        .lv-title
          = f.label "Número do Documento", class: 'fg-label'
        .lv-small
          = f.input :document, label: false, input_html: { name: 'document', value: params[:document], class: 'document_number'}
    .lv-item.media
      .media-body
        .lv-title
          = f.label "Tipo de Documento", class: 'fg-label'
        .lv-small
          = f.input :document_type, as: 'select', collection: Protocol::DocumentType.order(:name).all, label: false, :prompt => 'Selecione', input_html: { name: 'document_type'}
    .lv-item.media
      .media-body
        .lv-small
          = f.submit 'Pesquisar', class:  'btn btn-success btn-sm', input_html: { name: nil},data: {disable_with: "carregando..."}
.col-md-9
  .row
    .col-md-12
      %h5 Remessa
  .row
    .col-md-12
      = render 'index_search'
  .row
    .col-md-12
      - if @conducts.present?
        = render 'index_result'
        %br
        = link_to 'Enviar Remessa', allotment_send_path(@conduct.allotment.id), remote: true, class:  'btn btn-primary btn-xs',data: {disable_with: "carregando..."}
