%h5 Documento Inserido na Remessa
%br
.table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
  %table#data-table-command.table.table-striped.table-bordered
    %thead
      %tr
        %th Número
        %th Tipo de Documento
        %th Setor
        %th Excluir da Remessa
    %tbody
      - @conducts.each do |a|
        %tr
          %td
            = a.assessment.document_number
          %td
            = a.assessment.document_type.name
          %td
            = a.sector.name if a.sector.present?
          %td
            = link_to "", allotment_conduct_path(@conduct.allotment.id,a.id), method: :delete, class: 'glyphicon glyphicon-remove btn btn-danger btn-xs', data: {confirm: "#{t(:confirm_delete)}"}
