%h1 Listing action_types

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @action_types.each do |action_type|
      %tr
        %td= action_type.name
        %td= action_type.description
        %td= link_to 'Show', action_type
        %td= link_to 'Edit', edit_action_type_path(action_type)
        %td= link_to 'Destroy', action_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Action type', new_action_type_path
