/ conteudo da pagina
.container
  .row
    .col-md-12.box
      .box_internal
        .row
          .col-md-12
            .container
              %h1
                %b= @list.title
        .row
          .col-md-12
            .container
              = @list.description.to_s.html_safe
        %hr/
        .row
          .container
            - if @list.cpf_filter
              .col-md-6
                = simple_form_for url_for, method: :get do |f|
                  .row
                    .col-md-5
                      = f.input :cpf, input_html: { name:  'cpf', value: params[:cpf]}
                    .col-md-5{style: 'padding-top: 27px'}
                      = f.submit 'Pesquisar', name: nil, class: 'btn btn-success', data: {  disable_with: "Pesquisando aguarde..."}
            .col-md-3
            .col-md-3
              %br/
              %br/
              %h4
                %b Total da lista: #{@geral.count}

        .row
          .col-md-12
            %table#data-table-command.table.table-striped.table-vmiddle.datatable
              %thead
                %tr
                  %th Posição
                  %th Nome
                  %th CPF
                  %th Pontuação
                  %th Renda
              %tbody
                - @candidates.each do |candidate|
                  %tr
                    %td.col-md-1= @geral.map(&:cpf).find_index(candidate.cpf) + 1
                    %td= link_to candidate.name, candidate_path(candidate.cpf), data: {disable_with: "Carregando aguarde..."}
                    %td= cpf_mask(candidate.cpf)
                    %td= candidate.total
                    %td
                      - if candidate.cadastre_situation.situation_status.status == 'ok'
                        %span.label.label-success
                          = candidate.cadastre_situation.situation_status.name
                      - else
                        %span.label.label-warning
                          PENDENTE - #{candidate.cadastre_situation.situation_status.name}

        .row
          .col-md-6.col-md-offset-3
            .container
              = will_paginate @candidates, renderer: BootstrapPagination::Rails