= simple_form_for(@project) do |f| 
  .card-body.card-padding
    .row
      .col-md-8
        = f.input :title, prompt: 'Digite um título...'
      .col-md-2
        = f.input :start,as: :string, prompt: 'selecione...', input_html: { class: 'date' ,value: (@project.start) ? localize(f.object.start) : nil}
      .col-md-2
        = f.input :end, as: :string, prompt: 'selecione...', input_html: { class: 'date', value: (@project.end) ? localize(f.object.end) : nil }
    .row
      .col-md-12
        = f.input :mini_description, input_html: { id: 'content', class: 'tinymce', rows: 10, cols: 80 }
    .row
      .col-md-12
        = f.input :apresentation, input_html: { id: 'apresentation', class: 'tinymce', rows: 10, cols: 80 }
    %hr/
    .row
      .col-md-3
        = f.input :image_header, as: :file
        = f.hint link_to "Visualizar arquivo atual", f.object.image_header.url, target: '_blank' if !f.object.image_header.to_s.empty?
      .col-md-3
        = f.input :image_logo, as: :file
        = f.hint link_to "Visualizar arquivo atual", f.object.image_logo.url, target: '_blank' if !f.object.image_logo.to_s.empty?
      .col-md-3
        = f.input :image_footer, as: :file
        = f.hint link_to "Visualizar arquivo atual", f.object.image_footer.url, target: '_blank' if !f.object.image_footer.to_s.empty?
      .col-md-3
        = f.input :image_slider, as: :file
        = f.hint link_to "Visualizar arquivo atual", f.object.image_slider.url, target: '_blank' if !f.object.image_slider.to_s.empty?
    %hr/
    .row
      .col-md-12
        %h2 Consultas
    %hr/
    .row
      .col-md-2
        = f.input :consultation, as: :select, include_blank: false
      .col-md-2
        = f.input :consultation_start,as: :string, prompt: 'selecione...', input_html: { class: 'date' ,value: (@project.consultation_start) ? localize(f.object.consultation_start) : nil}
      .col-md-2
        = f.input :consultation_end,as: :string, prompt: 'selecione...', input_html: { class: 'date' ,value: (@project.consultation_end) ? localize(f.object.consultation_end) : nil}
    %br/
    .row
      .col-md-12
        = f.input :consultation_description, input_html: { id:"consultation_description", class: 'tinymce', rows: 10, cols: 80 }
    %hr/
    .row
      .col-md-12
        %h2 Participação
    %hr/
    .row
      .col-md-2
        = f.input :start_participation,as: :string, label: "Início", input_html: { class: 'date' ,value: (@project.start_participation) ? localize(f.object.start_participation) : nil}
      .col-md-2
        = f.input :end_participation,as: :string, label: "Fim",input_html: { class: 'date' ,value: (@project.end_participation) ? localize(f.object.end_participation) : nil}
      .col-md-2
        = f.input :result_day, label: "Dia do resultado", as: :string, input_html: { class: 'date', value: f.object.result_day.present? ? localize(f.object.result_day) : ''}
      .col-md-2
        = f.input :result_hour, label: "Hora do resultado", as: :string, input_html: { class: 'hour', value: f.object.result_hour.present? ? localize(f.object.result_hour, format:"%H:%M") : ''}
      .col-md-4
        = f.input :result_document, label: "Ata do resultado", as: :file
        = f.hint link_to "visualizar arquivo atual", f.object.result_document_url, target: '_blank' if f.object.result_document.present?
    .row
      .col-md-12
        = f.input :result_description, input_html: { id:"result_description", class: 'tinymce', rows: 10, cols: 80  }
    %hr/
    .row
      .col-md-12
        = f.input :text_participation, input_html: { id:"text_participation", class: 'tinymce', rows: 10, cols: 80  }

    %hr/
    .row
      .col-md-12
        %h2 POP-UP
    %hr/
    .row
      .col-md-4
        = f.input :popup_title, placeholder: "Digite um título"
      .col-md-2
        = f.input :popup_publish, as: :select, include_blank: false
    .row
      .col-md-12
        = f.input :popup_content,placeholder: "Digite o conteúdo", input_html: { id:"popup_content", class: 'tinymce', rows: 10, cols: 80  }
        
    %hr/
    .row
      .col-md-2
        = f.label :publish
        = f.input :publish, label: false, as: :select, include_blank: false
      .col-md-2
        = f.label :status
        = f.input :status, label: false, as: :select, include_blank: false
      .col-md-2
        = f.label :step, class: 'fg-label'
        %br/
        = f.input :step, label:false, as: :select, collection: Concourse::Project.steps.keys.to_a, prompt: 'selecione...'
    %hr/
    .row
      .col-md-12
        = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disable_with)}
        = link_to t(:button_back), projects_path,class: 'btn btn-default' 

