- @allotments.each_with_index do |j, i|
 %tr
  %td.col-md-1
   = i + 1
  %td
   = j.description
  %td
   = j.priority
  %td
   = j.replay_date
  %td
   = j.amount_docs if j.amount_docs.present?
  %td.col-md-2
   = link_to "", new_allotment_conduct_path(j),title: 'Gerar Remessa', 'data-toggle' => 'tooltip',  class: 'glyphicon glyphicon-share-alt btn btn-success btn-xs',data: {disable_with: "carregando..."}  
   = link_to "", edit_allotment_path(j), remote: true, class: 'glyphicon glyphicon-pencil btn btn-primary btn-xs',data: {disable_with: "carregando..."}  if policy(:Allotment, namespace: Protocol).edit?
   = link_to "", allotment_path(j), method: :delete, class: 'glyphicon glyphicon-remove btn btn-danger btn-xs', data: {confirm: "#{t(:confirm_delete)}"} if policy(:Allotment, namespace: Protocol).destroy?
