.container
  .row
    .col-md-12
      %h1
        %b Selagem Codhab
  %hr/
  %h2
    %b= @cadastre.fantasy_name
  %p
    %b= @cadastre.cnpj.format_cnpj
  %hr/
  .row
    .col-md-12
      .panel.panel-default
        .panel-body
          .row
            .col-md-12
              = link_to 'Nova selagem', new_cadastre_inspection_path(cadastre_id:@cadastre.id),class: 'btn btn-success btn-lg'
              = link_to 'Voltar para listagem', surveys_path,class: 'btn btn-primary btn-lg pull-right'
          %hr
          .row
            .col-md-12
              %table.table.table-striped.table-bordered.table-hover
                %thead
                  %tr
                    %th Nº
                    %th Ações
                %tbody
                  - if @inspections.present?
                    - @inspections.each_with_index do |survey, index|
                      %tr
                        %td= "Inspeção Nº #{index+1}"
                        %td= survey.cadastre.name if survey.cadastre.present?
                        %td= link_to '', edit_cadastre_inspection_path(cadastre_id:survey.cadastre_id, id:survey),title: 'Editar', class: 'glyphicon glyphicon-pencil btn btn-primary btn-xs'
