= simple_form_for(@lifting) do |f|
  .card-body.card-padding
    .row
      .col-md-12
        = f.input :name, input_html: { placeholder: 'Digite o nome da formação'}
      .col-md-3
        = f.label :born, as: 'string', class: 'fg-label'
        = f.input :born, as: 'string', label: false, input_html: { class: 'date', placeholder: '00/00/0000', value: (@lifting.born) ? localize(f.object.born) : nil}
    %hr/
    .row
      .col-md-12
        = f.button :submit, class: 'btn btn-success', data: {disable_with: t(:disable_with)}
        = link_to t(:button_back) ,liftings_path , class: 'btn btn-default'
