.page-content
  .panel
    .panel-heading
      .panel-title
        %h4 
          Lista de postagens
          = link_to 'Nova postagem', new_post_path,  data: { no_turbolink: true }, class: 'btn btn-success btn-sm pull-right' if policy(:post, namespace: Cms).create?
    .panel-body
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
        %table#data-table-command.table.table-striped.table-bordered
          %thead
            %tr
              %th Nº
              %th Título
              %th Categoria da Postagem
              %th Publicado
              %th Data
              %th Ações

          %tbody
            - @posts.order('id DESC').each_with_index do |post, i|
              %tr
                %td= post.id
                %td= post.title
                %td= post.post_category.title if post.post_category.present?
                %td= status_helper (post.publish)
                %td= post.date.strftime('%d/%m/%Y')
                %td.col-md-1
                  = link_to '', edit_post_path(post),title: 'Editar', class: 'glyphicon glyphicon-pencil btn btn-primary btn-xs', data: {turbolinks: false} if policy(:post, namespace: Cms).update?
                  = link_to '', post,title: 'Remover', :method => :delete, class: 'glyphicon glyphicon-remove btn btn-danger btn-xs', :data => { :confirm => 'Are you sure?' }, data: {turbolinks: false} if policy(:post, namespace: Cms).destroy?
