.card
  .card-header.ch-alt
    .card-body.card-padding
      %p
        %b Titulo:
        = @post.title
      %p
        %b Conteúdo:
        = @post.content.html_safe
      %p
        %b Categoria:
        = @post.post_category.title
      %p
        %b Resumo:
        = @post.resume.html_safe
      %p
        %b Data da publicação:
        = @post.date.strftime('%d-%m-%Y')
