%h1 Listing patrimonies

%table
  %thead
    %tr
      %th Code patrimony
      %th Date acquisition
      %th Status
      %th Sector
      %th User
      %th Material
      %th Property
      %th
      %th
      %th

  %tbody
    - @patrimonies.each do |patrimony|
      %tr
        %td= patrimony.code_patrimony
        %td= patrimony.date_acquisition
        %td= patrimony.status
        %td= patrimony.sector
        %td= patrimony.user
        %td= patrimony.material
        %td= patrimony.property
        %td= link_to 'Show', patrimony
        %td= link_to 'Edit', edit_patrimony_path(patrimony)
        %td= link_to 'Destroy', patrimony, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Patrimony', new_patrimony_path
