.panel.panel-default
  .panel-heading
    %h4.panel-title
      Atendimento habitacional
      %span.pull-right
        = link_to "Retornar para listagem", details_path(@query_params)
  .panel-body
    .row
      .col-md-8
        .row
          .col-md-12
            %h1 Detalhamento de dados para atendimento
            %b= link_to "Informar problema com dados listados", "#", class: 'danger'
            

        %br/
        %br/
        - if @candidate.present?
          .row
            .col-md-12
              %h3 
                Dados do candidato
                %b= link_to "Atualizar dados de contato", edit_basic_cadastre_path(@candidate.cpf), remote: true, class: 'pull-right'
              %table.table.table-striped.table-bordered.table-condensed
                %thead
                  %tr
                    %th Nome
                    %th CPF
                    %th Situação
                    %th Programa
                %tbody
                  %tr
                    %td= @candidate.name
                    %td= @candidate.cpf.format_cpf
                    %td
                      %b= @candidate.current_situation_name
                    %td= @candidate.program.name if @candidate.program.present?
         
        - if @candidate.present?
          .row
            .col-md-12
              %h3 
                Atendimentos
                %b= link_to "Iniciar atualização cadastral", enabled_cadastre_mirror_init_path(@candidate.id), class: 'pull-right' if @candidate.enabled?
                %b= link_to "Iniciar atendimento para habilitação"  '#', class: 'pull-right' if @candidate.convoked?
              %table.table.table-striped.table-hover.table-condensed.table-bordered
                %thead
                  %tr
                    %td Nome
                    %td CPF
                    %td RG
                    %td RG Org
                %tbody
                  %tr
                    %td= @candidate.name
                    %td= @candidate.cpf.format_cpf
                    %td= @candidate.rg
                    %td= @candidate.rg_org
        
        - if @requeriments.present?
          .row
            .col-md-12
              %h3 Requerimentos
              %br/
              %table.table.table-striped.table-hover.table-condensed.table-bordered
                %thead
                  %tr
                    %td Data
                    %td Cidade
                    %td Endereço
                %tbody
                  - @requeriments.each do |item|
                    %tr
                      %td= item.created_at.strftime('%d/%m/%Y')
                      %td= item.city.name if item.city.present?
                      %td= item.unit.complete_address if item.unit.present?

        - if @schedules.present?
          .row
            .col-md-12
              %h3 Agendamentos
              %table.table.table-striped.table-hover.table-condensed.table-bordered
                %thead
                  %tr
                    %td Data
                    %td Hora
                    %td Situação
                    %td Observação
                %tbody
                  - @schedules.each do |item|
                    %tr
                      %td.col-md-2= item.date.strftime("%d/%m/%Y")
                      %td.col-md-1= item.hour.strftime("%H:%M")
                      %td.col-md-2
                        %b= item.status
                      %td.col-md-8
                        = item.observation

      

      

      