%p#notice= notice

%p
  %b Name:
  = @category.name
%p
  %b Status:
  = @category.status
%p
  %b Default value:
  = @category.default_value
%p
  %b Description:
  = @category.description

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
