.panel.panel-default
  .panel-heading
    %h4.panel-title
      Áreas de atuação
      = link_to 'Nova área', new_atuation_area_path,  data: { no_turbolink: true }, class: 'pull-right'
  .panel-body
    %br/
    .row
      .col-md-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th #
              %th Atuação
              %th Data de Criação
              %th Última Atualização
              %th Ações

          %tbody
            - @atuations.each do |atuation|
              %tr
                %td= atuation.id
                %td= atuation.name
                %td= atuation.created_at.strftime('%d/%m/%Y')
                %td= atuation.updated_at.strftime('%d/%m/%Y')
                %td.col-md-1
                  = link_to '', edit_atuation_area_path(atuation), class: 'glyphicon glyphicon-pencil  btn btn-primary btn-xs', data: {turbolinks: false}
                  = link_to '', atuation, class: 'glyphicon glyphicon-remove  btn btn-danger btn-xs', :method => :delete, :data => { :confirm => 'Are you sure?' }
