.card
  .card-header.ch-alt
    %h2 Tipos de Boletos Bancários
    = link_to "Novo Tipo", new_type_slip_path, class: 'btn btn-success pull-right'
    %small Listagem de tipos de boletos para cobrança
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.datatable
      %thead
        %tr
          %th Título
          %th Publicado?
          %th Valor
          %th Código
          %th Ações
      %tbody
        - @type_slips.each_with_index do |type_slip, index|
          %tr
            %td= type_slip.title
            %td= type_slip.publish ? 'publicado' : 'não publicado'
            %td= number_to_currency type_slip.value
            %td= type_slip.code
            %td.col-md-2
              = link_to "", edit_type_slip_path(type_slip),class: 'md md-edit btn btn-primary'
              = link_to "", type_slip_path(type_slip), method: :delete,class: 'md md-delete btn btn-danger', :data => { :confirm => t(:confirm_delete) } 
               
     