.site-menubar.site-menubar-light
  .site-menubar-body
    %div
      %div
        %ul.site-menu
          = nav_link_to('dashboard')
          = nav_link_to('habitation')
          = nav_link_to('portal')
          = nav_link_to('protocol')
          = nav_link_to('management')

    
          /%li.site-menu-item.has-sub.pull-right
          /  %a{"data-dropdown-toggle" => "false", :href => "#{helpdesk.new_ticket_path}", "data-remote" => true}
          /    %i.site-menu-icon.wb-help{"aria-hidden" => "true"}
          /    %span.site-menu-title Abrir um chamado
          /    %span.site-menu-arrow
