.row
 .col-md-12
  = simple_form_for @enterprise_status, remote: true do |f|
   = f.input :cadastre_id, as: :hidden,  input_html:{ :value => params[:cadastre_id] }
   = f.input :enterprise_cadastre_id, as: :hidden, input_html:{value: params[:id]}
   .row
    .col-md-12
     = f.label :observation, class: 'fg-label'
     = f.input :observation, label: false, input_html: { placeholder: 'Digite um Obervação'}
   .row
    .col-md-12
     = f.label :status_cadastre, class: 'fg-label'
     = f.association :status_cadastre, label: false, prompt: 'Selecione...'
   .row
    .col-md-12
     = f.label :archive_file, as: 'file', class: 'fg-label'
     = f.input :archive_file, as: 'file', label: false, input_html: { placeholder: 'Insira uma imagem'}
     = image_tag @enterprise_status.archive_file_url, width: '150' if @enterprise_status.archive_file?
   .row
    .col-md-12
     = f.button :submit, class: 'btn btn-success'
   %br/