#messages-main.card.m-b-0
  .ms-menu
    .ms-block
      .ms-user
        Pesquisar IPTU
    .ms-block
      = simple_form_for @iptu, url: iptu_consults_path do |f|
        = f.label :cpf
        = f.input :cpf, label: false
        = f.submit "Pesquisar CPF", name: nil, class: 'btn btn-success'
  .ms-body
    .listview.lv-message
      .lv-header-alt.bgm-white
        #ms-menu-trigger
          .line-wrap
            .line.top
            .line.center
            .line.bottom
        .lvh-label.hidden-xs
          %span.c-black Detalhamento do IPTU
      .lv-body{:style => "min-height: 270px"}
        .lv-item.media
          .media-body
            - if @iptu.result.present?
              = render 'show'
            - else
              Nenhum resultado para mostrar.
