.row
 .col-md-12
  = simple_form_for [:sector, @branch_line], remote: true do |f|
   .row
    .col-md-12
     = f.label :description, class: 'fg-label'
     = f.input :description, label: false, input_html: { placeholder: 'Digite uma descrição'}
   .row
    .col-md-4
     = f.label :telephone, class: 'fg-label'
     = f.input :telephone, label: false, input_html: { placeholder: 'Digite um ramal'}
    .col-md-4
     .checkbox.m-b-15
      %label
       = f.check_box :status
       %i.input-helper
       = f.label :status, class: 'fg-label'
    .col-md-4
     = f.button :submit, class: 'btn btn-success'
   .row
    .col-md-12
     = render 'index'

