= simple_form_for([@station, @station_attendant]) do |f|
  .card-body.card-padding
    .row
      .col-md-3
        = f.label :attendant, class: 'fg-label'
        = f.association :attendant,label_method: :staff_name, label: false, prompt: "selecione o atendente..."
    .row
      .col-md-3
        = f.label :counter, class: 'fg-label'
        = f.association :counter, label: false, label_method: :number, collection: @station.counters, prompt: 'selecione o guichê...'
    .row
      .col-md-1
        .toggle-switch{"data-ts-color" => "blue"}
          %label
            .ts-label{:for => "supervisor"}
              = f.label :supervisor
          %br/
          = f.check_box :supervisor, label: false, id: 'supervisor',hidden: 'hidden', type: 'checkbox'
          %label.ts-helper{:for => "supervisor"}    
      .col-md-2
        .toggle-switch{"data-ts-color" => "blue"}
          %label
            .ts-label{:for => "status"}
              = f.label :status
          %br/
          = f.check_box :status, label: false, id: 'status',hidden: 'hidden', type: 'checkbox'
          %label.ts-helper{:for => "status"}
    %hr/
    .row
      .col-md-12
        = f.button :submit, class: 'btn btn-success'
        = link_to "voltar", station_station_attendants_path(@station), class: 'btn btn-inverse'