.card
  .card-header.ch-alt
    %h2
      Postos de Atendimento / Atendentes
      = link_to 'Novo Atendente', attendance.new_station_station_attendant_path, class: 'btn btn-success pull-right'
      %small Listagem de atendentes
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-striped.datatable
      %thead
        %tr
          %th #
          %th Nome
          %th Cidade
          %th Posto
          %th Status
          %th Supervisor
          %th Guichê
          %th{:colspan => "3"} Ações
      %tbody
        - @station_attendants.each_with_index do |station, index|
          %tr
            %td= index + 1
            %td= station.name
            %td= station.city.name if station.city.present?
            %td= station.station_type
            %td
            %td.col-md-2
              = link_to '', station_station_attendants_path(station), class: 'md md-edit btn btn-success'
              = link_to '', station_counters_path(station), class: 'md md-edit btn btn-success'
              = link_to '', edit_station_path(station), class: 'md md-edit btn btn-primary'
              = link_to '', station, class: 'md md-delete btn btn-danger', :method => :delete, :data => { :confirm => t(:confirm_delete) }
