.card
  .card-header.ch-alt
    %h2
      #{@station.name} / Atendentes
      .pull-right
        = link_to "Voltar",  attendance.stations_path, class: 'btn btn-inverse'
        = link_to 'Novo Atendente', attendance.new_station_station_attendant_path, class: 'btn btn-success'
      %small Listagem de atendentes
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-striped.datatable
      %thead
        %tr
          %th Nome
          %th Supervisor?
          %th Ativo?
          %th Guichê
          %th Ações
      %tbody
        - @station_attendants.each_with_index do |attendant, index|
          %tr
            %td= attendant.attendant.staff.name if attendant.attendant.present? && attendant.attendant.staff.present?
            %td= attendant.supervisor ? "Sim" : "Não"
            %td= attendant.status ? "Sim" : "Não"
            %td= attendant.counter.number if attendant.counter.present?
            %td.col-md-2
              = link_to '', edit_station_station_attendant_path(station_id: @station, id: attendant), class: 'md md-edit btn btn-primary'
              = link_to '', station_station_attendant_path(station_id: @station, id: attendant), class: 'md md-delete btn btn-danger', :method => :delete, :data => { :confirm => t(:confirm_delete) }
