= simple_form_for [@enterprise,@step, @allotment], remote: true do |f|
  .row
    .col-md-12
      %h3 Solicitação 
  .row
    .col-md-12
      - if !f.object.errors.any? && f.object.rank.present?
        .alert.alert-success
          %b A demanda é válida.
          Clique em gerar prévia da indicação para prosseguir.
  .row
    .col-md-2
      = f.association :zone, include_blank: false
    .col-md-2
      = f.input :demand, as: :string, input_html: { placeholder: "Digite a demanda"}
  .row
    .col-md-12
      %table.table.table-striped.table-bordered.table-form
        %thead
          %tr
            %th{style: 'width: 1%'}   
            %th{style: 'width: 15%'} RII.
            %th{style: 'width: 15%'} RIE.
            %th{style: 'width: 15%'} DEF.
            %th{style: 'width: 15%'} IDO.
            %th{style: 'width: 15%'} VUL.
            %th{style: 'width: 15%'} TOTAL
        %tbody
          %tr
            %th QTD.
            %td= f.input :rii, label: false, input_html: { placeholder: "Clique e digite a quantidade"}
            %td= f.input :rie, label: false, input_html: { placeholder: "Clique e digite a quantidade"}
            %td= f.input :special, label: false, input_html: { placeholder: "Clique e digite a quantidade"}
            %td= f.input :old, label: false, input_html: { placeholder: "Clique e digite a quantidade"}
            %td= f.input :vulnerable, label: false, input_html: { placeholder: "Clique e digite a quantidade"}
            %td= f.input :total, label: false,input_html: { readonly: true }
        %thead
          %tr
            %th (%)
            %td= "#{f.object.rii_percent} %"
            %td= "#{f.object.rie_percent} %"
            %td= "#{f.object.special_percent} %"
            %td= "#{f.object.old_percent} %"
            %td= "#{f.object.vulnerable_percent} %"
            %td= f.input :total_percent, label: false, input_html: { readonly: true }
  
      - if f.object.rank.present?
        %h4 Demanda disponível 
        %table.table.table-striped.table-bordered.table-form
          %thead
            %tr
              %th{style: 'width: 1%'}  
              %th{style: 'width: 15%'} RII.
              %th{style: 'width: 15%'} RIE.
              %th{style: 'width: 15%'} DEF.
              %th{style: 'width: 15%'} IDO.
              %th{style: 'width: 15%'} VUL.
              %th{style: 'width: 15%'} TOTAL
          %tbody
            %tr
              %th QTD.
              %td= f.object.rank[0][:rii].count
              %td= f.object.rank[0][:rie].count
              %td= f.object.rank[0][:special].count
              %td= f.object.rank[0][:old].count
              %td= f.object.rank[0][:vulnerable].count
              %td= f.object.rank[1][:total]
          %thead
            %tr
              %th (%)
              %td= "#{f.object.rank[1][:rii_percent]} %"
              %td= "#{f.object.rank[1][:rie_percent]} %"
              %td= "#{f.object.rank[1][:special_percent]} %"
              %td= "#{f.object.rank[1][:old_percent]} %"
              %td= "#{f.object.rank[1][:vulnerable_percent]} %"
              %td= "#{f.object.rank[1][:total]} %"
  %hr/
  .row
    .col-md-4
      = f.submit "Processar demanda", name: nil, class: 'btn btn-success', data: { disable_with: t(:disable_with)}
      - if !f.object.errors.any? && f.object.rank.present?
        = link_to "Gerar prévia da indicação", execute_enterprise_step_allotments_path(enterprise_id: @enterprise, step_id: @step), data: { disable_with: "Gerando..."}, class: 'btn btn-danger'
