.panel.panel-default
  .panel-heading
    %h4.panel-title
      #{@step.enterprise.name} - #{@step.name} - Lotes de indicação
      = link_to 'Voltar para etapas', enterprise_steps_path(enterprise_id: @step.enterprise_id), class: 'pull-right'
  .panel-body
    .row
      .col-md-12
        = link_to '+ Adicionar novo lote', new_enterprise_step_allotment_path(enterprise_id: @step.enterprise_id, step_id: @step), class: 'btn btn-success'
    %hr/
    .row
      .col-md-12
        %table.table.table-bordered.table-striped.table-hover
          %thead
            %tr
              %th #
              %th Faixa.
              %th Demanda
              %th{colspan: 2} RII
              %th{colspan: 2} RIE
              %th{colspan: 2} IDOSO
              %th{colspan: 2} VUL.
              %th{colspan: 2} DEF.
              %th Data
              %th Situação
              %th Ações
          %tbody
            - @allotments.order('created_at DESC').each do |allotment|
              %tr
                %td= allotment.id
                %td= allotment.zone.name
                %td= allotment.demand
                %td= allotment.rii
                %td= "#{allotment.rii.percent_of(allotment.demand)} %"
                %td= allotment.rie
                %td= "#{allotment.rie.percent_of(allotment.demand)} %"
                %td= allotment.old
                %td= "#{allotment.old.percent_of(allotment.demand)} %"
                %td= allotment.vulnerable
                %td= "#{allotment.vulnerable.percent_of(allotment.demand)} %"
                %td= allotment.special
                %td= "#{allotment.special.percent_of(allotment.demand)} %"
                %td= allotment.created_at.strftime('%d/%m/%Y')
                %td= allotment.situation
                %td
                  = link_to '', enterprise_step_allotment_path(enterprise_id: @enterprise.id, step_id: @step.id, id: allotment.id), title: "Visualizar indicados",class: 'glyphicon glyphicon-share-alt btn btn-primary btn-xs',data: {disable_with: "carregando..."}
                  - if !allotment.status
                    = link_to '', enterprise_step_allotment_path(enterprise_id: @enterprise.id, step_id: @step.id, id: allotment.id), method: :delete, class: 'glyphicon glyphicon-remove btn btn-danger btn-sm' , data: { confirm: t(:confirm)}
