#messages-main.card.m-b-0
  .ms-menu
    .ms-block
      .ms-user
        Pesquisar Assunto
    .ms-block
    .listview.lv-user.m-t-20
    = simple_form_for  new_report_request_path, :method => 'get' do |f|
      .lv-item.media
        .media-body
          .lv-title
            = f.label 'Assunto', class: 'fg-label'
          .lv-small
            = f.input :subject, collection: @requests, label_method: :subject, value_method: :subject, label: false, prompt: "Selecione" ,input_html: { name: 'subject', value: params[:subject]}

            
      .lv-item.media
        .media-body
          .lv-small
            = f.submit 'Pesquisar', class:  'btn btn-success', input_html: { name: nil}
  .ms-body
    .listview.lv-message
      .lv-header-alt.bgm-white
        #ms-menu-trigger
          .line-wrap
            .line.top
            .line.center
            .line.bottom
        .lvh-label.hidden-xs
          %span.c-black Assunto
          =@request ? @request.subject : '-'
          
      .lv-body{:style => "min-height: 270px"}
        .lv-item.media
          .media-body
            = render 'index_search'

            

