= simple_form_for @candidate do |f|
  .row
    .col-md-2
      = f.input :cpf, input_html: { disabled: true}
    .col-md-10
      = f.input :name, input_html: { disabled: true}
  .row
    .col-md-2
      = f.input :rg
    .col-md-1
      = f.input :rg_org
    .col-md-1
      = f.input :rg_uf
    .col-md-2
      = f.input :place_birth
  .row
    .col-md-2
      = f.input :telephone
    .col-md-2
      = f.input :telephone_optional
    .col-md-2
      = f.input :celphone
    .col-md-4
      = f.input :email
    .col-md-2
      = f.label :civil_state
      = f.association :civil_state, label: false, include_blank: false
  %hr
  .row
    .col-md-2
      = f.label "Cidade"
      = f.association :city, label: false, include_blank: false, collection: Address::City.federal_district
    .col-md-4
      = f.input :address
    .col-md-4
      = f.input :address_complement
    .col-md-2
      = f.input :cep
  %hr/
  .row
    .col-md-2
      = f.label :work_city
      = f.association :work_city, label: false,include_blank: false
    .col-md-4
      = f.input :work_address, as: :string
    .col-md-2
      = f.input :work_cep
  %hr/
  .row
    .col-md-12
      = f.submit "Atualizar cadastro", class: 'btn btn-success'
      = link_to "Voltar para detalhamento", cadastres_path(cpf: @candidate.cpf), class: 'btn btn-default'
