.page-content
  .documents-wrap.article
    #articleAffix.article-sidebar.affix-top
      %ul.list-group.nav
        %li.list-group-item
          = simple_form_for url_for, method: :get do |f|
            .row
              .col-md-12
                = f.input :cpf, label: false, input_html: { name: 'cpf', placeholder: "Digite o CPF", value: params[:cpf]}
            .row
              .col-md-12
                = f.submit "Pesquisar", name: nil, class: 'btn btn-success btn-sm', data: { disable_with: t(:disabled_button)}
        - if @candidate.present?
          %li
            %hr/
          - if policy(:cadastre, namespace: Candidate).update?
            %li.list-group-item
              %a{:href => "#{candidate.edit_cadastre_path(@candidate)}"} Atualizar cadastro
          - if policy(:cadastre, namespace: Candidate).update_cpf?
            %li.list-group-item
              %a{:href => "#section-2"} Alterar CPF
          - if policy(:cadastre, namespace: Candidate).update_situation?
            %li.list-group-item
              %a{:href => "#{candidate.cadastre_cadastre_situation_path(@candidate)}"} Alterar situação
          - if policy(:cadastre, namespace: Candidate).update_procedural?
            %li.list-group-item
              %a{:href => "#{candidate.cadastre_cadastre_procedural_path(@candidate)}"} Alterar situação processual
    .article-content
      %section
        %h2.bold Detalhamento
      %hr/
      %section
      - if @candidate.present?
        .row
          .col-md-12
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th Situação do Candidato
                  %th Programa
                  %th Faixa
                  %th Lista
                  %th Posição
                  %th Última pontuação
              %tbody
                - if @candidate.list.present?
                  - @candidate.list.each do |list|
                    %tr
                      %td
                        - if @candidate.current_situation_status == 'ok'
                          %span.label.label-success
                            = @candidate.current_situation_name
                        - if @candidate.current_situation_status == 'pendente'
                          %span.label.label-warning
                            PENDENTE - #{@candidate.current_situation_name}
                        - if @candidate.current_situation_status == 'cinza'
                          %span.label.label-default
                            PENDENTE - #{@candidate.current_situation_name}
                      %td= program(@candidate.program_id)
                      %td= list[1][0]
                      %td= translate_list(list[0])
                      %td= "#{list[2]}º"
                      %td= @candidate.pontuations.last.total if @candidate.pontuations.present?

                - else
                  %tr
                    %td= @candidate.current_situation_name
                    %td= program(@candidate.program_id)
                    %td
                    %td
                    %td
                    %td= @candidate.pontuations.last.total if @candidate.pontuations.present?
          .row
            .col-md-12
              %h4 Dados pessoais
              .bootstrap-table
                %table.table.table-striped.table-bordered.table-condensed
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th{:colspan => "2"} Nome
                      %th CPF
                      %th Idade
                  %tbody
                    %tr
                      %td{:colspan => "2"}= @candidate.name.upcase
                      %td= @candidate.cpf
                      %td= "#{@candidate.age} ano(s)"
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Sexo
                      %th Estado Civil
                      %th Condição Especial
                      %th Programa
                  %tbody
                    %tr
                      %td= @candidate.gender
                      %td= @candidate.civil_state.name if @candidate.civil_state.present?
                      %td= @candidate.special_condition.name if @candidate.special_condition.present?
                      %td= @candidate.program.name if @candidate.program.present?
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Identidade
                      %th UF da identidade
                      %th UF Nascimento
                      %th Renda Titular
                  %tbody
                    %tr
                      %td= @candidate.rg
                      %td= @candidate.rg_uf
                      %td= @candidate.born_uf
                      %td renda titular
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Chegada no DF
                      %th NIS
                      %th CID
                      %th Data de Cadastro
                  %tbody
                    %tr
                      %td= @candidate.arrival_df.strftime('%d/%m/%Y') if @candidate.arrival_df.present?
                      %td= @candidate.nis
                      %td= @candidate.cid
                      %td= @candidate.created_at.strftime('%d/%m/%Y') if @candidate.created_at.present?
          .row
            .col-md-12
              %h4 Dados de contato
              .bootstrap-table
                %table.table.table-striped.table-bordered.table-condensed
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th{:colspan => "2"} Endereço
                      %th Complemento
                      %th Cidade
                  %tbody
                    %tr
                      %td{:colspan => "2"}= @candidate.address.upcase
                      %td= @candidate.address_complement
                      %td= @candidate.city.name if @candidate.city.present?
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Email
                      %th Telefone
                      %th Telefone Opcional
                      %th Celular
                  %tbody
                    %tr
                      %td= @candidate.email
                      %td= @candidate.telephone
                      %td= @candidate.telephone_optional
                      %td= @candidate.celphone
          %hr/
          .row
            .col-md-12
              %h4 Dependentes
              .bootstrap-table
                %table.table.table-striped.table-bordered.table-condensed
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Nome
                      %th Data da Nascimento
                      %th CPF
                      %th Parentesco
                      %th Sexo
                      %th Condição Especial
                  %tbody
                    - @candidate.dependents.each do |deps|
                      %tr
                        %td= deps.name.upcase
                        %td= deps.born.strftime('%d/%m/%Y')
                        %td= deps.cpf
                        %td= deps.kinship.name if deps.kinship.present?
                        %td= deps.gender
                        %td= deps.special_condition.name if deps.special_condition.present?

          %hr/
          .row
            .col-md-12
              %h4 Situação de cadastro
              .bootstrap-table
                %table.table.table-striped.table-bordered.table-condensed
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Situação
                      %th Data da situação
                  %tbody
                    - @candidate.cadastre_situations.order('id ASC').each do |candidate|
                      %tr
                        %td= candidate.situation_status.name.upcase if candidate.situation_status.present?
                        %td
                          - unless %w(2016-01-05 2016-01-15 2016-01-18).include? candidate.created_at.strftime('%Y-%m-%d').to_s
                            = candidate.created_at.strftime('%d/%m/%Y')
                          - else
                            Informação não disponível
          %hr/
          .row
            .col-md-12
              %h4 Situação de Processo
              .bootstrap-table
                %table.table.table-striped.table-bordered.table-condensed
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Situação
                      %th Convocação
                      %th Processo
                      %th Data da situação
                  %tbody
                    - @candidate.cadastre_procedurals.order('id ASC').each do |candidate|
                      %tr
                        %td= candidate.procedural_status.name.upcase if candidate.procedural_status.present?
                        %td= candidate.convocation.description if candidate.convocation.present?
                        %td= candidate.old_process
                        %td
                          - unless %w(2016-01-05 2016-01-15 2016-01-18).include? candidate.created_at.strftime('%Y-%m-%d').to_s
                            = candidate.created_at.strftime('%d/%m/%Y')
                          - else
                            Informação não disponível
          %hr/
          .row
            .col-md-12
              %h4 Endereço Vinculado
              .bootstrap-table
                - if @candidate.cadastre_address.present?
                  %table.table.table-striped.table-bordered.table-condensed
                    %thead{:style => "display: table-header-group;"}
                      %tr
                        %th Cidade
                        %th Endereço
                        %th Doado?
                        %th Empreendimento
                    %tbody
                      - @candidate.cadastre_address.each do |address|
                        %tr
                          %td= address.unit.city.name if address.unit.present?
                          %td= address.unit.complete_address if address.unit.present?
                          %td= address.unit.donate ? "Sim" : "Não" if address.unit.present?
                          %td= address.unit.enterprises.name if address.unit.present? && address.unit.enterprises.present?
                - else
                  Informação não disponível
          %hr/
          .row
            .col-md-12
              %h4 Indicação para empreendimento
              .bootstrap-table
                - if @candidate.enterprise_cadastres.present?
                  %table.table.table-striped.table-bordered.table-condensed
                    %thead{:style => "display: table-header-group;"}
                      %tr
                        %th Empreendimento
                        %th Data de encaminhamento
                        %th Situação
                    %tbody
                      - @candidate.enterprise_cadastres.each do |enterprise|
                        %tr
                          %td= enterprise.enterprise.name if enterprise.enterprise.present?
                          %td= enterprise.created_at.strftime("%d/%m/%Y")
                          %td= enterprise.status ? "Indicação ativa" :  "Indicação inativa"
                - else
                  Informação não disponível
          %hr/
          .row
            .col-md-12
              %h4 Atendimentos
              .bootstrap-table
                %table.table.table-striped.table-bordered.table-condensed
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Status
                      %th Convocação
                      %th Observação
                      %th Data
                  %tbody
                    - @candidate.attendances.order(:created_at).each do |attendance|
                      - unless attendance.attendance_status_id == 99
                        %tr
                          %td= (attendance.attendance_status.present?) ? attendance.attendance_status.name  : 'Informação não disponível'
                          %td= (attendance.convocation.present?) ? attendance.convocation.description  : 'Informação não disponível'
                          %td= (attendance.observation.present?) ? attendance.observation : 'Informação não disponível'
                          %td= attendance.created_at.strftime('%d/%m/%Y às %H:%M')
          %hr/
          .row
            .col-md-12
              %h4 Documentos
              .bootstrap-table
                - if @candidate_assessment.present?
                  %table.table.table-striped.table-bordered.table-condensed
                    %thead{:style => "display: table-header-group;"}
                      %tr
                        %th Processo
                        %th Documento
                        %th Assunto
                        %th Observação
                    %tbody
                      - @candidate_assessment.order(:created_at).each do |assessment|
                        %tr
                          %td= assessment.document_number
                          %td= assessment.document_type.name
                          %td= assessment.subject.name
                          %td= assessment.observation
                - else
                  Informação não disponível
