.panel.panel-default
  .panel-heading
    %h4.panel-title
      Consulta cadastro
  .panel-body
    .row
      .col-md-3
        %section
          %h3 Pesquisa CPF
        %hr/
        %ul.list-group.nav
          %li
            = simple_form_for url_for, method: :get do |f|
              .row
                .col-md-12
                  = f.input :cpf, label: false, input_html: { name: 'cpf', placeholder: "Digite o CPF", value: params[:cpf]}
              .row
                .col-md-12
                  = f.submit "Pesquisar", name: nil, class: 'btn btn-success btn-lg', data: { disable_with: t(:disabled_button)}
          - if @candidate.present?
            %li
              %hr/
            - if policy(:cadastre, namespace: Candidate).update?
              %li
                %a{:href => "#{candidate.edit_cadastre_path(@candidate)}", class: 'btn btn-default'} Atualizar dados de contato
            - if policy(:cadastre, namespace: Candidate).update_situation?
              %li
                %a{:href => "#{candidate.cadastre_cadastre_situation_path(@candidate)}", class: 'btn btn-default'} Alterar situação
            - if policy(:cadastre, namespace: Candidate).update_procedural?
              %li
                %a{:href => "#{candidate.cadastre_cadastre_procedural_path(@candidate)}", class: 'btn btn-default'} Alterar situação processual
            - if policy(:inheritor, namespace: Candidate).create?
              %li
                %a{:href => "#{candidate.new_cadastre_inheritor_path(@candidate)}", class: 'btn btn-default'} Incluir herdeiro
      .col-md-9
        %section
          %h3 Detalhamento
        %hr/
        %section
        - if @candidate.present?
          .row
            .col-md-12
              %table.table.table-striped.table-bordered.table-condensed
                %thead
                  %tr
                    %th Situação do Candidato
                    %th Programa
                    %th Faixa
                    %th Lista
                    %th Posição
                    %th Última pontuação
                %tbody
                  - if @candidate.list.present?
                    - @candidate.list.each do |list|
                      %tr
                        %td
                          - if @candidate.current_situation_status == 'ok'
                            %span.success
                              = @candidate.current_situation_name
                          - if @candidate.current_situation_status == 'pendente'
                            %span.success
                              PENDENTE - #{@candidate.current_situation_name}
                          - if @candidate.current_situation_status == 'cinza'
                            %span.success
                              PENDENTE - #{@candidate.current_situation_name}
                        %td= program(@candidate.program_id)
                        %td= list[1][0]
                        %td= translate_list(list[0])
                        %td= "#{list[2]}º"
                        %td= @candidate.pontuations.last.total if @candidate.pontuations.present?
                  - else
                    %tr
                      %td= @candidate.current_situation_name
                      %td= program(@candidate.program_id)
                      %td
                      %td
                      %td
                      %td= @candidate.pontuations.last.total if @candidate.pontuations.present?
          .row
            .col-md-12
              %h4 Dados pessoais
              .bootstrap-table
                %table.table.table-striped.table-bordered.table-condensed
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th{:colspan => "2"} Nome
                      %th CPF
                      %th Idade
                  %tbody
                    %tr
                      %td{:colspan => "2"}= @candidate.name.upcase
                      %td= @candidate.cpf
                      %td= "#{@candidate.age} ano(s)"
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Sexo
                      %th Estado Civil
                      %th Condição Especial
                      %th Programa
                  %tbody
                    %tr
                      %td= @candidate.gender
                      %td= @candidate.civil_state.name if @candidate.civil_state.present?
                      %td= @candidate.special_condition.name if @candidate.special_condition.present?
                      %td= @candidate.program.name if @candidate.program.present?
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Identidade
                      %th UF da identidade
                      %th UF Nascimento
                      %th Renda Titular
                  %tbody
                    %tr
                      %td= @candidate.rg
                      %td= @candidate.rg_uf
                      %td= @candidate.born_uf
                      %td= @candidate.income
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Chegada no DF
                      %th NIS
                      %th CID
                      %th Data de Cadastro
                  %tbody
                    %tr
                      %td= @candidate.arrival_df.strftime('%d/%m/%Y') if @candidate.arrival_df.present?
                      %td= @candidate.nis
                      %td= @candidate.cid
                      %td= @candidate.created_at.strftime('%d/%m/%Y') if @candidate.created_at.present?
          .row
            .col-md-12
              %h4 Dados de contato
              .bootstrap-table
                %table.table.table-striped.table-bordered.table-condensed
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th{:colspan => "2"} Endereço
                      %th Complemento
                      %th Cidade
                  %tbody
                    %tr
                      %td{:colspan => "2"}= @candidate.address.upcase
                      %td= @candidate.address_complement
                      %td= @candidate.city.name if @candidate.city.present?
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Email
                      %th Telefone
                      %th Telefone Opcional
                      %th Celular
                  %tbody
                    %tr
                      %td= @candidate.email
                      %td= @candidate.telephone
                      %td= @candidate.telephone_optional
                      %td= @candidate.celphone
          %hr/
          .row
            .col-md-12
              %h4 Dependentes
              .bootstrap-table
                %table.table.table-striped.table-bordered.table-condensed
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Nome
                      %th Data da Nascimento
                      %th CPF
                      %th Parentesco
                      %th Sexo
                      %th Condição Especial
                  %tbody
                    - @candidate.dependents.each do |deps|
                      %tr
                        %td= deps.name.upcase
                        %td= deps.born.strftime('%d/%m/%Y')
                        %td= deps.cpf
                        %td= deps.kinship.name if deps.kinship.present?
                        %td= deps.gender
                        %td= deps.special_condition.name if deps.special_condition.present?
          %hr/
          .row
            .col-md-12
              %h4 Situação de cadastro
              .bootstrap-table
                %table.table.table-striped.table-bordered.table-condensed
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Situação
                      %th Data da situação
                  %tbody
                    - @candidate.cadastre_situations.order('id ASC').each do |candidate|
                      %tr
                        %td= candidate.situation_status.name.upcase if candidate.situation_status.present?
                        %td
                          - unless %w(2016-01-05 2016-01-15 2016-01-18).include? candidate.created_at.strftime('%Y-%m-%d').to_s
                            = candidate.created_at.strftime('%d/%m/%Y')
                          - else
                            Informação não disponível
          %hr/
          .row
            .col-md-12
              %h4 Situação de Processo
              .bootstrap-table
                %table.table.table-striped.table-bordered.table-condensed
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Situação
                      %th Convocação
                      %th Processo
                      %th Data da situação
                  %tbody
                    - @candidate.cadastre_procedurals.order('id ASC').each do |candidate|
                      %tr
                        %td= candidate.procedural_status.name.upcase if candidate.procedural_status.present?
                        %td= link_to candidate.convocation.description, "#", title: "#{candidate.convocation.criteria}" if candidate.convocation.present?
                        %td= candidate.old_process
                        %td
                          - unless %w(2016-01-05 2016-01-15 2016-01-18).include? candidate.created_at.strftime('%Y-%m-%d').to_s
                            = candidate.created_at.strftime('%d/%m/%Y')
                          - else
                            Informação não disponível
          %hr/
          .row
            .col-md-12
              %h4 Endereço Vinculado
              .bootstrap-table
                - if @candidate.cadastre_address.present?
                  %table.table.table-striped.table-bordered.table-condensed
                    %thead{:style => "display: table-header-group;"}
                      %tr
                        %th Cidade
                        %th Endereço
                        %th Doado?
                        %th Empreendimento
                    %tbody
                      - @candidate.cadastre_address.each do |add|
                        %tr
                          %td= add.unit.city.name if add.unit.present?
                          %td= link_to add.unit.complete_address, address.unit_path(add.unit.id) if add.unit.present?
                          %td= add.unit.donate ? "Sim" : "Não" if add.unit.present?
                          %td= add.unit.enterprises.name if add.unit.present? && add.unit.enterprises.present?
                  -if @candidate.cadastre_address.last.unit.situation_unit_id == 3 && @candidate.cadastre_address.last.cadastre.cadastre_procedurals.last.procedural_status.id == 4
                    .row
                      .col-md-12
                        = link_to "Ficha descritiva",cadastre_addresses_path(cpf: @candidate.cadastre_address.last.cadastre.cpf), class: 'btn btn-info'
                - else
                  Informação não disponível

          %hr/
          .row
            .col-md-12
              %h4 Dados de IPTU
              .bootstrap-table
                - if @iptu.present?
                  %table.table.table-striped.table-bordered.table-condensed
                    %thead{:style => "display: table-header-group;"}
                      %tr
                        %th Inscrição de IPTU
                        %th Endereço
                        %th Cidade
                        %th Tipo de pesquisa
                    %tbody
                      - @iptu.each do |i|
                        %tr
                          %td= i.registration
                          %td= i.address
                          %td= i.city
                          %td= i.kind_search
                - else
                  Informação não disponível
          %hr/
          .row
            .col-md-12
              %h4 Indicação para empreendimento
              .bootstrap-table
                - if @candidate.enterprise_cadastres.present?
                  %table.table.table-striped.table-bordered.table-condensed
                    %thead{:style => "display: table-header-group;"}
                      %tr
                        %th Empreendimento
                        %th Data de encaminhamento
                        %th Situação
                    %tbody
                      - @candidate.enterprise_cadastres.each do |enterprise|
                        %tr
                          %td= enterprise.enterprise.name if enterprise.enterprise.present?
                          %td= enterprise.created_at.strftime("%d/%m/%Y")
                          %td= enterprise.inactive ? "Indicação inativada em: #{enterprise.inactive_date.strftime("%d/%m/%Y")}" :  "Indicação ativa"
                - else
                  Informação não disponível
          %hr/
          .row
            .col-md-12
              %h4 Atendimentos
              .bootstrap-table
                %table.table.table-striped.table-bordered.table-condensed
                  %thead{:style => "display: table-header-group;"}
                    %tr
                      %th Status
                      %th Convocação
                      %th Observação
                      %th Data
                  %tbody
                    - @candidate.attendances.order(:created_at).each do |attendance|
                      - unless attendance.attendance_status_id == 99
                        %tr
                          %td= (attendance.attendance_status.present?) ? attendance.attendance_status.name  : 'Informação não disponível'
                          %td= (attendance.convocation.present?) ? attendance.convocation.description  : 'Informação não disponível'
                          %td= (attendance.observation.present?) ? attendance.observation : 'Informação não disponível'
                          %td= attendance.created_at.strftime('%d/%m/%Y às %H:%M')
          %hr/
          .row
            .col-md-12
              %h4 Documentos
              .bootstrap-table
                - if @candidate_assessment.present?
                  %table.table.table-striped.table-bordered.table-condensed
                    %thead{:style => "display: table-header-group;"}
                      %tr
                        %th Processo
                        %th Documento
                        %th Assunto
                        %th Observação
                    %tbody
                      - @candidate_assessment.order(:created_at).each do |assessment|
                        %tr
                          %td= link_to assessment.document_number, protocol.assessment_path(assessment.id), target: "_blank"
                          %td= assessment.document_type.name
                          %td= assessment.subject.name if assessment.subject.present?
                          %td= assessment.observation
                - else
                  Informação não disponível
          %hr/
          .row
            .col-md-12
              %h4 Cadastro imobiliário
              .bootstrap-table
                - if @cadin.present?
                  %table.table.table-striped.table-bordered.table-condensed
                    %thead{:style => "display: table-header-group;"}
                      %tr
                        %th Nome
                        %th CPF
                        %th Processo
                    %tbody
                      - @cadin.order(:created_at).each do |c|
                        %tr
                          %td= c.name
                          %td= c.cpf
                          %td= c.process
                - else
                  Informação não disponível
          %hr/
          .row
            .col-md-12
              %h4 Atividades
              .bootstrap-table
                - if @candidate.cadastre_activities.present?
                  %table.table.table-striped.table-bordered.table-condensed
                    %thead{:style => "display: table-header-group;"}
                      %tr
                        %th Status da atividade
                        %th Tipo de atividade
                        %th Observação
                        %th Data
                    %tbody
                      - @candidate.cadastre_activities.each do |c|
                        %tr
                          %td= c.activity_status.title if c.activity_status.present?
                          %td= c.type_activity
                          %td= c.observation
                          %td= c.created_at.strftime("%d/%m/%Y")
                - else
                  Informação não disponível
        - else
          %i
