%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Extranet
    = stylesheet_link_tag 'portal', media: 'all'
    = javascript_include_tag 'portal', media: 'all'
    = csrf_meta_tags
  %body
    = render 'layouts/portal/partials/nav'
    .container{'style': 'margin-top:40px;'}
      .row
        .col-md-12
          = image_tag @project.background.url, width: 450 if @project.background?

      %hr/
      .row
        .col-md-3
          = render 'layouts/concourse/partials/project_sidebar'
        .col-md-8 
          = yield
      %hr/
      .row
        .col-md-12
          = image_tag('footer-concursos.png', width: '100%')

    
    
