%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Extranet
    = stylesheet_link_tag 'portal', media: 'all'
    = javascript_include_tag 'portal', media: 'all'
    = csrf_meta_tags
  %body
    = render 'layouts/portal/partials/nav'
    .container{'style': 'margin-top:40px;'}
      .row
        .col-md-12{'style':'text-align: center'}
          %h1
            %strong Concursos Codhab          
      %hr/
      = yield
  #modal.modal.fade{"aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content  
