.col-md-12
  .panel.panel-default
    .panel-body
      = render 'layouts/firm_portal/tabs'
      .row
        .col-md-12
          %h3
            %b Endereços
            %br/
            %small
      .row
        .col-md-12
          = simple_form_for url_for, method: 'get' do |f|
            .row
              .col-md-5
                = f.label 'Endereço', class: 'fg-label'
                = f.input :address, label: false, input_html: { name: 'address', value: params[:address]}
              .col-md-4
                = f.label 'Situação do Imóvel', class: 'fg-label'
                = f.input :status, label: false,  label_method: 'description', collection: Address::SituationUnit.all, selected: params[:status], input_html: { name: 'status'},include_blank: 'Todos'
              .col-md-2
                %br
                = f.submit 'Pesquisar', name: nil, class:  'btn btn-primary', data: {  disable_with: "Pesquisando aguarde..."}
      .row
        .col-md-12
          %table#data-table-command.table.table-striped.table-vmiddle.datatable
            %thead
              %tr
                %th Endereço
                %th Área
                %th Situação
                %th Ações
            %tbody
              - @enterprise_units.each do |u|
                %tr
                  %td.col-md-4= u.complete_address
                  %td.col-md-2= u.area
                  %td.col-md-2= u.situation_unit.description if u.situation_unit_id.present?
                  %td.col-md-3
                    = link_to "Visualizar".html_safe, enterprise_unit_path(u), remote: true, class: " btn btn-info"
                    - if u.situation_unit_id == 1
                      = link_to "Reservar".html_safe, new_enterprise_unit_cadastre_address_path(u), class: " btn btn-primary"
                    - if  u.situation_unit_id == 6
                      = link_to "Liberar/Vender".html_safe, enterprise_unit_sale_path(u),  remote: true, class: " btn btn-success"
      .row
        .col-md-6.col-md-offset-3
          .container
            = will_paginate @enterprise_units, renderer: BootstrapPagination::Rails