%html
  %head
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7024614-9']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      window.smartlook||(function(d) {
      var o=smartlook=function(){ o.api.push(arguments)},s=d.getElementsByTagName('script')[0];
      var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
      c.charset='utf-8';c.src='//rec.getsmartlook.com/bundle.js';s.parentNode.insertBefore(c,s);
      })(document);
      smartlook('init', '51f12ba1ca61744f60383cc80125dbe2f9ba1d6e');
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    - if controller_name == "posts"
      %meta{:content => "#{@post.title}", :property => "og:title"}/
      %meta{:content => "#{@post.thumbnail}", :property => "og:image"}/
      %meta{:content => "#{request.url}", :property => "og:url"}
    - if (controller_name == 'galleries' && action_name == 'show')
      %meta{:content => "#{@gallery.title}", :property => "og:title"}/
      %meta{:content => "#{@gallery.thumbnail}", :property => "og:image"}/
      %meta{:content => "#{request.url}", :property => "og:url"}
    %title Portal Codhab
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300,100", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'shared/portal', media: 'screen'
    = javascript_include_tag "https://www.google.com/jsapi"
    = javascript_include_tag 'shared/portal', media: 'screen', 'data-turbolinks-eval' => 'false'
    = csrf_meta_tags

    :javascript
      var URL = "#{request.host_with_port}"
  %body{style: (controller_path == "portal/home")? "background-color:#fff!important;" : "background-color:#EBECF0!important;"}
    = render 'partials/shared/portal/top_nav'
    = render 'partials/shared/portal/header'
    %div{class: (controller_path == "portal/home" || controller_path == "portal/habita_teste") ? "" : "container portal-container box"}
      = yield
    = render 'partials/shared/portal/footer'
    #modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
