%hr/
= simple_form_for @attendant, remote: true do  |f|
  .row
    .col-md-6
      = f.label :station, class: 'fg-label'
      = f.input :station, as: :select, label: false, collection: Attendance::Station.all, prompt: "selecione...", input_html: { id: "modal_station_id"}
    .col-md-6
      = f.label :counter, class: 'fg-label'
      = f.input :counter, as: :select, collection: (@attendant.counter.present?) ? Attendance::Counter.where(station_id: @attendant.station).order(:number) : {}, label_method: :number, label: false, prompt: "selecione o posto de atendimento...", input_html: { id: "modal_counter_id"}
  %hr/
  .row
    .col-md-12
      = f.submit 'Atualizar meu guichê', class: 'btn btn-success pull-right'    
  %br/

:javascript 

    $('#modal_station_id').on('change', function() {
      $.getJSON("/atendimento/counters?station_id=" + $(this).val(), function(data) {
        var items = '<option value>Não víncular guichê</option>';
       
        for(var i = 0; i < data.length; i++) {
          items += "<option value='"+ data[i].id +"'>"+data[i].number+"</option>";
        }

        $('#modal_counter_id').html(items);
      });
    });