= simple_form_for @enterprise_situation_status, remote: true do |f|
  .row
    .col-md-12
      = f.label :name, class: 'fg-label'
      = f.input :name, label: false, input_html: { placeholder: 'Digite um nome'}
  .row
    .col-md-12
      = f.label :description, class: 'fg-label'
      = f.input :description, label: false, input_html: { placeholder: 'Digite uma descrição'}
  .row
    .col-md-3
      = f.label :status, class: 'fg-label'
      = f.input :status, as: :select, label: false, include_blank: false
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success btn-sm', data: { disable_with: t(:disabled_button) }
