%ul.list-group
  %li.list-group-item= link_to "Ínicio", portal_candidates_path
  %li.divider
  %li.list-group-item= link_to "Concursos", portal_projects_path(:q => 'open')
  %li.divider
  %li.list-group-item= link_to "Alterar meus dados", edit_portal_candidate_path(current_user.account_id)
  %li.list-group-item= link_to "Alterar minha senha", new_portal_password_path
  %li.divider
  %li.list-group-item= link_to "Notificações"
  %li.list-group-item= link_to "Minhas inscrições",portal_candidates_path
  %li.divider
  %li.list-group-item= link_to "Sair", main_app.destroy_user_session_path, method: :delete
  