.row
 .col-md-12
  = simple_form_for @property, remote: true do |f|
   .row
    .col-md-12
     = f.label :name, class: 'fg-label'
     = f.input :name, label: false, input_html: { placeholder: 'Digite a propriedade'}
   .row
    .col-md-12
     = f.label :description, class: 'fg-label'
     = f.input :description, label: false, input_html: { placeholder: 'Digite a descrição'}
   .row
    .col-md-12
     = f.label :status, class: 'fg-label'
     = f.input :status, label: false, input_html: { class: 'options' }
   .row
    .col-md-12
     = f.submit :submit, class: 'btn btn-success'
   %br/
