%h1 Listing properties

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @properties.each do |property|
      %tr
        %td= property.name
        %td= property.description
        %td= link_to 'Show', property
        %td= link_to 'Edit', edit_property_path(property)
        %td= link_to 'Destroy', property, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Property', new_property_path
