= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick"

.container
  .row.box
    .col-md-12
      .box_internal
        .col-md-12
          .row
            .col-md-12
              %h1
                %b Detalhamento do Candidato
              %h4
                = link_to "Ir para listas", url_for('/pagina/43')
                |
                = link_to "Pesquisar CPF", find_candidate_path
          %hr/
          .row
            .col-md-12
              %h3
                %b Detalhamento de posição
          %br/
          %br/
          .row
            .col-md-12{style: 'text-align: center'}
              = line_chart Candidate::Position.where(cadastre_id: @candidate.id).pluck(:program_id).uniq.map {|c|{name: Candidate::Program.find(c).name, data: Candidate::Position.where(cadastre_id: @candidate.id, program_id: c).map {|p| [p.created_at.strftime("%B %d, %Y"), p.position]}}}, ytitle: "Posições", library: { tooltip: {  pointFormat: 'Posição: <b>{point.y}º</b>'}}


          .row
            .col-md-12
              %h3
                %b Histórico
          .row
            .col-md-12
              %table.table
                %thead
                  %tr
                    %th Data
                    %th Lista
                    %th Faixa
                    %th Posição
                    %th Cod. Pontuação
                    %th Habilitados  dia
                    %th Contemplados dia
                    %th Indeferidos  dia
                    %th Mudança de faixa
                %tbody
                  - @candidate.positions.each do |position|
                    %tr
                      %td= position.created_at.strftime('%d/%m/%Y')
                      %td= position.program.name
                      %td= position.zone
                      %td= position.position
                      %td= position.pontuation_id
                      %td 0
                      %td 0
                      %td 0
                      %td 0
        .row

