= javascript_include_tag "http://code.highcharts.com/highcharts.js"

.container
  .row.box
    .col-md-12
      .box_internal
        .col-md-12
          .row
            .col-md-12
              %h1
                %b Detalhamento do Candidato
              %h4
                = link_to "Ir para listas", url_for('/pagina/43')
                |
                = link_to "Pesquisar CPF", find_candidate_path
          %hr/
          .row
            .col-md-12
              %h3
                %b Detalhamento de posição
          %br/
          %br/
          .row
            .col-md-12{style: 'text-align: center'}
              #container_zueira

        .row
:javascript
jQuery(document).ready(function(){
  $(function () {
      var url_json = "http://"+ URL +"/habitacao/candidato/#{@candidate.cpf}/detalhe.json?program_id=";
        function get_json(y){
          var listas = ["GENERICA","RII","RIE","REGULARIZAÇÃO","VULNERAVEIS","DEFICIENTE","CADASTRO ANTIGO","IDOSOS"];
          $.getJSON(url_json+y, function (data) {

                  if(data.length > 0){
                      var ex = [];
                      var lists_data = [];
                      $.each(data,function(index){
                          ex.push([Date.UTC(data[index][1][0],data[index][1][1]-1,data[index][1][2]),data[index][0],data[index][2]]);
                          lists_data.push(data[index][2]);
                      });
                      $('.container_grafico_'+y).highcharts({

                          chart: {
                              zoomType: 'x'
                          },
                          title: {
                              text:listas[y]
                          },
                          subtitle: {
                              text: document.ontouchstart === undefined ?
                                      'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                          },
                          xAxis: {
                              format: '{value:%Y-%m-%d}',
                              type: 'datetime'
                          },
                          yAxis: {
                              title: {
                                  text: 'Posição'
                              },
                              reversed: true
                          },
                          legend: {
                              enabled: true
                          },
                          plotOptions: {area: {
                                  fillColor: {
                                      linearGradient: {
                                          x1: 0,
                                          y1: 0,
                                          x2: 0,
                                          y2: 2
                                      },
                                      stops: [
                                          [0, Highcharts.getOptions().colors[0]],
                                          [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                      ]
                                  },
                                  marker: {
                                      radius: 0
                                  },
                                  lineWidth: 1,
                                  states: {
                                      hover: {
                                          lineWidth: 1
                                      }
                                  },
                                  threshold: null
                              },

                          },
                          series: [{
                              type: 'line',
                              name: 'Posição',
                              data:ex
                          }],
                          tooltip: {
                            useHTML: true,
                            formatter: function() {
                            var serie = this.series;
                            var datas = "/habitacao/candidato/#{@candidate.cpf}/detalhe?date=" + Highcharts.dateFormat('%Y-%m-%d', this.x);
                            var s = '<b>' + Highcharts.dateFormat('%d/%m/%Y', this.x) + '</b><br>';
                            s += '<span style="color:' + serie.color + '">' + serie.options.name + '</span>: <b>' + this.y + '</b><br/>';
                            s += '<a data-remote="true" href="'+ datas +'">' + "Detalhes do dia na lista " + listas[y] + '</a>'
                            return s;
                            }
                        }
                      });

                    }
          });
      }

        for (x = 1; x <= 7;x++){
          $("<div class='container_grafico_"+ x +"'></div>").appendTo('#container_zueira');
            get_json(x);
          }
  });
});
