.card
  .card-header.ch-alt
    %h2
      Detalhamento de Agendamento | #{@schedule.date.strftime('%d/%m/%Y')} às #{@schedule.hour.strftime('%H:%M')}
      = link_to "Voltar", agenda_schedules_path(@agenda), class: 'btn btn-inverse pull-right'
      %small detalhamento de agendamento
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
      %thead
        %tr
          %th Protocolo
          %th Data
          %th Hora
          %th Status
          %th{colspan: 2} Ações
      %tbody
        %tr
          %td= @schedule.protocol
          %td= @schedule.date.strftime('%d/%m/%Y')
          %td= @schedule.hour.strftime('%H:%M')
          %td= @schedule.status.humanize
          %td= link_to "Atualizar Status", edit_agenda_schedule_path(agenda_id: @agenda, id: @schedule)
          %td= link_to "Cancelar Agendamento"  
      %thead
        %tr
          %th Nome
          %th CPF
          %th E-mail
          %th Telefone
          %th Telefone Opcional
          %th Celular
      %tbody
        %tr
          %td= @schedule.name
          %td= @schedule.cpf
          %td= @schedule.email
          %td= @schedule.telephone
          %td= @schedule.telephone_optional
          %td= @schedule.celphone
      %thead
        %tr
          %th Data de Nascimento
          %th Cidade
          %th{colspan: 5} Observações
      %tbody
        %tr
          %td= @schedule.born.strftime('%d/%m/%Y')
          %td= @schedule.city.name if @schedule.city.present?
          %td{colspan: 5}= @schedule.observation
  