= form_for @good do |f|
  - if @good.errors.any?
    #error_explanation
      %h2= "#{pluralize(@good.errors.count, "error")} prohibited this good from being saved:"
      %ul
        - @good.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :code_goods
    = f.text_field :code_goods
  .field
    = f.label :date_acquisition
    = f.date_select :date_acquisition
  .field
    = f.label :status
    = f.check_box :status
  .field
    = f.label :sector
    = f.text_field :sector
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :material
    = f.text_field :material
  .field
    = f.label :property
    = f.text_field :property
  .actions
    = f.submit 'Save'
