#navs.tab-pane{:class => (params[:q] == 'menus') ? 'active' : '', :role => "tabpanel"}
  .card
    .row
      .col-md-12
        = link_to "Novo Menu", new_project_nav_path(@project), class: 'btn btn-success btn-sm'
    %br/
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table.table.table-striped.table-hover.datatable
        %thead
          %tr.info
            %th.col-md-1 #
            %th Título
            %th Tipo
            %th URL
            %th Target
            %th Publicado?
            %th Ordem
            %th Ações
        %tbody
          - @project.navs.order(:order).each_with_index do |nav, index|
            %tr{:class => (params[:css_order].present? && params[:css_order].to_i == nav.id) ? 'success' : '' }
              %td= index + 1
              %td= nav.label
              %td= nav.action
              %td= nav.url
              %td= nav.target
              %td= nav.publish ? 'publicado' : 'não publicado'
              %td.col-md-1
                = link_to "", project_nav_change_order_path(next_nav_id: @project.navs.unscoped.order(:order).to_a[index + 1].id, project_id: @project, nav_id: nav), class: 'md-keyboard-arrow-down btn btn-warning' if index == 0 && @project.navs.unscoped.count > 1

                = link_to "", project_nav_change_order_path(next_nav_id: @project.navs.unscoped.order(:order).to_a[index + 1].id, project_id: @project, nav_id: nav), class: 'md-keyboard-arrow-down btn btn-warning' if index + 1 < @project.navs.unscoped.count && index != 0

                = link_to "", project_nav_change_order_path(next_nav_id: @project.navs.unscoped.order(:order).to_a[index - 1].id, project_id: @project, nav_id: nav) , class: 'md-keyboard-arrow-up btn btn-warning' if index > 0
              %td.col-md-2
                = link_to "", edit_project_nav_path(project_id: @project, id: nav),class: 'md md-edit btn btn-primary'
                = link_to "", project_nav_path(project_id: @project, id: nav), method: :delete,class: 'md md-delete btn btn-danger', :data => { :confirm => t(:confirm_delete) }