.card
  .card-header.ch-alt
    %h2 navs
    = link_to "Novo", new_nav_path, class: 'btn btn-success pull-right'
    %small Listagem de navs
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.datatable
      %thead
        %tr
          %th Project
          %th Page
          %th Url
          %th Target
          %th Action
      %tbody
        - @navs.each_with_index do |nav, index|
          %tr
            %td= nav.project
            %td= nav.page
            %td= nav.url
            %td= nav.target
            %td= nav.action

     