= simple_form_for [ :administrator, @project_category] do |f|
  .col-md-12
    .card
      .card-body.card-padding
        .row
          .col-md-6
            = f.label :name, class: 'fg-label'
            = f.input :name, label: false, input_html: { placeholder: 'Digite um nome'}
        .row
          .col-md-6
            = f.label :status, class: 'fg-label'
            = f.input :status, label: false, input_html: { placeholder: 'Digite um nome'}
        .row
          .col-md-12
            = f.button :button, class: 'btn btn-success' do
              Salvar
            = link_to 'Voltar', concourse.administrator_project_categories_path , class: 'btn btn-default'
         