.card
  .card-header.ch-alt
    %h2
      Categorias de concurso
      = link_to 'nova categoria', concourse.new_administrator_project_category_path,class: 'btn btn-success pull-right'
      %small Listagem de categorias
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th #
          %th Nome
          %th Status
          %th Ações
      %tbody
        - @project_categories.each_with_index do |p, i|
          %tr 
            %td= i + 1
            %td= p.name
            %td= (p.status) ? "<span class='label label-success'>ativo</span>".html_safe : "<span class='label label-default'>inativo</span>".html_safe
            %td.col-md-2
              = link_to "", concourse.edit_administrator_project_category_path(p), class: 'md-mode-edit btn btn-primary waves-effect waves-button waves-float waves-effect waves-button waves-float'
              = link_to "", concourse.administrator_project_category_path(p), method: :delete, class: 'md-highlight-remove btn btn-danger waves-effect waves-button waves-float'