
.row
  .col-md-12
    %h3
      %strong Minhas inscrições
    %table.table.table-bordered.table-condesend
      %thead
        %tr
          %th #
          %th Concurso
          %th Data da inscrição
          %th Status
          %th Ações
      %tbody
        - @candidate.erollments.each_with_index do |c, i|
          %tr
            %td= i + 1
            %td= link_to c.enrollment.project.name, portal_project_path(c.enrollment.project)
            %td= c.created_at.strftime('%d/%m/%Y às %H:%M')
            %td
            %td.col-md-3
              = link_to "Minha inscrição", concourse.portal_project_enrollment_enrollment_candidate_path(project_id: c.enrollment.project.id, enrollment_id: c.enrollment.id, id: c), class: 'btn btn-success btn-xs'
              = link_to "Enviar projeto", "#", class: 'btn btn-danger btn-xs' 
  