
.row
  .col-md-12
    %h3
      %strong Minhas inscrições
    %table.table.table-bordered.table-condesend
      %thead
        %tr
          %th #
          %th Concurso
          %th Ínicio
          %th Fim
          %th Status
          %th Informações
          %th Meu Cadastro
      %tbody
        - @candidate.enrollment_candidates.each_with_index do |c, i|
          %tr
            %td= i + 1
            %td= link_to c.enrollment.project.name, portal_project_path(c.enrollment.project)
            %td= c.enrollment.project.start.strftime('%d/%m/%Y')
            %td= c.enrollment.project.end.strftime('%d/%m/%Y')
            %td
            %td.col-md-1= link_to "Detalhes", portal_project_path(c.enrollment.project), class: 'btn btn-success btn-sm'
            %td.col-md-3
              = link_to "Meu Cadastro", portal_meu_cadastro_path, class: 'btn btn-success btn-sm'
              = link_to "Enviar projeto", "#", class: 'btn btn-danger btn-sm'
  