.card
  .card-header.ch-alt
    .row
      .col-md-12
        %h2
          Empreendimento
          = link_to 'novo empreendimento', new_enterprise_path, class: 'btn btn-success pull-right' #if policy(:sector, namespace: Person).create?
          %small Listagem de Empreendimentos
  %hr/
  .row
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table.table.table-hover.table-bordered.datatable
        %thead
          %tr
            %th Nome
            %th Empresa
            %th Tipologia
            %th Status
            %th Ações
        %tbody.index-sector
          - if @enterprises.present?
            - @enterprises.each_with_index do |j, i|
              %tr
                %td.col-md-4= j.name.to_s.upcase
                %td.col-md-1= j.company.name if j.company.present?
                %td.col-md-2= j.tipology.name if j.tipology.present?
                %td.col-md-1= j.status ? 'ativo' : 'inativo'
                %td.col-md-2
                  = link_to "", edit_enterprise_path(j),  title: 'Editar', 'data-toggle' => 'tooltip', class: 'md-mode-edit btn btn-primary waves-effect waves-button waves-float' #i  policy(:staff,              namespace: Person).update?
