= simple_form_for [:portal, @candidate] do |f|
  = simple_fields_for :user do |u|
    .row
      .col-md-3
        = u.input :username
    .row
      .col-md-3
        = u.input :password
    .row
      .col-md-3
        = u.input :password_confirmation
    .row
      .col-md-3
        = u.button :submit
