= simple_form_for [:administrator, @project, @nav] do |f|
  .card
    .card-body.card-padding
      .row
        .col-md-4
          = f.label :link, class: 'fg-label'
          = f.input :link, label: false, input_html: { placeholder: 'Digite o nome do link'}
        .col-md-2
          = f.label :target, class: 'fg-label'
          = f.input :target, as: 'select', collection: Concourse::Nav.targets.keys, label: false, prompt: 'selecione...'
        .col-md-2
          = f.label :page_action, class: 'fg-label'
          = f.input :page_action, as: 'select', collection: Concourse::Nav.page_actions.keys, label: false, prompt: 'selecione...'
        .col-md-2
          .checkbox.m-b-15
            %label
              = f.check_box :publish
              %i.input-helper
              Menu publicado para visualização
      .row
        .col-md-4
          = f.label :page, class: 'fg-label'
          = f.association :page, label: false, prompt: 'Selecione a página...'
        .col-md-4
          = f.label :external_link, class: 'fg-label'
          = f.input :external_link, label: false, input_html: { placeholder: 'Digite a ordem do menu'}
      .row
        .col-md-12
          = f.button :submit, class: 'btn btn-success'
          = link_to "voltar", concourse.administrator_project_navs_path(@project), class: 'btn btn-default'
  
