= simple_form_for([@ticket_type, @ticket_attendant]) do |f|
  .card-body.card-padding
    .row
      .col-md-6
        = f.label :staff, class: 'fg-label'
        = f.association :staff, label: false, prompt: "Selecione o funcionário..."
    .row
      .col-md-12
        = f.label :status
        = f.input :status, id: 'ts4',hidden: 'hidden', type: 'checkbox', label:false
    %hr/
    .row
      .col-md-12
        = f.button :submit, class: 'btn btn-success btn-sm',data: {disable_with: "carregando..."}
        = link_to "voltar", ticket_type_ticket_attendants_path(@ticket_type), class: 'btn btn-default btn-sm',data: {disable_with: "carregando..."}
