.row
 .col-md-12
  = simple_form_for [@good, @drive], remote: true do |f|
   .row
    .col-md-12
     %h5 Patrimônio a ser movimentado:
     = "#{@good.code_goods} - #{@good.material.name}"
     %br/
     %br/
    .col-md-12
     %h5 Localização e Usuário Atual:
     = "#{@good.sector.name} - #{@good.sector.responsible.name}"
   %br/
   %h4 Movimentar para:
   %br/
   %br/
   .row 
    .col-md-12
     = f.label :sector, class: 'fg-label'
     = f.association :sector, label: false 
   .row
    .col-md-12
     = f.button :submit, class: 'btn btn-success'
   %br/
