- if @candidate.present?
  .row
    .col-md-12
      %h4 Informações básicas
      %table.table.tabel-hover.table-bordered
        %thead
          %tr
            %th Nome
            %th CPF
            %th RG
            %th Sexo
            %th Nascimento
        %tbody
          %tr
            %td= @candidate.name
            %td= @candidate.cpf.format_cpf
            %td= "#{@candidate.rg} - #{@candidate.rg_org}/#{@candidate.rg_uf}" 
            %td= @candidate.gender
            %td= @candidate.born.strftime('%d/%m/%Y') if @candidate.born.present?
  .row
    .col-md-12
      %h4
        Atualizações cadastral
      %table.table.tabel-hover.table-bordered
        %thead
          %tr
            %th Data
            %th Situação
            %th Pontuação
            %th Atendente
            %th Supervisor
            %th Ação
        %tbody
          - @candidate.cadastre_mirrors.order('created_at DESC').each do |mirror|
            %tr
              %td.col-md-1= mirror.created_at.strftime('%d/%m/%Y')
              %td.col-md-1= mirror.situation.humanize
              %td.col-md-1= mirror.pontuation.present? ? "Pontuado" : "Não pontuado"
              %td.col-md-1 Fulano 2
              %td.col-md-1 Fulano 2
              %td.col-sm-2 
                = link_to "", edit_attendance_cadastre_mirror_path(mirror), class: 'btn btn-primary btn-xs glyphicon glyphicon-pencil', title: "Atualização cadastral" if mirror.attendant_step?
                
                = link_to "", attendance_cadastre_mirror_dependent_mirrors_path(cadastre_mirror_id: mirror.id), class: 'btn btn-primary btn-xs glyphicon glyphicon-user', title: "Atualização dependentes" if mirror.attendant_step?
                
                = link_to "", new_attendance_cadastre_mirror_checklist_path(cadastre_mirror_id: mirror.id), class: 'btn btn-primary btn-xs glyphicon glyphicon-check', title: "Checklist" if mirror.attendant_step?
                
                = link_to "", attendance_cadastre_mirror_path(mirror.id), method: :delete, data: { confirm: t(:confirm)}, class: 'btn btn-danger btn-xs glyphicon glyphicon-remove', title: "Cancelar" if mirror.attendant_step?
                
                = link_to "", '#', class: 'btn btn-success btn-xs glyphicon glyphicon-ok', title: "Finalizar atendimento" if mirror.supervisor_step?

  .row
    .col-md-12
      %h4 Agendamentos
      - if @candidate.schedules.present?
        %table.table.tabel-hover.table-bordered
          %thead
            %tr
              %th Data
              %th Horário
              %th Agenda
              %th Situação
              %th Ação
          %tbody
            - @candidate.schedules.each do |schedule|
              %tr
                %td.col-md-2= schedule.date
                %td.col-md-2= schedule.hour
                %td.col-md-2= schedule.agenda.title if schedule.agenda.present?
                %td.col-md-3= schedule.status 
                %td.col-md-2 Sem ação
      - else
        %i Nenhum agendamento encontrado neste CPF

  .row
    .col-md-12
      %h4 Log de atendimento
      - if @candidate.attendance_logs.present?
        %table.table.tabel-hover.table-bordered
          %thead
            %tr
              %th Data
              %th Horário
              %th Ação
              %th Usuário
          %tbody
            - @candidate.attendance_logs.each do |log|
              %tr
                %td.col-md-2= log.created_at.strftime("%d/%M/%Y")
                %td.col-md-2= log.created_at.strftime("%H:%M")
                %td.col-md-4= log.content.humanize
                %td.col-md-4= log.user.code.humanize
      - else
        %i Nenhum log vínculado a este CPF

  .row
    .col-md-12
      %h4 Ocorrências
      - if @candidate.schedules.present?
        %table.table.tabel-hover.table-bordered
          %thead
            %tr
              %th Data
              %th Horário
              %th Agenda
              %th Situação
              %th Ação
          %tbody
            - @candidate.schedules.each do |schedule|
              %tr
                %td.col-md-2= schedule.date
                %td.col-md-2= schedule.hour
                %td.col-md-2= schedule.agenda.title if schedule.agenda.present?
                %td.col-md-3= schedule.status 
                %td.col-md-2 Sem ação
      - else
        %i Nenhuma ocorrência encontrada neste CPF
- else
  %i Nenhum dado encontrado.