#anch
  = simple_form_for @cadastre, url: action_portal.cadastres_url.to_s + '#anch', method: :post do |f|
    .card-body.card-padding
      .row
        .col-md-8
          = f.input :name, input_html: { placeholder: 'Digite seu nome'}, :label => "Nome"
        .col-md-2
          = f.label "Data de nascimento", as: 'string', class: 'fg-label'
          = f.input :born, as: 'string', label: false, input_html: { class: 'date', placeholder: '00/00/0000', value: (@cadastre.born) ? localize(f.object.born) : nil}
        .col-md-2
          = f.input :cpf, input_html: { placeholder: 'Digite o cpf'}
      .row
        .col-md-4
          = f.label "Cidade", class: 'fg-label'
          = f.association :city, label: false, include_blank: false, collection: Address::City.federal_district
        .col-md-4
          = f.label "Endereço", class: 'fg-label'
          = f.input :address, label: false, input_html: {placeholder: 'Digite o nome da localização'}
      .row
        .col-md-4
          = f.label "Profissão", class: 'fg-label'
          = f.association :profession, label: false, include_blank: false
        .col-md-4
          = f.label "Formação", class: 'fg-label'
          = f.association :formation_area, label: false, include_blank: false
        .col-md-4
          = f.label "Área de atuação", class: 'fg-label'
          = f.association :atuation_area, label: false, include_blank: false
      .row
        .col-md-4
          = f.label "Nacionalidade", class: 'fg-label'
          = f.input :nationality, label: false, input_html: { placeholder: 'Digite o nacionalidade'}
        .col-md-4
          = f.label "Telefone", class: 'fg-label'
          = f.input :phone, label: false, input_html: { placeholder: 'Digite o telefone'}
        .col-md-4
          = f.label "Email", class: 'fg-label'
          = f.input :email, label: false, input_html: { placeholder: 'Digite o email'}
      .row
        .col-md-3
          = f.label "Senha", class: 'fg-label'
          = f.input :password, label: false, input_html: {placeholder: 'Digite a senha'}
        .col-md-3
          = f.label "Confirmar Senha", class: 'fg-label'
          = f.input :password_confirmation, label: false, input_html: { placeholder: 'Redigite sua senha'}
      .row
        .col-md-12
          = f.button :submit,'Inscrever-se',class: 'btn btn-cadastre', data: {disable_with: t(:disable_with)}
