.row
  .col-md-2.about_action
    %span.about_action_title
      sobre
  .col-md-10.about_action_text
    %p
      Nulla tincidunt, erat at pretium rhoncus, orci est imperdiet diam, vitae condimentum lorem quam id metus. Etiam at blandit ligula. Suspendisse odio velit, viverra sit amet fermentum in, interdum lobortis nisl. Proin bibendum sodales ipsum vehicula viverra. Aliquam semper vel magna nec interdum. Fusce cursus dapibus vehicula. Fusce faucibus varius ligula, sit amet interdum ipsum lobortis in. Cras a neque at metus semper porta aliquet a mi. Nunc ac ex felis. Vivamus id sollicitudin dui, a porta nibh. Nam fermentum luctus neque, nec viverra massa tincidunt in. Mauris vestibulum urna eget posuere aliquet. Pellentesque sed arcu ut lorem gravida tincidunt vitae at mauris. Curabitur venenatis libero non sem dignissim porta. Etiam molestie turpis nec est congue dignissim. Ut fermentum ligula sed ligula malesuada consectetur quis vitae lectus.
.row
  .action_title_home.col-md-12
    %p
      seja um parceiro e
      %br
      colabore para transformar as áreas de interesse
      %br
      social do Distrito Federal
  .action_areabuttons_home.col-md-12
    .col-md-6.action_cadastre
      = link_to 'cadastre-se', 'http://www.google.com', class:"action_button"
      %span
        e receba convites e informações
        %br
        sobre nossas ações!
    .col-md-6.action_participo
      = link_to 'já participo', 'http://www.google.com', class:"action_button"
      %span
        altere seus dados, acesse suas atividades
        %br
        e emita certificados
.row
  .col-md-12.no_padding
    = render 'partials/slider_fhome'
.row
  .col-md-12
    %h3.titulo_home
      inscrições abertas para voluntários
  .col-md-4.action_home_inscription
    #action_thumb_1.action_thumb
    = link_to 'inscreva-se', 'SERFM',class:"action_inscription_button", id:"action_inscription_button_1"
    .action_inscription_title
      SERFM
      %br
      Sol Nascente
    .action_inscription_sub_title
      %b
        26.03 /// sexta-feira
      %br
      de 9h às 15h
  .col-md-4.action_home_inscription
    #action_thumb_2.action_thumb
    = link_to 'inscreva-se', 'SERFM',class:"action_inscription_button", id:"action_inscription_button_2"
    .action_inscription_title
      Horta Comunitária
      %br
      Pôr Do Sol
    .action_inscription_sub_title
      %b
        26.03 /// sábado
      %br
      de 9h às 15h
  .col-md-4.action_home_inscription
    #action_thumb_3.action_thumb
    = link_to 'inscreva-se', 'SERFM',class:"action_inscription_button", id:"action_inscription_button_3"
    .action_inscription_title
      reCICLO urbano
      %br
      Brazlândia
    .action_inscription_sub_title
      %b
        26.03 /// sexta-feira
      %br
      de 9h às 15h
.row
  .col-md-12.users_back_ground
    = render 'partials/home_admin'
