.panel.panel-default
  .panel-heading
    .panel-title
      %h4
        #{@ticket_type.title.humanize} / Assuntos
        %span.pull-right
          = link_to 'Novo Assunto', new_ticket_type_ticket_subject_path(@ticket_type),data: {disable_with: "carregando..."} 
  .panel-body
    .row
      .col-md-12
        = link_to "voltar", ticket_types_path, class: 'btn btn-default btn-sm', data: {disable_with: "carregando..."}
    %hr
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table#data-table-command.table.table-striped.table-bordered
        %thead
          %tr
            %th Questão
            %th Descrição
            %th Status
            %th Ações
        %tbody
          - @ticket_subjects.each do |t|
            %tr
              %td= t.title
              %td= t.description
              %td= t.status ? "ativo" : "inativo"
              %td.col-md-2
                = link_to '', edit_ticket_type_ticket_subject_path(ticket_type_id: @ticket_type,id: t), class: 'glyphicon glyphicon-pencil btn btn-primary btn-xs',data: {disable_with: "carregando..."}
                = link_to '', ticket_type_ticket_subject_path(ticket_type_id: @ticket_type,id: t), class: 'glyphicon glyphicon-remove btn btn-danger btn-xs', :method => :delete, :data => { :confirm => t(:confirm_delete) }
