.row
 .col-md-12
  = simple_form_for @order_service, remote: true do |f|
   .row
    .col-md-12
     = f.label :subject, class: 'fg-label'
     = f.input :subject, label: false
   .row
    .col-md-6
     = f.label :type, class: 'fg-label'
     = f.input :type, as:'select', collection: Helpdesk::OrderService.types.keys.to_a, prompt: 'selecione...', label: false 
   .row
    .col-md-12
     = f.label :staff_id, class: 'fg-label'
     = f.input :staff_id, collection: current_user.account.sector_current.staffs, label_method: :name, value_method: :id, label: false ,selected: current_user.account.id
   .row
    .col-md-6
     = f.label :good_id, class: 'fg-label'
     = f.input :good_id, collection: Patrimony::Good.where(sector_id: current_user.account.sector_current_id), label_method: :code_goods, value_method: :id, label: false, prompt: "Selecione"
    .col-md-6
     = f.label :branch_line_id, class: 'fg-label'
     = f.input :branch_line_id, collection: current_user.account.sector_current.branch_line, label_method: :telephone, value_method: :id, label: false, prompt: "Selecione"

   .row
    .col-md-12
     = f.fields_for :monitor_service_orders do |builder|
      = render "monitor_service_order", :f => builder
   .row
    .col-md-12
     = f.button :submit, class: 'btn btn-success'
   %br/
