.row
 .col-md-12
  = simple_form_for @order_service, remote: true do |f|
   .row
    .col-md-12
     = f.label :staff, class: 'fg-label'
     = f.input :staff_id, collection: current_user.account.sector_current.staffs, label_method: :name, value_method: :id, label: false
   .row
    .col-md-6
     = f.label :good, class: 'fg-label'
     = f.input :good_id, collection: @goods, label_method: :code_goods, value_method: :id, label: false
    .col-md-6
     = f.label :branch_line, class: 'fg-label'
     = f.input :branch_line_id, collection: current_user.account.sector_current.branch_line, label_method: :telephone, value_method: :id, label: false

   .row
    .col-md-12
     = f.fields_for :monitor_service_orders do |builder|
      = render "monitor_service_order", :f => builder
   .row
    .col-md-12
     = f.submit :submit, class: 'btn btn-success'
   %br/
