.card
 .card-header
  %h2
   Chamados
   %small Lista de Chamados
 .card-body.card-padding
  %div{:role => "tabpanel"}
   %ul.tab-nav{:role => "tablist", :style => "overflow: hidden; outline: none;", :tabindex => "1"}
    %li.active
     %a{"aria-controls" => "open", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#open", :role => "tab"} aguardando atendimento
    %li
     %a{"aria-controls" => "reopened", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#reopened", :role => "tab"} re-abertos
    %li
     %a{"aria-controls" => "analysis", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#analysis", :role => "tab"} chamados em análise 
    %li
     %a{"aria-controls" => "inprogress", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#inprogress", :role => "tab"} em atendimento
    %li
     %a{"aria-controls" => "solved", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#solved", :role => "tab"} solucionados
    %li
     %a{"aria-controls" => "closed", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#closed", :role => "tab"} finalizados
   .tab-content
    #open.tab-pane.active{:role => "tabpanel"}
     .card
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
       %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
        %thead
         %tr.info
          %th OS
          %th Assunto
          %th Categoria
          %th Abertura
          %th Solicitado por
          %th Setor
          %th Responsável
          %th Status
        - if @order_services_open.present?
         - @order_services_open.each do |j, i|
          %tbody
           %tr
            %td.col-md-1
             = link_to j.number , order_service_monitor_service_orders_path(j)
            %td
             = j.subject
            %td
             = j.category_i18n
            %td
             = j.created_at.strftime("%d/%m/%Y - %H:%M")
            %td
             = j.staff.name if j.staff.present?
            %td
             = j.sector.name if j.sector.present?
            %td
             = j.responsible ? j.responsible.name : "Untec"
            
            %td
             - if j.status == "open"
              %span.badge.bgm-green
               = j.status_i18n
             - if j.status == "reopened"
              %span.badge.bgm-bluegray
               = j.status_i18n
             - if j.status == "inprogress"
              %span.badge.bgm-orange
               = j.status_i18n
             - if j.status == "solved"
              %span.badge.bgm-cyan
               = j.status_i18n
             - if j.status == "closed"
              %span.badge.bgm-red
               = j.status_i18n
             - if j.status == "analysis"
              %span.badge.bgm-warning
               = j.status_i18n
    #reopened.tab-pane{:role => "tabpanel"}
     .card
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
       %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
         %tr.info
          %th OS
          %th Assunto
          %th Categoria
          %th Abertura
          %th Solicitado por
          %th Setor
          %th Responsável
          %th Status
        - if @order_services_reopened.present?
         - @order_services_reopened.each do |j, i|
          %tbody
           %tr
            %td.col-md-1
             = link_to j.number , order_service_monitor_service_orders_path(j)
            %td
             = j.subject
            %td
             = j.category_i18n
            %td
             = j.created_at.strftime("%d/%m/%Y - %H:%M")
            %td
             = j.staff.name if j.staff.present?
            %td
             = j.sector.name if j.sector.present?
            %td
             = j.responsible ? j.responsible.name : "Untec"
            %td
             - if j.status == "open"
              %span.badge.bgm-green
               = j.status_i18n
             - if j.status == "reopened"
              %span.badge.bgm-bluegray
               = j.status_i18n
             - if j.status == "inprogress"
              %span.badge.bgm-orange
               = j.status_i18n
             - if j.status == "solved"
              %span.badge.bgm-cyan
               = j.status_i18n
             - if j.status == "closed"
              %span.badge.bgm-red
               = j.status_i18n
             - if j.status == "analysis"
              %span.badge.bgm-warning
               = j.status_i18n
    #analysis.tab-pane{:role => "tabpanel"}
     .card
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
       %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
        %thead
         %tr.info
          %th OS
          %th Assunto
          %th Categoria
          %th Abertura
          %th Solicitado por
          %th Setor
          %th Responsável
          %th Prazo Final
          %th Status
        - if @order_services_analysis.present? 
         - @order_services_analysis.each do |j, i|
          %tbody
           %tr
            %td.col-md-1
             = link_to j.number , order_service_monitor_service_orders_path(j)
            %td
             = j.subject
            %td
             = j.category_i18n
            %td
             = j.created_at.strftime("%d/%m/%Y - %H:%M")
            %td
             = j.staff.name if j.staff.present?
            %td
             = j.sector.name if j.sector.present?
            %td
             = j.responsible ? j.responsible.name : "Untec"
            %td
             = j.deadline.strftime("%d/%m/%Y")
            %td
             - if j.status == "open"
              %span.badge.bgm-green
               = j.status_i18n
             - if j.status == "reopened"
              %span.badge.bgm-bluegray
               = j.status_i18n
             - if j.status == "inprogress"
              %span.badge.bgm-orange
               = j.status_i18n
             - if j.status == "solved"
              %span.badge.bgm-cyan
               = j.status_i18n
             - if j.status == "closed"
              %span.badge.bgm-red
               = j.status_i18n
             - if j.status == "analysis"
              %span.badge.bgm-warning
               = j.status_i18n

    #inprogress.tab-pane{:role => "tabpanel"}
     .card
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
       %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
        %thead
         %tr.info
          %th OS
          %th Assunto
          %th Categoria
          %th Abertura
          %th Solicitado por
          %th Setor
          %th Responsável
          %th Status
        - if @order_services_inprogress.present?  
         - @order_services_inprogress.each do |j, i|
          %tbody
           %tr
            %td.col-md-1
             = link_to j.number , order_service_monitor_service_orders_path(j)
            %td
             = j.subject
            %td
             = j.category_i18n
            %td
             = j.created_at.strftime("%d/%m/%Y - %H:%M")
            %td
             = j.staff.name if j.staff.present?
            %td
             = j.sector.name if j.sector.present?
            %td
             = j.responsible ? j.responsible.name : "Untec"
            %td
             - if j.status == "open"
              %span.badge.bgm-green
               = j.status_i18n
             - if j.status == "reopened"
              %span.badge.bgm-bluegray
               = j.status_i18n
             - if j.status == "inprogress"
              %span.badge.bgm-orange
               = j.status_i18n
             - if j.status == "solved"
              %span.badge.bgm-cyan
               = j.status_i18n
             - if j.status == "closed"
              %span.badge.bgm-red
               = j.status_i18n   
             - if j.status == "analysis"
              %span.badge.bgm-warning
               = j.status_i18n       
    #solved.tab-pane{:role => "tabpanel"}
     .card
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
       %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
        %thead
         %tr.info
          %th OS
          %th Assunto
          %th Categoria
          %th Abertura
          %th Solicitado por
          %th Setor
          %th Responsável
          %th Status
        - if @order_services_solved.present?
         - @order_services_solved.each do |j, i|
          %tbody
           %tr
            %td.col-md-1
             = link_to j.number , order_service_monitor_service_orders_path(j)
            %td
             = j.subject
            %td
             = j.category_i18n
            %td
             = j.created_at.strftime("%d/%m/%Y - %H:%M")
            %td
             = j.staff.name if j.staff.present?
            %td
             = j.sector.name if j.sector.present?
            %td
             = j.responsible ? j.responsible.name : "Untec"
            %td
             - if j.status == "open"
              %span.badge.bgm-green
               = j.status_i18n
             - if j.status == "reopened"
              %span.badge.bgm-bluegray
               = j.status_i18n
             - if j.status == "inprogress"
              %span.badge.bgm-orange
               = j.status_i18n
             - if j.status == "solved"
              %span.badge.bgm-cyan
               = j.status_i18n
             - if j.status == "closed"
              %span.badge.bgm-red
               = j.status_i18n
             - if j.status == "analysis"
              %span.badge.bgm-warning
               = j.status_i18n
    #closed.tab-pane{:role => "tabpanel"}
     .card
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
       %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
        %thead
         %tr.info
          %th OS
          %th Assunto
          %th Categoria
          %th Abertura
          %th Solicitado por
          %th Setor
          %th Responsável
          %th Qualificação
          %th Fechado
          %th Status
        - if @order_services_closed.present? 
         - @order_services_closed.each do |j, i|
          %tbody
           %tr
            %td.col-md-1
             = link_to j.number , order_service_monitor_service_orders_path(j)
            %td
             = j.subject
            %td
             = j.category_i18n
            %td
             = j.created_at.strftime("%d/%m/%Y - %H:%M")
            %td
             = j.staff.name if j.staff.present?
            %td
             = j.sector.name if j.sector.present?
            %td
             = j.responsible ? j.responsible.name : "Untec"
            %td
             %span.badge
              =j.qualification
            %td
             = j.updated_at.strftime("%d/%m/%Y - %H:%M")
            %td
             - if j.status == "open"
              %span.badge.bgm-green
               = j.status_i18n
             - if j.status == "reopened"
              %span.badge.bgm-bluegray
               = j.status_i18n
             - if j.status == "inprogress"
              %span.badge.bgm-orange
               = j.status_i18n
             - if j.status == "solved"
              %span.badge.bgm-cyan
               = j.status_i18n
             - if j.status == "closed"
              %span.badge.bgm-red
               = j.status_i18n
             - if j.status == "analysis"
              %span.badge.bgm-warning
               = j.status_i18n