- @order_services.each_with_index do |j, i|
 %tr
  %td.col-md-1
   = link_to j.number , order_service_monitor_service_orders_path(j)
  %td
   = j.subject
  %td
   = j.created_at.strftime("%d/%m/%Y - %H:%M")
  %td
   = j.staff.name if j.staff.present?
  %td
   = j.sector.name if j.sector.present?
  %td
   = j.responsible ? j.responsible.name : "Untec"
  %td
   -if j.status
    %span.badge.bgm-green
     Aberto
   -else
    %span.badge.bgm-red
     Fechado
