.field
  = f.label :appointment
  %br/
  = f.text_area :appointment
.field
  = f.label :attachment
  %br/
  = f.text_field :attachment
.field
  = f.label :name
  %br/
  = f.text_field :name
.field
  = f.label :status
  %br/
  = f.check_box :status
.field
  = f.label :order_service_id
  %br/
  = f.text_field :order_service_id