.row
  .col-md-12
    = link_to "Excell", new_report_path({format: "xls"}.merge(date_start: params[:date_start], date_end: params[:date_end])),  class:  'btn btn-info btn-sm'
.row
  .col-md-12
    %span.c-black
    %br
    - if @assessments.present?
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
        %table.table.table-hover.table-bordered
          %thead
            %tr
              %th Processo
              %th Tipo de Documento
              %th Orgão Destinatário
              %th Assunto
              %th Área Solicitante
          %tbody
            - @assessments.each_with_index do |a|
              %tr
                %td= a.document_number
                %td= a.doc_type_name
                %td= a.external_agency
                %td= a.subject_name
                %td= a.requesting_unit
