.page-content
  .panel
    .panel-heading
      .panel-title
        %h4 Pesquisar Documento
    .panel-body
      .row
        .col-md-2
          = simple_form_for :search, url: new_report_path, :method => 'get' do |f|
            .row
              .col-md-12
                = f.label "Data Inicial", class: 'fg-label'
                = f.input :date_start, label: false, input_html: {name: 'date_start' , class: 'date', placeholder: '00/00/0000'}
            .row
              .col-md-12
                = f.label "Data Final", class: 'fg-label'
                = f.input :date_end, label: false, input_html: { name: 'date_end' , class: 'date', placeholder: '00/00/0000'}
            .row
              .col-md-12
                = f.submit 'Pesquisar', class:  'btn btn-success btn-sm',data: {disable_with: "carregando..."}
        .col-md-10
          %h4.bold Relatório de Expediente
          .row
            .col-md-12
              = render 'form'
