.page-content
  .panel
    .panel-heading
      .panel-title
        %h4
          Permissões
          = link_to "Voltar para página anterior", :back, class: 'btn btn-dark pull-right'
        = "#{@staff.name} - MATRÍCULA: #{@staff.code}" 
        %br/
    .panel-body
      %table.table.table-striped.table-hover.table-bordered
        %thead
          %tr
            %th Módulo
            %th Sistema
            %th Código
            %th Ação

        %tbody
          - @systems.each do |system|
            %tr
              %td.col-md-4= system.system_module.title.humanize if system.system_module.present?
              %td.col-md-4= system.name
              %td.col-md-1= system.code
              %td.col-md-1
                = link_to "", staff_staff_system_staff_permissions_path(staff_id: @staff.id, staff_system_id: system.id), class: 'btn btn-success btn-xs glyphicon glyphicon-share-alt'
