.page-content
  .panel
    .panel-heading
      .panel-title
        %h4
          Empresa
    .panel-body
      %small Dados da empresa
      .row
        .col-md-6
          Nome
          %small
            = @company.name
        .col-md-6
          Fantasia
          %small
            = @company.trade
      .row
        .col-md-6
          %p.c.black
            CNPJ
          %small
            = @company.cnpj
        .col-md-6
          %p.c.black
            Email
          %small
            = @company.email
      .row
        .col-md-6
          CEP
          %small
            = @company.cep
        .col-md-6
          %p.c.black
            City
          %small
            = @company.city.name
      .row
        .col-md-6
          %p.c.black
            Endereço
          %small
            = @company.address
        .col-md-6
          %p.c.black
            Complemento
          %small
            = @company.adjuntc_address
      .row
        .col-md-6
          %p.c.black
            Telefone
          %small
            = @company.telephone
        .col-md-6
          %p.c.black
            Telefone Opcional
          %small
            = @company.telephone_optional