= render 'partials/shared/portal/top_nav'
= render 'partials/shared/portal/header'
%div{class: (controller_name != 'home') ? 'container main' : '' }
  .container
    .row
      .col-md-12.container
        = render 'partials/slider'
    .row
      .col-md-12.bloco_laranja
        .txt_inscricao
          Inscrição
        = render 'partials/form'
= render 'partials/shared/portal/footer'
