= simple_form_for [:administrator, @project, @participation] do |f|
  .card
    .card-body.card-padding
      .row
        .col-md-12
          = f.label :title, class: 'fg-label'
          = f.input :title, label: false, input_html: { placeholder: 'Digite o nome do tipo de inscrição'}
      .row
        .col-md-12
          = f.label :description, class: 'fg-label'
          = f.input :description, label: false, input_html: { class: 'redactor'}
        
      .row
        .col-md-2
          = f.label :start, as: 'string', class: 'fg-label'
          = f.input :start, as: 'string', label: false, input_html: { class: 'date', placeholder: '00/00/0000', value: (@participation.start) ? localize(f.object.start) : nil}
        .col-md-2
          = f.label :end, as: 'string', class: 'fg-label'
          = f.input :end, as: 'string', label: false, input_html:  { class: 'date', placeholder: '00/00/0000', value: (@participation.end) ? localize(f.object.end) : nil}
        
      .row
        .col-md-2
          .checkbox.m-b-15
            %label
              = f.check_box :status
              %i.input-helper
              Tipo participação publicado
      %hr/
      .row
        .col-md-12
          = f.button :submit, class: 'btn btn-success'
          = link_to "voltar", concourse.administrator_project_enrollments_path(@project), class: 'btn btn-default'
  
