<%= form_for(@atividade) do |f| %>
  <% if @atividade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atividade.errors.count, "error") %> prohibited this atividade from being saved:</h2>

      <ul>
      <% @atividade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :document_type_id %><br>
    <%= f.text_field :document_type_id %>
  </div>
  <div class="field">
    <%= f.label :action_type_id %><br>
    <%= f.text_field :action_type_id %>
  </div>
  <div class="field">
    <%= f.label :local_instance_id %><br>
    <%= f.text_field :local_instance_id %>
  </div>
  <div class="field">
    <%= f.label :date_distribution %><br>
    <%= f.date_select :date_distribution %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.date_select :deadline %>
  </div>
  <div class="field">
    <%= f.label :days %><br>
    <%= f.text_field :days %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :complemet %><br>
    <%= f.text_area :complemet %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :monitoring_type %><br>
    <%= f.text_field :monitoring_type %>
  </div>
  <div class="field">
    <%= f.label :attachment %><br>
    <%= f.text_field :attachment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
