<p id="notice"><%= notice %></p>

<h1>Listing Atividades</h1>

<table>
  <thead>
    <tr>
      <th>Document type</th>
      <th>Action type</th>
      <th>Local instance</th>
      <th>Date distribution</th>
      <th>Deadline</th>
      <th>Days</th>
      <th>End date</th>
      <th>Complemet</th>
      <th>User</th>
      <th>Status</th>
      <th>Monitoring type</th>
      <th>Attachment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atividades.each do |atividade| %>
      <tr>
        <td><%= atividade.document_type %></td>
        <td><%= atividade.action_type %></td>
        <td><%= atividade.local_instance %></td>
        <td><%= atividade.date_distribution %></td>
        <td><%= atividade.deadline %></td>
        <td><%= atividade.days %></td>
        <td><%= atividade.end_date %></td>
        <td><%= atividade.complemet %></td>
        <td><%= atividade.user %></td>
        <td><%= atividade.status %></td>
        <td><%= atividade.monitoring_type %></td>
        <td><%= atividade.attachment %></td>
        <td><%= link_to 'Show', atividade %></td>
        <td><%= link_to 'Edit', edit_atividade_path(atividade) %></td>
        <td><%= link_to 'Destroy', atividade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atividade', new_atividade_path %>
