<p id="notice"><%= notice %></p>

<p>
  <strong>Document type:</strong>
  <%= @atividade.document_type %>
</p>

<p>
  <strong>Action type:</strong>
  <%= @atividade.action_type %>
</p>

<p>
  <strong>Local instance:</strong>
  <%= @atividade.local_instance %>
</p>

<p>
  <strong>Date distribution:</strong>
  <%= @atividade.date_distribution %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @atividade.deadline %>
</p>

<p>
  <strong>Days:</strong>
  <%= @atividade.days %>
</p>

<p>
  <strong>End date:</strong>
  <%= @atividade.end_date %>
</p>

<p>
  <strong>Complemet:</strong>
  <%= @atividade.complemet %>
</p>

<p>
  <strong>User:</strong>
  <%= @atividade.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @atividade.status %>
</p>

<p>
  <strong>Monitoring type:</strong>
  <%= @atividade.monitoring_type %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @atividade.attachment %>
</p>

<%= link_to 'Edit', edit_atividade_path(@atividade) %> |
<%= link_to 'Back', atividades_path %>
