.container.main
  .content
    .row
      .col-md-12
        = image_tag @project.background.url
    %hr/
    .row
      .col-md-2
        %ul.list-group
          - Concourse::Nav.all.order(order: :desc).each do |n|  
            %li.list-group-item
              - if n.link_interno?
                = link_to "#{n.link}", concourse.portal_page_path(n.page.id) if n.page.present?
              - elsif n.link_externo?
                = link_to "#{n.link}", "http://#{n.external_link}"
              - elsif n.envio_projeto?
                = link_to "#{n.link}"
              - elsif n.consulta?
                = link_to "#{n.link}", concourse.new_portal_consultation_path
              - elsif n.inscricao?
                = link_to "#{n.link}", concourse.new_portal_candidate_path
      .col-md-10
        .row
          %h2
            %b
              Título
        .row
          Conteúdo
    