.panel.panel-default
  .panel-heading
    %h4.panel-title
      Documentos 
      = link_to "novo documento", new_file_path, class: 'pull-right'
  .panel-body
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table#data-table-command.table.table-striped.table-bordered
        %thead
          %tr
            %th Cod.
            %th Nome
            %th Link
            %th Data de Criação
            %th Usuário
            %th Ações

        %tbody
          - @files.each do |file| 
            %tr
              %td.col-md-1= file.id
              %td.col-md-2= file.original_name.downcase
              %td= link_to "http://www.codhab.df.gov.br#{file.file_path.to_s}", file.file_path.to_s, target: '_blank'
              %td.col-md-3= file.created_at.strftime('%d/%m/%Y')
              %td= file.staff.code
              %td
                = link_to "", file_path(file), method: :delete, data: { confirm: t(:confirm_delete)}, class: 'btn btn-danger btn-xs glyphicon glyphicon-remove'