%ul.nav.nav-tabs
  - if policy(:project, namespace: Concourse).index?
    %li{class: (controller_name == 'projects' ? 'active' : '')}
      %a{:href => "#{concourse.project_path(@project)}"} Visão geral
  - if policy(:page, namespace: Concourse).index?
    %li{class: (controller_name == 'pages' ? 'active' : '')}
      %a{:href => "#{concourse.project_pages_path(@project)}"} Páginas
  - if policy(:nav, namespace: Concourse).index?
    %li{class: (controller_name == 'navs' ? 'active' : '')}
      %a{:href => "#{concourse.project_navs_path(@project)}"} Menus
  - if policy(:consult, namespace: Concourse).index?
    %li{class: (controller_name == 'consults' ? 'active' : '')}
      %a{:href => "#{concourse.project_consults_path(@project)}"} Consultas
  - if policy(:candidate, namespace: Concourse).index?
    %li{class: (controller_name == 'candidates' ? 'active' : '')}
      %a{:href => "#{concourse.project_candidates_path(@project)}"} Inscrições
  - if policy(:candidate, namespace: Concourse).index?
    %li{class: (controller_name == 'winners' ? 'active' : '')}
      %a{:href => "#{concourse.project_winners_path(@project)}"} Vencedores
 