= render template: 'partials/shared/remark/header'
.page-content
  .panel
    .panel-body
      %h4.bold= @project.title.upcase
      %small= @project.mini_description
  .documents-wrap.article
    #articleAffix.article-sidebar.affix-top
      = render 'layouts/concourse/sidebar'
    .article-content
      = yield
= render template: 'partials/shared/remark/footer'