!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Extranet
    = stylesheet_link_tag  'shared/minimal', media: 'all'
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
    :javascript
      URL_BASE = "#{request.original_url}"
    = javascript_include_tag 'shared/minimal', 'data-turbolinks-eval' => 'false'
    :css
      .form-control {
        height: 80px !important;
        font-size: 40px !important;
      }

      label {
        font-weight: bold !important;
        font-size: 30px !important;
      }

      .btn {
        font-size: 35px !important;
        padding: 35px !important
      }
  %body
    = yield