!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Extranet
    = stylesheet_link_tag  'shared/minimal', media: 'all'
    = csrf_meta_tags
    :javascript
      URL_BASE = "#{request.original_url}"
    = javascript_include_tag 'shared/minimal', 'data-turbolinks-eval' => 'false'
    :css
      .form-control {
        height: 80px !important;
        font-size: 40px !important;
      }

      label {
        font-weight: bold !important;
        font-size: 30px !important;
        color: white;
      }

      .btn {
        font-size: 35px !important;
        padding: 35px !important
      }

      .winner-body {
        background-color: #2F2F2F;
      }

      .winner-white{
        background-color: white;
      }

      .white {
        color: white;
      }

      .row {
        margin-right: 0 !important;
      }
  %body.winner-body
    = yield