= simple_form_for([@project, @subscribe]) do |f| 
  .card-body.card-padding
    .row
      .col-md-12
        = f.label :title, class: 'fg-label'
        = f.input :title, label: false, prompt: 'selecione...'
    .row
      .col-md-12
        = f.label :fee, class: 'fg-label'
        = f.input :fee, label: false, prompt: 'selecione...'
    .row
      .col-md-12
        / = f.label :bank_slip, class: 'fg-label'
        / = f.association :bank_slip, label: false, prompt: 'selecione...'
    .row
      .col-md-12
        = f.label :start, class: 'fg-label'
        = f.input :start, label: false, prompt: 'selecione...'
    .row
      .col-md-12
        = f.label :end, class: 'fg-label'
        = f.input :end, label: false, prompt: 'selecione...'
    .row
      .col-md-12
        = f.label :publish, class: 'fg-label'
        = f.input :publish, label: false, prompt: 'selecione...'
    .row
      .col-md-12
        = f.label :observation, class: 'fg-label'
        = f.input :observation, label: false, prompt: 'selecione...'
    .row
      .col-md-12
        = f.button :submit, class: 'btn btn-success'
        = link_to "voltar",  project_path(id: @project, q: 'tipo_inscricoes'),class: 'btn btn-inverse' 

