%p#notice= notice
%p
  %b Project:
  = @subscribe.project
%p
  %b Title:
  = @subscribe.title
%p
  %b Fee:
  = @subscribe.fee
%p
  %b Fee value:
  = @subscribe.fee_value
%p
  %b Bank slip:
  = @subscribe.bank_slip
%p
  %b Start:
  = @subscribe.start
%p
  %b End:
  = @subscribe.end
%p
  %b Publish:
  = @subscribe.publish
%p
  %b Observation:
  = @subscribe.observation
