.panel
  .panel-heading
    .panel-title
      %h3.bold
        Detalhamento de Inscrição - #{@candidate.id}
      %small
        = link_to "voltar para inscrições", project_candidates_path(@project)
        |
        = link_to "atualizar situação", project_path(@project, q: 'inscricoes')
        |
        = link_to "inserir observação", project_path(@project, q: 'inscricoes')
  %hr/
  .panel-body
    .row
      .col-md-12
        %h4 Informações sobre a inscrição
    .row
      .col-md-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Número
              %th Data da inscrição
              %th Situação da inscrição
              %th Pagamento de Inscrição
              %th Boletos emitidos
          %tbody
            %tr
              %td.col-md-1= @candidate.id
              %td= @candidate.created_at.strftime("%d/%m/%Y às %H:%M")
              %td= @candidate.status
              %td= @candidate.invoice_paid ? 'pagamento realizado' : 'pendente'
              %td= @candidate.invoice_prints 
  
    %br
    %br
    .row
      .col-md-12
        %h4 Informações pessoais
    .row
      .col-md-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Nome
              %th CPF
              %th Data de Nascimento
              %th Sexo
          %tbody
            %tr
              %td= @candidate.name.upcase
              %td= @candidate.cpf
              %td= @candidate.born.strftime('%d/%m/%Y') if @candidate.born.present?
              %td= @candidate.gender
    %br
    %br
    .row
      .col-md-12
        %h4 Informações de contato
    .row
      .col-md-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Telefone
              %th Celular
              %th E-mail
          %tbody
            %tr
              %td.col-md-1= @candidate.telephone.upcase
              %td.col-md-1= @candidate.celphone
              %td.col-md-3= @candidate.email
        %br/
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Estado
              %th Cidade
              %th Endereço
              %th CEP
          %tbody
            %tr
              %td.col-md-2= @candidate.state.name if @candidate.state.present?
              %td.col-md-3= @candidate.city
              %td.col-md-3= @candidate.address
              %td.col-md-3= @candidate.cep
    %br
    %br
    .row
      .col-md-12
        %h4 Informações de pessoa jurídica
    .row
      .col-md-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Razão Social
              %th Nome Fantasia
              %th CNPJ
          %tbody
            %tr
              %td.col-md-4= @candidate.social_reason.upcase
              %td.col-md-4= @candidate.fantasy_name.upcase
              %td.col-md-4= @candidate.cnpj
        %br/
    .row
      .col-md-12
        %h4 Informações adicionais
    .row
      .col-md-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Descrição
              %th Informação
          %tbody
            - @candidate.properties.each do |p|
              %tr
                %td= p[0].humanize
                %td= link_to "Baixar Arquivo", "http://api.codhab.df.gov.br/static/#{p[1]}", target: '_blank'
    %hr/
    .row
      .col-md-12
        %h4 
          Observações 
          = link_to "nova observação", "#", class: 'pull-right'
    .row
      .col-md-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Tipo
              %th Observação
              %th Data
          %tbody