- @subjects.each_with_index do |j, i|
 %tr
  %td.col-md-1
   = i + 1
  %td
   = j.name
  %td
   = j.description
  %td
   = j.status ? "Ativo" : "Inativo"
  %td.col-md-2
   = link_to "", edit_subject_path(j), remote: true, class: 'glyphicon glyphicon-pencil btn btn btn-primary btn-xs '
   = link_to "", subject_path(j), method: :delete, class: 'glyphicon glyphicon-remove btn btn-danger btn-xs', data: {confirm: "#{t(:confirm_delete)}"}
