- @sectors.order(:name).each do |sector|
  %tr
    %td= sector.name.to_s.upcase
    %td= sector.acron.to_s.upcase
    %td= sector.father.acron if sector.father.present?
    %td= sector.responsible.name if sector.responsible.present?
    %td
      - if sector.status
        %span.label.label-success ativo
      - else
        %span.label.label-default inativo
    %td.col-md-1
      = link_to "", new_sector_branch_line_path(sector),title: 'Novo Ramal', 'data-toggle' => 'tooltip',  remote: true, class: 'glyphicon glyphicon-phone-alt btn btn-success btn-xs' if policy(:BranchLine, namespace: Person).create?
      = link_to "", edit_sector_path(sector), title: 'Editar', 'data-toggle' => 'tooltip',  remote: true, class: 'glyphicon glyphicon-pencil btn-xs btn btn-primary waves-effect waves-button waves-float'if policy(:sector, namespace: Person).update?
      = link_to "", sector_path(sector), method: :delete, class: 'glyphicon glyphicon-remove btn-xs btn btn-danger', data: {confirm: "#{t(:confirm_delete)}"}if policy(:sector, namespace: Person).destroy?
