.row
  = simple_form_for url_for, method: :get do |f|
    .col-md-2
      = f.input :by_situation, label: "Situação do imóvel", as: :select, collection: ['vago', 'ocupado'],include_blank: 'Todos'
    .col-md-2
      = f.input :by_cdru, label: "Possuí cdru?", as: :select, include_blank: 'Todos'
    .col-md-2
      = f.submit "filtrar", name: nil, class: 'btn btn-success btn filter-button'
.row
  .col-md-12
    %h2 
      %b Total listado:
      #{@address.to_a.count}
.row
  .col-md-12
    %table.table.table-striped.table-bordered
      %thead 
        %tr 
          %th Endereço
          %th Nome 
          %th CPF
          %th TCU
          %th CDRU
      %tbody
        - @address.order(:complete_address).each do |addr|
          %tr 
            %td.col-md-2= addr.complete_address
            %td= addr.dweller_name
            %td= addr.dweller_cpf
            %td= addr.date_tcu.present? ? addr.date_tcu : "Sem informação" 
            %td
              %span{class: "label label-#{addr.set_color}"}
                = addr.ammvs_cdru
