.container.margint50
  .col-md-6.publicity
    = link_to image_tag("/images/publicidade1.png",:style => "width:100%; "), "http://www.habitabrasilia.df.gov.br"
  .col-md-6.publicity2
    = link_to image_tag("/images/publicidade2.png",:style => "width:100%;"), "http://www.codhab.df.gov.br/acoesurbanas"
.container.margint50
  .col-md-4.botoes1
    = link_to image_tag("/images/sic.jpg",:style => "margin:0 auto;display:block;"), "https://www.e-sic.df.gov.br/Sistema/",:target => "_blank"
  .col-md-4.botoes
    = link_to image_tag("/images/sinj.png",:style => "margin:0 auto;display:block;"), "http://www.sinj.df.gov.br/SINJ/Pesquisas.aspx",:target => "_blank"
  .col-md-4.botoes
    = link_to image_tag("/images/carta120.jpg",:style => "margin:0 auto;display:block;"), "http://www.codhab.df.gov.br/uploads/archive/files/8c35c382fe1a807640fc694ce56fb695.pdf",:target => "_blank"
