.container
  .bxslide2{:style => "margin-top:30px;"}
    - slider_each(6,'DESC') do |s|
      - batata(s.post_category.title) do |b|
        %li.clone{"aria-hidden" => "true", :style => "height: 413px;"}
          = image_tag s.thumb, :style => "width:68%;float:left;"
          - if s.color.present?
            .new-caption{:style =>"background-color: #{s.color}"}
              %h3{:style => "margin-top:0px;"}
                = link_to s.title, post_path(s)
              %p
                = s.resume.html_safe
          - else
            .new-caption{:style =>"background-color:#feaa15"}
              %h3{:style => "margin-top:0px;"}
                = link_to s.title, post_path(s)
              %p
                = s.resume.html_safe
