.row
  .col-md-12
    %h2 
      %b Esqueci meus dados de acesso
%hr/
.row
  .col-md-12
    = simple_form_for url_for, method: :get, input_html: { class: 'form-inline'} do |f|
      .row
        .col-md-3
          CPF (Somente números)
          = text_field_tag :cpf, params[:cpf], class: 'form-control'
        .col-md-2
          %br/
          = submit_tag "Pesquisar", name: nil, class: 'form-control btn btn-success'
      %hr
      .row
        .col-md-12
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th Número de inscrição 
                %th Concurso
                %th Data de inscrição
                %th Ações
            %tbody
              - if @candidate.present?
                - @candidate.each do |candidate|
                  %tr
                    %td= candidate.id
                    %td= candidate.subscribe.project.title 
                    %td= candidate.created_at.strftime("%d/%m/%Y às %H:%M")
                    %td= link_to "Resetar minha senha", project_subscribe_candidate_remember_token_path(remember_id: candidate.id)
              - else
                %tr
                  %td{:colspan => '4'}
                    Registro não encontrado
