%h1 Listing materials

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Type material
      %th
      %th
      %th

  %tbody
    - @materials.each do |material|
      %tr
        %td= material.name
        %td= material.description
        %td= material.type_material
        %td= link_to 'Show', material
        %td= link_to 'Edit', edit_material_path(material)
        %td= link_to 'Destroy', material, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Material', new_material_path
