.landingBkgd
  .container.main{:role => "main"}
    .content
      .main-content.your-council
        .internal
          .post-meta
            .post-date
              = @post.date.strftime('%d/%m/%Y')
          / /sn_post_meta
          .internal-content
            %h1.post-header
              = @post.title
            %p.img-thumbpost
              - if @post.active_photo?
                = image_tag @post.thumb, height:'140px'
                %br
                %i.autor-fots
                  - if @post.photo_author?
                    Foto:
                    = @post.photo_author.html_safe\
                - if @post.photo_description?
                  %br
                  %i.desc-fots
                    = @post.photo_description.html_safe
            = @post.content.html_safe
            - if @post.author?
              Fonte:
              = link_to @post.author, @post.link, target: "_BLANK"
            %a.back-to-top.launch.button{"aria-label" => "back to top", :href => "#"} Voltar ao Topo
            %div{:style => "clear: both;"}
