/ conteudo da pagina
.container
  .row
    .col-md-9.box
      .box_internal
        .post_meta
          = render_shareable :buttons=> ['twitter', 'facebook','google_plus'], :facebook=> {:send=> 'true', :url=> "#{request.original_url}"}
          -# %a{:href => "https://www.facebook.com/sharer.php?u=#{request.original_url}",:style => 'float:left'}
          -#   Compartilhar no facebook
          .post_date
            = @post.date.strftime('%d/%m/%Y')
        .post
          .imagem_post
            - if @post.active_photo?
              = image_tag @post.thumbnail
          .author_custom
            - if @post.photo_description? && @post.photo_author?
              = @post.photo_description
              %span
                Autor:
                = @post.photo_author.html_safe
          .content_post
            %h1.post_title
              = @post.title
            %p.post-post
              = @post.content.html_safe
            %a.button_back{"arial-label" => "back to top", :href => "#"} VOLTAR AO TOPO
    = render('layouts/partials/portal/sidebar')
