.landingBkgd
  .container.main{:role => "main"}
    .content
      .main-content.your-council
        .internal
          .post-meta
            .post-author
              - if @post.author?
                = @post.author
                - if @post.link?
                  = link_to @post.label_link, @post.link, target: "_BLANK"
                - else
                  = @post.label_link
            .post-date
              = @post.date.strftime('%d/%m/%Y')
          / /sn_post_meta
          .internal-content
            %h1.post-header
              = @post.name
            %p.img-thumbpost
              - if @post.active_photo?
                - if @post.photo_author?
                  %strong
                    Foto:
                    = @post.photo_author.html_safe
                  = image_tag @post.thumbnail, width:'500px', height:'300px'
                  - if @post.photo_description?
                    %br
                    %i.desc-fots
                      = @post.photo_description.html_safe
            = @post.content.html_safe
            %a.back-to-top.launch.button{"aria-label" => "back to top", :href => "#"} Voltar ao Topo
            %div{:style => "clear: both;"}
