#consults.tab-pane{:class => (params[:q] == 'consultas') ? 'active' : '', :role => "tabpanel"}
  .card
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table.table.table-striped.table-hover.datatable
        %thead
          %tr.info
            %th Nº
            %th Data de envio
            %th Status
            %th Ação
        %tbody
          - @project.consults.each_with_index do |consult, index|
            %tr
              %td.col-md-1= index + 1
              %td.col-md-2= consult.created_at.strftime('%d/%m/%Y às %H:%M')
              %td= consult.status ? 'Leitura realizada' : 'Não lida'
              %td.col-md-2
                = link_to "", project_consult_read_path(project_id: @project, consult_id: consult), class: 'btn btn-success  md md-done' if !consult.status
                = link_to "", project_consult_path(project_id: @project, id: consult), remote: true, class: 'md md-arrow-forward btn btn-primary'