.page-content
  .panel
    .panel-heading
      .panel-title
        %h4 
          Agendamentos | #{@agenda.title}
          = link_to "Voltar", agendas_path, class: 'btn btn-dark pull-right'
          %br/
          %small Listagem de agendamentos
    .panel-body
      .row
        = simple_form_for url_for, method: :get do |f|
          .col-md-2
            = f.label "Data"
            = f.input :date, label: false, input_html: { class: 'date', name: "by_date", value: (params[:by_date].present?) ? params[:by_date] : Date.today.strftime('%d/%m/%Y')}
          .col-md-2
            = f.label "Status"
            = f.input :status, label: false, as: :select, collection: Schedule::AgendaSchedule.statuses.map { |k,v| [k.humanize, v]}, include_blank: "Todos", selected: params[:by_status], input_html: { name: 'by_status'}
          .col-md-2
            = f.label "CPF"
            = f.input :cpf, label: false, as: :string, input_html: { name: 'by_cpf', value: params[:by_cpf]}
          .col-md-2
            = f.label "CNPJ"
            = f.input :cnpj, label: false, as: :string, input_html: { name: 'by_cnpj', value: params[:by_cnpj]}
          .col-md-2
            = f.label "horário"
            = f.input :hour, label: false, as: :string, input_html: { name: 'by_hour', value: params[:by_hour], class: 'hour'}
          .col-md-2{style: 'padding-top:24px'}
            = f.submit "Filtrar", name: nil, class: 'btn btn-primary btn-lg', data: { disable_with: t(:disabled_button)}
      %hr/
      .row
        .col-md-12
          %table.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th Agendados
                %th Cancelados 
                %th Liberados para retorno
                %th Finalizados
            %tbody
              %tr
                %td.col-md-4= @schedules.where(status: 0).count
                %td.col-md-4= @schedules.where(status: 2).count
                %td.col-md-4= @schedules.where(status: 1).count
                %td.col-md-4= @schedules.where(status: 3).count
      %hr/
      .row
        .col-md-12
          .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
            %table.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th Protocolo
                  %th Nome
                  %th CPF/CNPJ
                  %th Data
                  %th Horário
                  %th Status
                  %th Ações
              %tbody
                - @schedules.order(:hour).each do |schedule|
                  %tr
                    %td= schedule.protocol
                    %td= schedule.name.upcase
                    %td
                      - if schedule.cpf.present?
                        = schedule.cpf.format_cpf
                      - else
                        = schedule.cnpj.format_cnpj
                    %td= schedule.date.strftime('%d/%m/%Y')
                    %td= schedule.hour.strftime('%H:%M')
                    %td= schedule.status.humanize
                    %td.col-md-1
                      = link_to "", agenda_agenda_schedule_path(agenda_id: @agenda, id: schedule, by_date: params[:by_date]), class: "glyphicon glyphicon-share-alt btn btn-primary btn-xs" if policy(:agenda_schedule, namespace: Schedule).index?