= simple_form_for [@requeriment, @checklist] do |f|
  .row
    .col-md-12
      - @checklists.each do |checklist|
        .checkbox.m-b-15
          %label
            = f.check_box :checklist, name: "checklist_treatment[#{checklist.id}]"
            %i.input-helper
            = f.label checklist.name, class: 'fg-label' 
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'