- @order_services.each_with_index do |j, i|
  %tr
  %td= link_to j.number , order_service_monitor_service_orders_path(j)
  %td= j.subject
  %td= j.category_i18n
  %td= j.created_at.strftime("%d/%m/%Y - %H:%M")
  %td= j.sector.name if j.sector.present?   
  %td
    -if j.qualification
      %span.badge
        =j.qualification
    -else
      %span.badge
        Ainda não qualificado
  %td= j.responsible ? j.responsible.name : "Untec"
  %td
    - if j.status == "open"
      %span.badge.bgm-green
        = j.status_i18n
    - if j.status == "reopened"
      %span.badge.bgm-bluegray
        = j.status_i18n
    - if j.status == "inprogress"
      %span.badge.bgm-orange
        = j.status_i18n
    - if j.status == "solved"
      %span.badge.bgm-cyan
        = j.status_i18n
    - if j.status == "closed"
      %span.badge.bgm-red
        = j.status_i18n

  %td= j.updated_at.strftime("%d/%m/%Y - %H:%M")