%h1 Listing instances

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @instances.each do |instance|
      %tr
        %td= instance.name
        %td= instance.description
        %td= link_to 'Show', instance
        %td= link_to 'Edit', edit_instance_path(instance)
        %td= link_to 'Destroy', instance, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Instance', new_instance_path
