.row
  .container
    .col-md-4
      %h2
        %b Quero me inscrever
      %hr/
      - @project.subscribes.each do |subscribe|
        .row
          .col-md-12
            %ul.list-group
              %li.list-group-item
                - if subscribe.fee
                  %b= link_to "#{subscribe.title} - #{number_to_currency subscribe.type_guide.default_value}".html_safe, concourse_portal.new_project_candidate_path(project_id: @project, subscribe_id: subscribe)
                - else
                  = link_to subscribe.title, concourse_portal.new_project_candidate_path(project_id: @project, subscribe_id: subscribe)
    .col-md-1

    .col-md-4
      %h2
        %b Visualizar minha inscrição
      %hr/
      = simple_form_for [@project, @subscribe] do |f|
        .row
          .col-md-12
            = f.label :subscribe
            = f.input :subscribe, label: false
            = f.hint link_to "Esqueci meu número de inscrição", project_subscribes_remember_path(@project)
        .row
          .col-md-12
            = f.label :password
            = f.input :password, label: false
            = f.hint link_to "Esqueci minha senha", project_subscribes_remember_path(@project)
        .row
          .col-md-12
            = f.submit 'Realizar acesso', class: 'btn btn-inverse'
    %br/