.panel.panel-default
  .panel-heading
    .panel-title
      %h4 Resumo de Entidades
  .panel-body
    .row
      .col-md-6
        %h4 Resumo do recadastramento
        = pie_chart [["Formalizaram processo",@process.count],["Enviaram documentos", (@entities.senders.count - @entities.complete.count)],["Enviaram todos os documentos" + "<br>" + "mas não formalizaram processo", (@entities.complete.count - @process.count)],["Não enviaram documentos", @notsend]]
      .col-md-6
        %h4 Entidades participantes
        = pie_chart [["Entidades antigas", @olds], ["Novas entidades", @news.count]]
    %hr
    .row
      .col-md-6
        %h4 Entidades por cidade - Recadastramento 
        = pie_chart Entity::Cadastre.joins(:city).group('address_cities.name').count
      .col-md-6
        %h4 Entidades por cidade - Cadastro anterior - Total #{@total_new} 
        = pie_chart Entity::Old.where(old: "Credenciada").group(:city).count
