= simple_form_for @member, url: restrict_area_members_path do |f|
  .row
    .col-md-4
      = f.input :name, as: :string
    .col-md-2
      = f.input :cpf, as: :string
    .col-md-2
      = f.input :rg, as: :string
    .col-md-2
      = f.input :rg_org, as: :string
    .col-md-2
      = f.input :born, as: :string, input_html: {  class: 'date '}
  .row
    .col-md-2
      = f.input :telephone, as: :string
    .col-md-2
      = f.input :telephone_optional, as: :string
    .col-md-2
      = f.input :celphone, as: :string
    .col-md-2
      = f.association :member_job, include_blank: false

  %hr/
  %h4 Associado a mais de uma entidade
  .row
    .col-md-12
      = f.simple_fields_for :member_additionals do |builder|
        = render 'member_additional_fields', f: builder
      = link_to_add_fields "Adicionar entidade", f, :member_additionals
  %hr/
  .row
    .col-md-4
      = f.input :certificate_civil_criminal, as: :file
    .col-md-4
      = f.input :photo, as: :file
  %hr/
  .row
    .col-md-12
      = f.submit "Cadastrar Membro", class: 'btn btn-warning btn-sm', data: {disable_with: "Cadastrando aguarde..."}
