= simple_form_for [:administrator, @project, @enrollment] do |f|
  .card
    .card-body.card-padding
      .row
        .col-md-12
          = f.label :title, class: 'fg-label'
          = f.input :title, label: false, input_html: { placeholder: 'Digite o nome do link'}
      .row
        .col-md-12
          = f.label :description, class: 'fg-label'
          = f.input :description, label: false
        
      .row
        .col-md-2
          = f.label :start, class: 'fg-label'
          = f.input :start, as: 'string', label: false, input_html: {class: 'date', value: (@enrollment.start) ? localize(f.object.start) : nil}
        .col-md-2
          = f.label :end, class: 'fg-label'
          = f.input :end, as: 'string', label: false, input_html: {class: 'date', value: (@enrollment.end) ? localize(f.object.end) : nil}
        .col-md-2
          .checkbox.m-b-15
            %label
              = f.check_box :status
              %i.input-helper
              Tipo publicado para visualização
      .row
        .col-md-2
          .checkbox.m-b-15
            %label
              = f.check_box :fee
              %i.input-helper
              Existe Taxa de inscrição
        .col-md-2
          = f.label :value_fee, class: 'fg-label'
          = f.input :value_fee, as: 'string', label: false
      %br/
      .row
        .col-md-12
          = f.button :submit, class: 'btn btn-success'
          = link_to "voltar", concourse.administrator_project_enrollments_path(@project), class: 'btn btn-default'
  
