- if @ticket_ocurrences.present?
  .panel-body
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table#data-table-command.table.table-striped.table-bordered
        %thead
          %tr
            %th Nº
            %th Responsável
            %th Ocorrência
            %th Data
            %th Solução
            %th Data da solução
            %th Anexo
            %th Ações
        %tbody.index-ocurrence
          - @ticket_ocurrences.each do |o|
            %tr
              %td= o.id
              %td= o.responsible.name rescue ""
              %td= o.scheduled? ? "Agendado para: #{o.scheduled_date.strftime('%d/%m/%Y %H:%M')} - #{o.ocurrence}" : o.ocurrence
              %td= o.created_at.strftime('%d/%m/%Y %H:%M')
              %td= o.ticket_solution.title rescue ""
              %td= o.solution_date.strftime('%d/%m/%Y %H:%M') rescue ""
              %td
                - if o.file_ocurrence_url.present?
                  = link_to "Ver anexo", o.file_ocurrence_url, target: '_blank'
              %td
                = link_to "", edit_ticket_ticket_ocurrence_path(ticket_id: @ticket, id: o.id), remote: true, class: 'glyphicon glyphicon-ok-sign btn btn-danger  btn-xs', title: "fechar ocorrência"
