- if @ticket_ocurrences.present?
  .panel-body
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table#data-table-command.table.table-striped.table-bordered
        %thead
          %tr
            %th.col-md-1 Nº
            %th Responsável
            %th Ocorrência
            %th Data
            %th Solução
            %th Data da solução
            %th Ações
        %tbody
          - @ticket_ocurrences.each do |o|
            %tr
              %td= o.id
              %td= o.responsible.name if o.responsible.present?
              %td= o.ocurrence
              %td= o.created_at
              %td= o.ticket_solution.title if o.ticket_solution.present?     
              %td= o.solution_date
              %td
                = link_to "", edit_ticket_ticket_ocurrence_path(ticket_id: @ticket, id: o.id), remote: true, class: 'glyphicon glyphicon-ok-sign btn btn-danger  btn-xs', title: "fechar ocorrência"
