#open.tab-pane{:class => (params[:q] == 'open' || params[:q].nil?) ? 'active' : '', :role => "tabpanel"}
  .panel-body
    %table.table.table-striped.table-bordered.table-condensed.table-hover
      %thead
        %tr
          %th Nº
          %th Assunto
          %th Solicitante
          %th Abertura
          %th Atendente
          %th Status
          %th Ações
      %tbody
        - @open.each do |o|
          %tr
            %td= o.id
            %td= o.ticket_subject.title if o.ticket_subject.present?
            %td= "#{o.requester.name} - #{o.requester.sector_current.acron.upcase}" if o.requester.present? && o.requester.present? && o.requester.sector_current.present?
            %td= o.created_at.strftime('%d/%m/%Y às %H:%M')
            %td= o.attendant.name if o.attendant_id.present? && o.attendant.present?
            %td
              - if o.open?
                %span.label.label-success aberto
              - if o.in_progress?
                %span.label.label-primary em atendimento
              - if o.scheduled?
                %span.label.label-primary agendado
              - if o.closed?
                %span.label.label-danger fechado
            %td
              .btn-group{:role => "group"}
                %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %i.glyphicon.glyphicon-cog
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to "Detalhes da solicitação", ticket_path(id: o, q: 'open'), title: "detalhes da solicitação"
                  %li
                    = link_to "Atender chamado", ticket_in_progress_path(ticket_id: o, q: 'open'), title: "Atender chamado"
                  %li
                    = link_to "Fechar chamado", ticket_closed_ticket_path(ticket_id: o, q: 'open'),remote: true, title: "Fechar chamado"
