.panel.panel-default
  .panel-heading
    .panel-title
      %h4
        Dados do chamado
        = link_to 'Voltar', ticket_requester_path, class: 'pull-right'
  .panel-body
    .row
      .col-md-12
        .row
          .col-md-4
            %label
              %b= "Nº DO CHAMADO - #{@ticket.id}"
        .row
          .col-md-4
            %label Solicitante:
            = @ticket.requester.name rescue ""
          .col-md-4
            %label Setor do solicitante:
            = @ticket.sector.acron rescue ""
        .row
          .col-md-4
            %label Assunto:
            = @ticket.ticket_subject.title rescue ""
          .col-md-4
            %label Ramal(is):
            - if @ticket.sector.present? && @ticket.sector.branch_line.present?
              - @ticket.sector.branch_line.each do |r|
                = r.telephone
        .row
          .col-md-4
            %label Início do atendimento:
            = @ticket.attendance_start.strftime('%d/%m/%Y - %H:%M') rescue ""
          .col-md-4
            %label Final do atendimento:
            = @ticket.attendance_end.strftime('%d/%m/%Y - %H:%M') rescue ""
        .row
          .col-md-4
            %label Atendente:
            = @ticket.attendant.name rescue ""
          .col-md-4
            %label Situação:
            = @ticket.status_i18n
        .row
          .col-md-4
            %label Código do computador:
            = @ticket.code_computer
          .col-md-4
            - if @ticket.file_path_url.present?
              = link_to "Ver anexo", @ticket.file_path_url, target: '_blank'
        .row
          .col-md-4
            %label Data da solicitação:
            = @ticket.created_at.strftime('%d/%m/%Y - %H:%M')
        .row
          .col-md-12
            %label Descrição:
            = @ticket.description
        %hr
        .row
          .col-md-12
            - if @ticket.ticket_ocurrences.present?
              .row
                .col-md-12.index-ocurrence
                  - if @ticket_ocurrences.present?
                    .panel-body.index-ocurrence
                      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
                        %table#data-table-command.table.table-striped.table-bordered
                          %thead
                            %tr
                              %th.col-md-1 Nº
                              %th Responsável
                              %th Ocorrência
                              %th Data
                              %th Solução
                              %th Data da solução
                          %tbody
                            - @ticket_ocurrences.each do |o|
                              %tr
                                %td= o.id
                                %td= o.responsible.name rescue ""
                                %td= o.scheduled? ? "Agendado para: #{o.scheduled_date.strftime('%d/%m/%Y %H:%M')} - #{o.ocurrence}" : o.ocurrence
                                %td= o.created_at.strftime('%d/%m/%Y %H:%M')
                                %td= o.ticket_solution.title rescue ""
                                %td= o.solution_date.strftime('%d/%m/%Y %H:%M') rescue ""
