.row
  .col-md-12
    %h1 
      %strong Concursos Codhab
%hr/

- if @projects.present? 
  .row
    - @projects.each_with_index do |project, i|
      .col-md-3
        .panel.panel-default
          .panel-heading
            %h5
              %strong= "##{i + 1 } #{project['name']}"
          .panel-body
            .row
              .col-md-6
                = "<strong>início:</strong> #{Time.new(project['start']).strftime('%d/%m/%Y')}".html_safe
              .col-md-6
                = "<strong>fim:</strong> #{Time.new(project['end']).strftime('%d/%m/%Y')}".html_safe
            .row
              .col-md-12
          .panel-footer
            = link_to "detalhes", concourse.project_path(project['id'])
            = link_to "realizar inscrição", concourse.inscricao_path, class: 'pull-right'
- else
  .row
    .col-md-12
      Não existem concursos em andamento no momento.