%p#notice= notice
%p
  %b Title:
  = @project.title
%p
  %b Mini description:
  = @project.mini_description
%p
  %b Apresentation:
  = @project.apresentation
%p
  %b Start:
  = @project.start
%p
  %b End:
  = @project.end
%p
  %b Publish:
  = @project.publish
%p
  %b Status:
  = @project.status
%p
  %b Image header:
  = @project.image_header
%p
  %b Image logo:
  = @project.image_logo
%p
  %b Image footer:
  = @project.image_footer
%p
  %b Image slider:
  = @project.image_slider
%p
  %b Slider:
  = @project.slider
%p
  %b Consultation:
  = @project.consultation
