.card
  .card
    .card-header
      .pull-right
        = link_to "", edit_project_path(@project), class: 'md md-edit btn btn-primary'
        = link_to "voltar", projects_path, class: 'btn btn-inverse'
      %h2
        #{@project.title}
        %small= @project.mini_description.html_safe
    .card-body.card-padding
      %div{:role => "tabpanel"}
        %ul.tab-nav{:role => "tablist", :style => "overflow: hidden; outline: none;", :tabindex => "1"}
          %li{:class => (params[:q] == 'paginas'|| params[:q].nil?) ? 'active' : ''}
            %a{"aria-controls" => "pages", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#pages", :role => "tab"} Páginas
          %li{:class => (params[:q] == 'menus') ? 'active' : ''}
            %a{"aria-controls" => "navs", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#navs", :role => "tab"} Menus
          %li{:class => (params[:q] == 'tipo_inscricoes') ? 'active' : ''}
            %a{"aria-controls" => "subscribes", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#subscribes", :role => "tab"} Tipo de inscrições
          %li{:class => (params[:q] == 'partictipos') ? 'active' : ''}
            %a{"aria-controls" => "participations", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#participations", :role => "tab"} Tipo de participações
          %li{:class => (params[:q] == 'consultas') ? 'active' : ''}
            %a{"aria-controls" => "consults", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#consults", :role => "tab"} Consultas
          %li{:class => (params[:q] == 'inscricoes') ? 'active' : ''}
            %a{"aria-controls" => "candidate_subscribes", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#candidate_subscribes", :role => "tab"} Inscrições
          %li{:class => (params[:q] == 'participacoes') ? 'active' : ''}
            %a{"aria-controls" => "candidate_participations", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#candidate_participations", :role => "tab"} Participações
          %li{:class => (params[:q] == 'vencedores') ? 'active' : ''}
            %a{"aria-controls" => "winners", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#winners", :role => "tab"} Vencedores
        .tab-content
          #pages.tab-pane{:class => (params[:q] == 'paginas' || params[:q].nil?) ? 'active' : '', :role => "tabpanel"}
            .card
              .row
                .col-md-12
                  = link_to "Nova página", new_project_page_path(@project), class: 'btn btn-success btn-sm'
              %br/
              .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
                %table.table.table-striped.table-hover.datatable
                  %thead
                    %tr.info
                      %th.col-md-1 #
                      %th Título
                      %th Publicada?
                      %th Data de criação
                      %th Ações
                  %tbody
                    - @project.pages.each_with_index do |page, index|
                      %tr
                        %td= index + 1
                        %td= page.title
                        %td= page.publish ? 'publicada' : 'não publicada'
                        %td= page.created_at.strftime('%d/%m/%Y às %H:%M')
                        %td.col-md-2
                          = link_to "", edit_project_page_path(project_id: @project, id: page),class: 'md md-edit btn btn-primary'
                          = link_to "", project_page_path(project_id: @project, id: page), method: :delete,class: 'md md-delete btn btn-danger', :data => { :confirm => t(:confirm_delete) } 
               
          #navs.tab-pane{:class => (params[:q] == 'menus') ? 'active' : '', :role => "tabpanel"}
            .card
              .row
                .col-md-12
                  = link_to "Novo Menu", new_project_nav_path(@project), class: 'btn btn-success btn-sm'
              %br/
              .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
                %table.table.table-striped.table-hover.datatable
                  %thead
                    %tr.info
                      %th.col-md-1 #
                      %th Título
                      %th Tipo
                      %th URL
                      %th Target
                      %th Publicado?
                      %th Ações
                  %tbody
                    - @project.navs.each_with_index do |nav, index|
                      %tr
                        %td= index + 1
                        %td= nav.label
                        %td= nav.action
                        %td= nav.url
                        %td= nav.target
                        %td= nav.publish ? 'publicado' : 'não publicado'
                        %td.col-md-2
                          = link_to "", edit_project_nav_path(project_id: @project, id: nav),class: 'md md-edit btn btn-primary'
                          = link_to "", project_nav_path(project_id: @project, id: nav), method: :delete,class: 'md md-delete btn btn-danger', :data => { :confirm => t(:confirm_delete) } 

          #subscribes.tab-pane{:class => (params[:q] == 'tipo_inscricoes') ? 'active' : '', :role => "tabpanel"}
            .card
              .row
                .col-md-12
                  = link_to "Novo Tipo", new_project_subscribe_path(@project), class: 'btn btn-success btn-sm'
              %br/
              .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
                %table.table.table-striped.table-hover.datatable
                  %thead
                    %tr.info
                      %th.col-md-1 #
                      %th Título
                      %th Início
                      %th Fim
                      %th Taxa de inscrição
                      %th Publicada?
                      %th Ações
                  %tbody
                    - @project.subscribes.each_with_index do |subscribe, index|
                      %tr
                        %td= index + 1
                        %td= subscribe.title
                        %td= subscribe.start.strftime('%d/%m/%Y')
                        %td= subscribe.end.strftime('%d/%m/%Y')
                        %td= number_to_currency subscribe.type_guide.value if subscribe.fee && subscribe.type_guide.present?
                        %td= subscribe.publish ? 'publicado' : 'não publicado'
                        %td.col-md-2
                          = link_to "", edit_project_subscribe_path(project_id: @project, id: subscribe),class: 'md md-edit btn btn-primary'
                          = link_to "", project_subscribe_path(project_id: @project, id: subscribe), method: :delete,class: 'md md-delete btn btn-danger', :data => { :confirm => t(:confirm_delete) } 

          #participations.tab-pane{:role => "tabpanel"}
            .card
              .row
                .col-md-12
                  = link_to "Novo Tipo", new_project_page_path(@project), class: 'btn btn-success btn-sm', remote: true
              %br/
              .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
                %table.table.table-striped.table-hover.datatable
                  %thead
                    %tr.info
                      %th.col-md-1 #
                      %th Título
                      %th Início
                      %th Fim
                      %th Publicado?
                      %th Ação
          #consults.tab-pane{:class => (params[:q] == 'consultas') ? 'active' : '', :role => "tabpanel"}
            .card
              .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
                %table.table.table-striped.table-hover.datatable
                  %thead
                    %tr.info
                      %th Nº
                      %th Data de envio
                      %th Status
                      %th Ação
                  %tbody
                    - @project.consults.each_with_index do |consult, index|
                      %tr
                        %td.col-md-1= index + 1
                        %td.col-md-2= consult.created_at.strftime('%d/%m/%Y às %H:%M')
                        %td= consult.status ? 'Leitura realizada' : 'Não lida'
                        %td.col-md-2
                          = link_to "", project_consult_read_path(project_id: @project, consult_id: consult), class: 'btn btn-success  md md-done' if !consult.status
                          = link_to "", project_consult_path(project_id: @project, id: consult), remote: true, class: 'md md-arrow-forward btn btn-primary'
          #candidate_subscribes.tab-pane{:class => (params[:q] == 'inscricoes') ? 'active' : '', :role => "tabpanel"}
            .card
              .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
                %table.table.table-striped.table-hover.datatable
                  %thead
                    %tr.info
                      %th.col-md-1 #
                      %th Tipo de inscrição
                      %th Protocolo
                      %th CPF
                      %th Taxa de inscrição
                      %th Data de inscrição
                      %th Status
                      %th Ação
                  %tbody
                    - @project.candidates.each_with_index do |candidate, index|
                      %tr
                        %td= index + 1
                        %td= candidate.subscribe.title if candidate.subscribe.present?
                        %td= candidate.protocol
                        %td= candidate.cpf
                        %td
                        %td= candidate.created_at.strftime('%d/%m/%Y às %H:%M')
                        %td= candidate.status
                        %td
                          = link_to "visualizar", project_candidate_path(project_id: @project, id: candidate), class: 'btn btn-primary btn-sm'
          #candidate_participations.tab-pane{:role => "tabpanel"}
            .card
              .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
                %table.table.table-striped.table-hover.datatable
                  %thead
                    %tr.info
                      %th.col-md-1 #
                      %th Protocolo 
                      %th Status
                      %th Ações
          #winners.tab-pane{:role => "tabpanel"}
            .card
              .row
                .col-md-12
                  = link_to "Adicionar Vencedor", new_project_page_path(@project), class: 'btn btn-success btn-sm', remote: true
              %br/
              .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
                %table.table.table-striped.table-hover.datatable
                  %thead
                    %tr.info
                      %th.col-md-1 #
                      %th Protocolo de participação
                      %th Colocação
                      %th Ações