%tr
  %td{:colspan => "4"}
    .panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      - @systems.each_with_index do |j, i|
        .panel.panel-collapse
          .panel-heading{:id => "heading#{j.id}", :role => "tab"}
            %h4.panel-title
              %a.collapsed{"aria-controls" => "collapse#{j.id}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{j.id}"}
                .row
                  .col-md-4
                    = i +1
                  .col-md-4
                    = j.name
                  .col-md-4
                    = j.code
                  .col-md-4
          .collapse{"aria-expanded" => "false", "aria-labelledby" => "heading#{j.id}", :id => "collapse#{j.id}", :role => "tabpanel", :style => "height: 0px;"}
            .panel-body
              %table.table
                %thead
                  %tr
                    %th #
                    %th Nome
                    %th Código
                    %th
                %tbody
                  - j.system_permission.each do |m|
                    %tr
                      %td= i +1
                      %td= m.action
                      %td= m.code
                      %td{ class: "tr-#{m.id}"}
                        = link_permission_to @staff.id, m.id
