= simple_form_for(@post) do |f|
  .card-body.card-padding
    .row
      .col-md-12
        = f.label :title, class: 'fg-label'
        = f.input :title, label: false, input_html: { placeholder: 'Digite um titulo' }
    .row
      .col-md-12
        = f.label :content, class: 'fg-label'
        = f.input :content, label: false, input_html: { class: 'redactor' }
    .row
      .col-md-12
        = f.label :post_category, class: 'fg-label'
        = f.association :post_category, label: false, prompt: 'Selecione...'
    .row
      .col-md-4
        = f.label :thumb, as: 'file', class: 'fg-label'
        = f.input :thumb, as: 'file', label: false, input_html: { placeholder: 'Selecione' }

      .col-md-1
        .toggle-switch{"data-ts-color" => "blue"}
          %label.ts-label{:for => "ts4"} Slider
          = f.check_box :slider, id: 'ts4',hidden: 'hidden', type: 'checkbox'
          %label.ts-helper{:for => "ts4"}
      .col-md-1
        .toggle-switch{"data-ts-color" => "blue"}
          %label.ts-label{:for => "ts5"} Publicado
          = f.check_box :publish, id: 'ts5',hidden: 'hidden', type: 'checkbox'
          %label.ts-helper{:for => "ts5"}
      .col-md-1
        .toggle-switch{"data-ts-color" => "blue"}
          %label.ts-label{:for => "ts6"} Thumb
          = f.check_box :active_photo, id: 'ts6',hidden: 'hidden', type: 'checkbox'
          %label.ts-helper{:for => "ts6"}
    .row
      .col-md-12
        = f.label :resume, class: 'fg-label'
        = f.input :resume, label: false, input_html: { class: 'redactor' }
    .row
      .col-md-4
        = f.label :date, as: 'string', class: 'fg-label'
        = f.input :date, as: 'string', label: false, input_html: { class: 'date', placeholder: '00/00/0000', value: (@post.date) ? localize(f.object.date) : nil}
      .col-md-4
        = f.label :photo_description, class: 'fg-label'
        = f.input :photo_description, label: false, input_html: { placeholder: 'Digite a descrição da foto' }
      .col-md-4
        = f.label :photo_author, class: 'fg-label'
        = f.input :photo_author, label: false, input_html: { placeholder: 'Digite a descrição da foto' }
    .row
      .col-md-12
        = f.button :submit, class: 'btn btn-success'
        = link_to 'Back', posts_path , class: 'btn btn-danger'
