.card
  .card-header.ch-alt
    %h2
      Postagens
      = link_to 'Novo Post', new_post_path, class: 'btn btn-success pull-right'
      %small Listagem de posts
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
      %thead
        %tr
          %th #
          %th Título
          %th Categoria da Postagem
          %th Publicado
          %th data
          %th{:colspan => '3'} Action

      %tbody
        - @posts.each_with_index do |post, i|
          %tr
            %td= i+1
            %td= post.title
            %td= post.post_category.title
            %td= post.publish
            %td= post.date
            %td.col-md-2
              = link_to '', edit_post_path(post), class: 'md md-edit btn btn-primary'
              = link_to '', post, :method => :delete, class: 'md md-delete btn btn-danger', :data => { :confirm => 'Are you sure?' }
