= simple_form_for @attendant, url: counter_attendant_path(@attendant), method: :patch do  |f|
  .card-body.card-padding
    .row
      .col-md-4
        = f.label :station, class: 'fg-label'
        = f.input :station_id, as: :select, label: false, collection: Attendance::Station.all, prompt: "selecione...", input_html: { id: "station_id"}
    .row
      .col-md-6
        = f.label :counter, class: 'fg-label'
        = f.input :counter_id, as: :select, collection: (@attendant.station.present?) ? Attendance::Counter.where(station_id: @attendant.station_id).order(:number) : {}, label_method: :number, label: false, prompt: "não víncular guichê", input_html: { id: "counter_id"}
    .row
      .col-md-1
        .toggle-switch{"data-ts-color" => "blue"}
          %label
            .ts-label{:for => "supervisor"}
              = f.label :supervisor
          %br/
          = f.check_box :supervisor, label: false, id: 'supervisor',hidden: 'hidden', type: 'checkbox'
          %label.ts-helper{:for => "supervisor"}    
      .col-md-2
        .toggle-switch{"data-ts-color" => "blue"}
          %label
            .ts-label{:for => "status"}
              = f.label :status
          %br/
          = f.check_box :status, label: false, id: 'status',hidden: 'hidden', type: 'checkbox'
          %label.ts-helper{:for => "status"}
    %hr/
    .row
      .col-md-12
        = f.submit 'Atualizar meu guichê', class: 'btn btn-success'    
        = link_to "voltar", attendants_path, class: 'btn btn-inverse'
  %br/

