= simple_form_for [@project, @resource] do |f|
  %hr/
  .row
    .col-md-4
      = f.input :candidate_id, as: :string, label: "Nº de inscrição", placeholder: "Digite aqui seu nº de inscrição"
    .col-md-4
      = f.input :password, label: "Senha do Nº de inscrição", placeholder: "Informe sua senha"
  %hr/
  .row
    .col-md-12
      = f.input :message, label: "Descrição do recurso", input_html: { placeholder: "Descreva aqui seu recurso", style: "min-height: 200px"}
  %hr/
  .row
    .col-md-12
      %p 1. Somente os candidatos que enviaram projetos para participação neste certame poderão proceder com o pedido de interposição de recurso. O recurso interposto pelo mesmo, visando o cumprimento do princípio da publicidade, ficará público nesta página;
      %br/
      %p 2. Conforme item 13.3 do Edital, “Os documentos dos recursos intentados (razões) deverão ser endereçados em até 05 (cinco) dias após a divulgação dos vencedores à Coordenação do Concurso e protocolados no Protocolo da CODHAB, no Setor Comercial Sul, Quadra 06, Nº 13/14, Bloco A, Ed. SEDHAB, térreo, em Brasília/DF, CEP: 70.306-918, de segunda à sexta, no horário das 08h às 12h e das 14h às 18h, ficando os demais concorrentes desde logo intimados para apresentar contrarrazões em igual número de dias, que começarão a correr do término do prazo do recorrente, sendo-lhes assegurada vista imediata dos autos, a serem publicados no site oficial do Concurso (http://www.codhab.df.gov.br/concursos/uhc-sobradinho).
  %hr/
  %br
  .row
    .col-md-12
      = f.submit "Enviar meu recurso", class: 'btn btn-success'
      = link_to "Cancelar e voltar", project_resources_path(@project), class: 'btn btn-default'
