#candidate_subscribes.tab-pane{:class => (params[:q] == 'inscricoes') ? 'active' : '', :role => "tabpanel"}
  .card
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table.table.table-striped.table-hover.datatable
        %thead
          %tr.info
            %th.col-md-1 #
            %th Tipo de inscrição
            %th Protocolo
            %th Nº inscrição
            %th CPF
            %th Taxa de inscrição
            %th Data de inscrição
            %th Status
            %th Ação
        %tbody
          - @project.candidates.each_with_index do |candidate, index|
            %tr
              %td= index + 1
              %td= candidate.subscribe.title if candidate.subscribe.present?
              %td= "#{candidate.id}#{candidate.created_at.strftime('%d/%m/%Y')}"
              %td= candidate.id
              %td= candidate.cpf
              %td= "impressos #{candidate.invoice_paid}"
              %td= candidate.created_at.strftime('%d/%m/%Y às %H:%M')
              %td= candidate.status
              %td
                = link_to "visualizar", project_candidate_path(project_id: @project, id: candidate), class: 'btn btn-primary'