.row
  .col-md-12
    .card
      .card-header
        %h2 Meus Chamados - Helpdesk
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
        %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
          %thead
            %tr.info
              %th OS
              %th Responsável
              %th Categoria
              %th Assunto
              %th Data Abertura
          %tbody
            - my_order_service do |z|
              %tr
                %td
                  = z.number
                %td
                  = z.responsible.present? ? z.responsible.name : 'não assumido'
                %td
                  = z.category_i18n
                %td
                  = z.subject
                %td
                  = z.created_at.strftime("%d/%m/%Y - %H:%M")
