.panel.panel-default
  .panel-heading
    .panel-title
      %h4
        Localização
  .panel-body
    .row.form-filter
      .col-md-12
        = simple_form_for  url_for, method: 'get' do |f|
          .row
            .col-md-4
              = f.label 'Processo', class: 'fg-label'
              = f.input :process, label: false, input_html: { name: 'process', value: params[:process]}
            .col-md-3
              = f.label 'Tipo de Documento', class: 'fg-label'
              = f.input :doc_type, as: :select, collection: Protocol::DocumentType.all, label: false, prompt: 'selecione...',input_html: { name: 'doc_type', selected: params[:doc_type]}
            .col-md-1
              = f.submit 'Pesquisar', name: nil, class:  'btn btn-primary btn-sm', data: {  disable_with: "Pesquisando aguarde..."}
    %hr
    .row
      .col-md-12
        .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
          %table#data-table-command.table.table-striped.table-bordered
            %thead
              %tr
                %th #
                %th Documento
                %th Tipo de Documento
                %th
            %tbody.index-location
              = render 'index_location'
    .row
      .col-md-6.col-md-offset-3
        = will_paginate @assessments, renderer: BootstrapPagination::Rails
    %br
