.row
  .col-md-12
    %h2 Menus
    = link_to "Criar novo menu", new_project_nav_path(@project) if policy(:nav, namespace: Concourse).new?
%hr/
.row
  .col-md-12
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Título
          %th Tipo
          %th URL
          %th Target
          %th Publicado?
          %th Ordem
          - if policy(:nav, namespace: Concourse).destroy? || policy(:nav, namespace: Concourse).edit? 
            %th Ações
      %tbody
        - @project.navs.order(:order).each do |nav|
          %tr
            %td= nav.label
            %td= nav.action
            %td= nav.url
            %td= nav.target
            %td= nav.publish ? 'sim' : 'não'
            %td.col-md-1
              = "#{nav.order} º"
            - if policy(:nav, namespace: Concourse).destroy? || policy(:nav, namespace: Concourse).edit? 
              %td.col-md-1
                = link_to "", edit_project_nav_path(project_id: @project, id: nav),class: 'glyphicon glyphicon-pencil btn btn-primary btn-xs' if policy(:nav, namespace: Concourse).edit? 
                = link_to "", project_nav_path(project_id: @project, id: nav), method: :delete,class: 'glyphicon glyphicon-remove  btn btn-danger btn-xs', :data => { :confirm => t(:confirm_delete) } if policy(:nav, namespace: Concourse).destroy? 