:css
  .EstiloForms {
      width: 805px;
      min-height: 400px;
      margin: 0 auto;
      //background: url("/casinha/brasao.png");
      background-repeat: no-repeat;
      background-position: center;
      font-size: 12px;
      font-family: verdana;
      padding: 2px;
  }
.EstiloForms
  %div{:style => "width: 800px"}
    %div{:style => "width: 800px; height: 25px; border: 1px solid gray;"}
      %div{:style => "padding: 5px; text-align: center"}
        %b FICHA DESCRITIVA PARA LAVRATURA DE ESCRITURA DE IMÓVEL
    %div{:style => "width: 800px; height: 80px;"}
      %div{:style => "padding: 5px; text-align: right"}
        %br/
        %label Número da ficha:
        = @candidate.unit.id
    %div{:style => "width: 800px; height: 25px; border: 1px solid gray;"}
      %div{:style => "padding: 5px; text-align: center"}
        IDENTIFICAÇÃO DO(S) BENEFICIÁRIO(S)
    %br/
    %div{:style => "width: 100%;"}
      %div{:style => "padding: 5px;"}
        %b Nome:
        = @candidate.cadastre.name
    %div{:style => "width: 100%;"}
      %div{:style => "padding: 0px;"}
        %div{:style => "width: 30%;padding: 5px; float: left"}
          %b Nacionalidade:
          = @candidate.cadastre.place_birth
        %div{:style => "width: 30%;padding: 5px; float: left"}
          %b CPF:
          = @candidate.cadastre.cpf
        %div{:style => "width: 20%;padding: 5px; float: left"}
          %b Estado civil:
          = @candidate.cadastre.civil_state.name
    %br/
    %br/
    %div{:style => "width: 800px; height: 25px; border: 1px solid gray;"}
      %div{:style => "padding: 5px; text-align: center"}
        COADQUIRENTES/HERDEIROS
      -if @inheritors.present?

      -else
        %div{:style => "height: 170px;"}
          %div{:style => "padding: 5px; text-align: center; margin-top: 50px"}
            Não possui coadquirentes/herdeiros
      %div{:style => "width: 800px; height: 25px; border: 1px solid gray;"}
        %div{:style => "padding: 5px; text-align: center"}
          IDENTIFICAÇÃO DO IMÓVEL
      %br/
      %div{:style => "width: 100%;padding: 5px;"}
        %div{:style => "width: 45%;padding: 0px; float: left"}
          %b Endereço:
          = @candidate.unit.complete_address
        %div{:style => "width: 45%;padding: 0px; float: left"}
          %b Data da distribuíção:
          = @candidate.unit.created_at.strftime('%d/%m/%Y')
      %div{:style => "width: 100%;padding: 5px; margin-top: 10px"}
        %div{:style => "width: 45%; padding: 0px; float: left"}
          %b Localidade:
          = @candidate.unit.city.name
        %div{:style => "width: 45%;padding: 0px; float: left"}
          %b Matrícula:
          = @candidate.unit.notary_offices.last.unit_code if @candidate.unit.notary_offices.present?
      %br/
      %br/
      %hr
      %div{:style => "width: 800px"}
        %div{:style => "padding: 5px"}
          Observação:
