= simple_form_for(@video) do |f|
  .card-body.card-padding
    .row
      .col-md-12
        = f.label :title, class: 'fg-label'
        = f.input :title, label: false, input_html: { placeholder: 'Digite um titulo' }
    .row
      .col-md-6
        = f.label :url, class: 'fg-label'
        = f.input :url, label: false, input_html: { placeholder: 'Digite a url do vídeo' }
      .col-md-1
        = f.label :position, class: 'fg-label'
        = f.input :position, label: false
    .row
      .col-md-2
        = f.input :publish, as: :select, include_blank: false
    %hr/
    .row
      .col-md-12
        = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disabled_button)}
        = link_to 'Voltar',videos_path , class: 'btn btn-dark'
