.site-menubar.site-menubar-light
  .site-menubar-body
    %div
      %div
        %ul.site-menu
          %li.site-menu-category General
          %li.site-menu-item.has-sub
            %a{"data-dropdown-toggle" => "false", :href => "#{dashboard.root_path}"}
              %i.site-menu-icon.wb-order{"aria-hidden" => "true"}
              %span.site-menu-title Mural
              %span.site-menu-arrow

              
          %li.site-menu-item.has-sub
            %a{"data-dropdown-toggle" => "false", :href => "javascript:void(0)"}
              %i.site-menu-icon.wb-home{"aria-hidden" => "true"}
              %span.site-menu-title Habitação
              %span.site-menu-arrow


            %ul.site-menu-sub
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Cadastro
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{candidate.cadastres_path}"}
                      %span.site-menu-title Pesquisa Geral
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-403.html"}
                      %span.site-menu-title Atualização Cadastral
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-404.html"}
                      %span.site-menu-title Troca de CPF
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-404.html"}
                      %span.site-menu-title Situação
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-404.html"}
                      %span.site-menu-title Situação Processual
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-503.html"}
                      %span.site-menu-title Assentamento
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Publicação
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-400.html"}
                      %span.site-menu-title Em ordem
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-403.html"}
                      %span.site-menu-title Indicação
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Endereço
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-400.html"}
                      %span.site-menu-title Pesquisa Geral
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-403.html"}
                      %span.site-menu-title Atualização 
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Atendimento
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-400.html"}
                      %span.site-menu-title Habitação
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-403.html"}
                      %span.site-menu-title Regularização
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-404.html"}
                      %span.site-menu-title Agendamento
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-503.html"}
                      %span.site-menu-title Auditoria     
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Entidades
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-400.html"}
                      %span.site-menu-title Pesquisa Geral
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-403.html"}
                      %span.site-menu-title Atualização Cadastral
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-404.html"}
                      %span.site-menu-title Troca de CPF
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-503.html"}
                      %span.site-menu-title 503 
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Empresas
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-400.html"}
                      %span.site-menu-title Pesquisa Geral
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-403.html"}
                      %span.site-menu-title Atualização Cadastral
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-404.html"}
                      %span.site-menu-title Troca de CPF
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-503.html"}
                      %span.site-menu-title 503     
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Listas
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-400.html"}
                      %span.site-menu-title Pesquisa Geral
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-403.html"}
                      %span.site-menu-title Atualização Cadastral
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-404.html"}
                      %span.site-menu-title Troca de CPF
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-503.html"}
                      %span.site-menu-title 503   
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Sefaz
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-400.html"}
                      %span.site-menu-title Pesquisa CPF
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-403.html"}
                      %span.site-menu-title Isenção ITCD/ITBI
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-404.html"}
                      %span.site-menu-title Relatórios
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Auditoria
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-400.html"}
                      %span.site-menu-title Cadastro
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-403.html"}
                      %span.site-menu-title Atendimento
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-404.html"}
                      %span.site-menu-title Ações internas
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-503.html"}
                      %span.site-menu-title Acessos          
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../pages/error-503.html"}
                      %span.site-menu-title Guardião          
          %li.site-menu-item.has-sub
            %a{"data-dropdown-toggle" => "false", :href => "javascript:void(0)"}
              %i.site-menu-icon.wb-globe{"aria-hidden" => "true"}
              %span.site-menu-title Portal
              %span.site-menu-arrow
            %ul.site-menu-sub
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Postagens
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{cms.new_post_path}"}
                      %span.site-menu-title Nova
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{cms.posts_path}"}
                      %span.site-menu-title Lista
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{cms.posts_path}"}
                      %span.site-menu-title Pendentes
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{cms.post_categories_path}"}
                      %span.site-menu-title Categorias
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Páginas
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{cms.new_page_path}"}
                      %span.site-menu-title Nova
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{cms.pages_path}"}
                      %span.site-menu-title Lista
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{cms.pages_path}"}
                      %span.site-menu-title Pendentes
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{cms.page_categories_path}"}
                      %span.site-menu-title Categorias
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Concursos 
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{concourse.new_project_path}"}
                      %span.site-menu-title Novo concurso
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{concourse.projects_path}"}
                      %span.site-menu-title Lista
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{concourse.projects_path}"}
                      %span.site-menu-title Inscrições
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{concourse.projects_path}"}
                      %span.site-menu-title Pagamentos
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Layout
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{cms.navs_path}"}
                      %span.site-menu-title Menus
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{cms.videos_path}"}
                      %span.site-menu-title Videos
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{cms.galleries_path}"}
                      %span.site-menu-title Galerias

          %li.site-menu-item.has-sub
            %a{"data-dropdown-toggle" => "false", :href => "javascript:void(0)"}
              %i.site-menu-icon.wb-order{"aria-hidden" => "true"}
              %span.site-menu-title Protocolo
              %span.site-menu-arrow
            %ul.site-menu-sub
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Basic UI
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item.has-sub
                    %a{:href => "javascript:void(0)"}
                      %span.site-menu-title Panel
                      %span.site-menu-arrow
                    %ul.site-menu-sub
                      %li.site-menu-item
                        %a.animsition-link{:href => "../../uikit/panel-structure.html"}
                          %span.site-menu-title Panel Structure
                      %li.site-menu-item
                        %a.animsition-link{:href => "../../uikit/panel-actions.html"}
                          %span.site-menu-title Panel Actions
                      %li.site-menu-item
                        %a.animsition-link{:href => "../../uikit/panel-portlets.html"}
                          %span.site-menu-title Panel Portlets
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/buttons.html"}
                      %span.site-menu-title Buttons
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/dropdowns.html"}
                      %span.site-menu-title Dropdowns
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/icons.html"}
                      %span.site-menu-title Icons
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/list.html"}
                      %span.site-menu-title List
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/tooltip-popover.html"}
                      %span.site-menu-title Tooltip & Popover
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/modals.html"}
                      %span.site-menu-title Modals
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/tabs-accordions.html"}
                      %span.site-menu-title Tabs & Accordions
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/images.html"}
                      %span.site-menu-title Images
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/badges-labels.html"}
                      %span.site-menu-title Badges & Labels
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/progress-bars.html"}
                      %span.site-menu-title Progress Bars
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/carousel.html"}
                      %span.site-menu-title Carousel
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/typography.html"}
                      %span.site-menu-title Typography
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/colors.html"}
                      %span.site-menu-title Colors
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../uikit/utilities.html"}
                      %span.site-menu-title Utilties
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Advanced UI
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item.hidden-xs.site-tour-trigger
                    %a{:href => "javascript:void(0)"}
                      %span.site-menu-title Tour
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/animation.html"}
                      %span.site-menu-title Animation
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/highlight.html"}
                      %span.site-menu-title Highlight
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/lightbox.html"}
                      %span.site-menu-title Lightbox
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/scrollable.html"}
                      %span.site-menu-title Scrollable
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/rating.html"}
                      %span.site-menu-title Rating
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/context-menu.html"}
                      %span.site-menu-title Context Menu
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/alertify.html"}
                      %span.site-menu-title Alertify
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/masonry.html"}
                      %span.site-menu-title Masonry
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/treeview.html"}
                      %span.site-menu-title Treeview
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/toastr.html"}
                      %span.site-menu-title Toastr
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/maps-vector.html"}
                      %span.site-menu-title Vector Maps
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/maps-google.html"}
                      %span.site-menu-title Google Maps
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/sortable-nestable.html"}
                      %span.site-menu-title Sortable & Nestable
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../advanced/bootbox-sweetalert.html"}
                      %span.site-menu-title Bootbox & Sweetalert
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Structure
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/alerts.html"}
                      %span.site-menu-title Alerts
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/ribbon.html"}
                      %span.site-menu-title Ribbon
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/pricing-tables.html"}
                      %span.site-menu-title Pricing Tables
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/overlay.html"}
                      %span.site-menu-title Overlay
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/cover.html"}
                      %span.site-menu-title Cover
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/timeline-simple.html"}
                      %span.site-menu-title Simple Timeline
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/timeline.html"}
                      %span.site-menu-title Timeline
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/step.html"}
                      %span.site-menu-title Step
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/comments.html"}
                      %span.site-menu-title Comments
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/media.html"}
                      %span.site-menu-title Media
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/chat.html"}
                      %span.site-menu-title Chat
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/testimonials.html"}
                      %span.site-menu-title Testimonials
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/nav.html"}
                      %span.site-menu-title Nav
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/navbars.html"}
                      %span.site-menu-title Navbars
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/blockquotes.html"}
                      %span.site-menu-title Blockquotes
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/pagination.html"}
                      %span.site-menu-title Pagination
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../structure/breadcrumbs.html"}
                      %span.site-menu-title Breadcrumbs
          %li.site-menu-item.has-sub
            %a{"data-dropdown-toggle" => "false", :href => "javascript:void(0)"}
              %i.site-menu-icon.wb-grid-9{"aria-hidden" => "true"}
              %span.site-menu-title Gestão
              %span.site-menu-arrow
            %ul.site-menu-sub
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Monitoramento
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../forms/general.html"}
                      %span.site-menu-title Visão Geral
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../forms/general.html"}
                      %span.site-menu-title Projetos
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../forms/general.html"}
                      %span.site-menu-title Atores
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../forms/general.html"}
                      %span.site-menu-title Categorias
                  %li.site-menu-item
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Financeiro
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{brb.invoices_path}"}
                      %span.site-menu-title Boletos BRB
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{brb.invoices_path}"}
                      %span.site-menu-title Convênios BRB
                  %li.site-menu-item
                    %hr/
                  %li.site-menu-item
                    %a.animsition-link{:href => "#{brb.categories_path}"}
                      %span.site-menu-title Categorias
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Jurídico
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../charts/chartjs.html"}
                      %span.site-menu-title Chart.js
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Wiki
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../charts/chartjs.html"}
                      %span.site-menu-title Chart.js
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Patrîmônio
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../tables/basic.html"}
                      %span.site-menu-title Basic Tables
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../tables/bootstrap.html"}
                      %span.site-menu-title Bootstrap Tables
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../tables/floatthead.html"}
                      %span.site-menu-title floatThead
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../tables/responsive.html"}
                      %span.site-menu-title Responsive Tables
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../tables/editable.html"}
                      %span.site-menu-title Editable Tables
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../tables/jsgrid.html"}
                      %span.site-menu-title jsGrid
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../tables/footable.html"}
                      %span.site-menu-title FooTable
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../tables/datatable.html"}
                      %span.site-menu-title DataTables
              %li.site-menu-item.has-sub
                %a{:href => "javascript:void(0)"}
                  %span.site-menu-title Veículos
                  %span.site-menu-arrow
                %ul.site-menu-sub
                  %li.site-menu-item
                    %a.animsition-link{:href => "../../charts/chartjs.html"}
                      %span.site-menu-title Chart.js
          
          %li.site-menu-item.has-sub.pull-right
            %a{"data-dropdown-toggle" => "false", :href => "#{helpdesk.new_ticket_path}", "data-remote" => true}
              %i.site-menu-icon.wb-users{"aria-hidden" => "true"}
              %span.site-menu-title Lista de ramais
              %span.site-menu-arrow
          %li.site-menu-item.has-sub.pull-right
            %a{"data-dropdown-toggle" => "false", :href => "#{helpdesk.new_ticket_path}", "data-remote" => true}
              %i.site-menu-icon.wb-help{"aria-hidden" => "true"}
              %span.site-menu-title Abrir um chamado
              %span.site-menu-arrow
