.panel.panel-default
  .panel-heading
    %h4.panel-title
      Informações do candidato
  .panel-body
    .row
      .col-md-12
        %hr/
        %table.table.table-hover.table-striped.table-bordered.table-condensed
          %thead
            %tr
              %th Nome
              %th CPF
              %th Observação
              %th Status
              %th Documento
              %th Data
              %th Ações
          %tbody
            - @enterprise_cadastre_situations.each do |e|
              %tr
                %td= e.enterprise_cadastre.cadastre.name if e.enterprise_cadastre.cadastre.present?
                %td= e.enterprise_cadastre.cadastre.cpf if e.enterprise_cadastre.cpf.present?
                %td= e.observation
                %td= e.enterprise_situation_status.name if e.enterprise_situation_status.present?
                %td= e.created_at
