= simple_form_for @requeriment do |f|
  .row
    .col-md-12
      %h5.title Dados Pessoais
  .row
    .col-md-6
      = f.input :name
    .col-md-2
      = f.input :cpf
    .col-md-2
      = f.input :rg
  .row
    .col-md-2
      = f.input :born, as: :string, input_html: { class: 'date'}
    .col-md-2
      = f.input :income
  .row
    .col-md-2
      = f.input :telephone
    .col-md-2
      = f.input :celphone
  %hr/
  .spouse_form
    .row
      .col-md-12
        %h5.title Dados do côjunge
    .row
      .col-md-4
        = f.input :spouse_name
      .col-md-2
        = f.input :spouse_cpf
  %hr/
  .row
    .col-md-4
      = f.input :owner, label: false, as: :radio_buttons
  %hr/
  .row
    .col-md-12
      = f.button :submit