= simple_form_for @requeriment do |f|
  .row
    .col-md-12
      %h5.title Dados Pessoais
  .row
    .col-md-6
      = f.input :name
    .col-md-2
      = f.input :cpf
    .col-md-2
      = f.input :rg
  .row
    .col-md-2
      = f.input :born, as: :string, input_html: { class: 'date'}
    .col-md-2
      = f.input :marital_status, as: :select, collection: Regularization::Requeriment.marital_statuses.map {|k,v| [k.humanize,k]} , prompt: 'selecione...'
    .col-md-2
      = f.input :nationality
    .col-md-2
      = f.input :gender, as: :select, collection: Regularization::Requeriment.genders, prompt: 'selecione...'
  .row
    .col-md-4
      = f.input :email
    .col-md-2
      = f.input :telephone
    .col-md-2
      = f.input :celphone

  .spouse_form{"style": "#{(@requeriment.marital_status == 'solteiro') ? 'display: none' : 'display:block'}"}
    %hr/
    .row
      .col-md-12
        %h5.title Dados do côjunge
    .row
      .col-md-4
        = f.input :spouse_name
      .col-md-2
        = f.input :spouse_cpf
  %hr/
  .row
    .col-md-4
      = f.label :owner
      = f.input :owner, label: false, as: :radio_buttons
  %hr/
  .row
    .col-md-12
      = f.submit "Salvar Requerimento"
      = link_to "Voltar/Alterar endereço", regularization.new_address_path, class: 'btn btn-default'

:javascript

  $("#requeriment_marital_status").on('change', function() {
    if($(this).val() == "união_estável") {
      $(".spouse_form").show()
    } else {
      $(".spouse_form").hide()
    }
  })