.row
  .col-md-12
    %h2 Inscrições
    Total de inscritos: 
    #{@project.candidates.count}
%hr/
.row
  .col-md-12
    .row
      = simple_form_for url_for, method: :get do |f|
        .col-md-2
          = f.input :by_id, label: "Nº inscrição", input_html: { name: 'by_id', value: params[:by_id]}
        .col-md-2
          = f.input :by_cpf, label: "CPF", input_html: { name: 'by_cpf', value: params[:by_cpf]}
        .col-md-2
          = f.input :by_situation, label: "Situação", as: :select, collection: Concourse::Candidate.statuses.map { |k,v| [k.humanize, v]}, selected: params[:by_situation], include_blank: 'Todas', input_html: { name: 'by_situation'}
        .col-md-2
          = f.submit t(:filter_button), name: nil, class: 'btn btn-primary filter-button', data: { disable_with: t(:disable_with)}
%hr/
.row
  .col-md-12
    Total listado: #{@candidates.count}
%hr/
.row
  .col-md-12
    %table.table.table-striped.table-hover.table-bordered
      %thead
        %tr
          %th Nº
          %th Tipo de inscrição
          %th CPF
          %th Taxa de inscrição
          %th Boletos emitidos
          %th Data de inscrição
          %th Status
          %th Ação
      %tbody
        - @candidates.order(:id).each_with_index do |candidate, index|
          %tr
            %td= candidate.id
            %td= candidate.subscribe.title if candidate.subscribe.present?
            %td= candidate.cpf.format_cpf
            %td
              - if candidate.invoice_paid
                %span.label.label-success pagamento realizado
              - else
                %span.label.label-warning pendente
            %td= "impresso:  #{candidate.invoice_prints}"
            %td= candidate.created_at.strftime('%d/%m/%Y às %H:%M')
            %td
              %span.label.label-info= "Processando" if candidate.processando? 
              %span.label.label-success= "Homologado" if candidate.homologado? 
              %span.label.label-danger= "Indeferido" if candidate.indeferido? 
            %td
              = link_to "", project_candidate_path(project_id: @project, id: candidate), class: 'glyphicon glyphicon-share-alt btn btn-primary btn-xs', title: "visualizar"
.row
  .col-md-12.paginate
    = will_paginate @candidates, renderer: BootstrapPagination::Rails