.panel
  .panel-heading
    .panel-title
      %h2
        Detalhamento de Inscrição - #{@candidate.id}
      %small
        = link_to "voltar para inscrições", project_candidates_path(@project)
        - if policy(:candidate, namespace: Concourse).edit?
          |
          = link_to "atualizar situação", edit_project_candidate_situation_path(project_id:  @project, candidate_id: @candidate), remote: true
        - if policy(:candidate, namespace: Concourse).new_observation?
          |
          = link_to "inserir observação",  new_project_candidate_observation_path(project_id: @project, candidate_id: @candidate), remote: true
  .panel-body
    .row
      .col-md-12
        %h4 Informações sobre a inscrição
    .row
      .col-md-12
        %table.table.table-striped.table-bordered.table-condensed
          %thead
            %tr
              %th Número
              %th Data da inscrição
              %th Última atualização
              %th Situação da inscrição
              %th Pagamento de Inscrição
              %th Boletos emitidos
          %tbody
            %tr
              %td.col-md-1= @candidate.id
              %td= @candidate.created_at.strftime("%d/%m/%Y às %H:%M")
              %td= @candidate.updated_at.strftime("%d/%m/%Y às %H:%M")
              %td
                %span.label.label-info= "Processando" if @candidate.processando? 
                %span.label.label-success= "Homologado" if @candidate.homologado? 
                %span.label.label-danger= "Indeferido" if @candidate.indeferido? 
              %td= @candidate.invoice_paid ? 'Pagamento realizado' : 'pendente'
              %td= @candidate.invoice_prints 
  
    %br
    %br
    .row
      .col-md-12
        %h4 Informações pessoais
    .row
      .col-md-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Nome
              %th CPF
              %th Data de Nascimento
              %th Sexo
          %tbody
            %tr
              %td= @candidate.name.upcase
              %td= @candidate.cpf.format_cpf
              %td= @candidate.born.strftime('%d/%m/%Y') if @candidate.born.present?
              %td= @candidate.gender
    %br
    %br
    .row
      .col-md-12
        %h4 Informações de contato
    .row
      .col-md-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Telefone
              %th Celular
              %th E-mail
          %tbody
            %tr
              %td.col-md-2= @candidate.telephone.upcase
              %td.col-md-2= @candidate.celphone
              %td.col-md-4= @candidate.email
        %br/
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Estado
              %th Cidade
              %th Endereço
              %th CEP
          %tbody
            %tr
              %td.col-md-2= @candidate.state.name if @candidate.state.present?
              %td.col-md-2= @candidate.city
              %td.col-md-7= @candidate.address
              %td.col-md-1= @candidate.cep
    %br
    %br
    .row
      .col-md-12
        %h4 Informações de pessoa jurídica
    .row
      .col-md-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Razão Social
              %th Nome Fantasia
              %th CNPJ
          %tbody
            %tr
              %td.col-md-8= @candidate.social_reason.upcase
              %td.col-md-2= @candidate.fantasy_name.upcase
              %td.col-md-2= @candidate.cnpj.format_cnpj
        %br/
    .row
      .col-md-12
        %h4 Informações adicionais
    .row
      .col-md-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Tipo de profissional
          %tbody
            %tr
              %td= @candidate.professional_type
    .row
      .col-md-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Descrição
              %th Informação
          %tbody
            - @candidate.properties.each do |p|
              %tr
                %td= p[0].humanize

                %td.col-md-3= link_to "Baixar Arquivo", "http://www.codhab.df.gov.br/files/concourse/project/#{p[1]}", target: '_blank'
    %hr/
    .row
      .col-md-12
        %h4 
          Observações 
          = link_to "nova observação", new_project_candidate_observation_path(project_id: @project, candidate_id: @candidate), remote: true, class: 'pull-right' if policy(:candidate, namespace: Concourse).new_observation?
    .row
      .col-md-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Tipo
              %th Observação
              %th Feita por
              %th Data
          %tbody#observation-index
            = render 'concourse/observations/index'