= simple_form_for [:portal, @project, @enrollment, @candidate], multipart: true do |f|
  .row
    .col-md-12
      - if @candidate.errors.any?
        .alert.alert-danger
          %h4
            %strong Verifique se todos os campos estão preenchidos
  .row
    .col-md-6
      = f.fields_for :properties, OpenStruct.new(@candidate.properties) do |builder|
        .row
          .col-md-12
            - @candidate.enrollment.enrollment_fields.each do |field|
              = render "#{field.field_type}_field", field: field, f: builder
  .row
    .col-md-12
      = f.button :submit