.row
  .col-md-12
    %h3
      %strong Minha inscrição
      %span.pull-right
        = link_to "editar minha inscrição", concourse.edit_portal_project_enrollment_enrollment_candidate_path(project_id: @enrollment_candidate.enrollment.project.id, enrollment_id: @enrollment_candidate.enrollment.id, id: @enrollment_candidate.id), class: 'btn btn-success btn-sm'
.row
  .col-md-4
    %h5
      %strong
        %p Data da inscrição:
      = @enrollment_candidate.created_at.strftime('%d/%m/%Y às %H:%M')
  .col-md-4
    %h5
      %strong
        %p Data da última atualização:
      = @enrollment_candidate.updated_at.strftime('%d/%m/%Y às %H:%M')
  .col-md-4
    %h5
      %strong
        %p Protocolo:
      = "CODHAB#{@enrollment_candidate.id}2015"
%hr/
.row
  .col-md-4
    %h5
      %strong 
        %p Nome:
      = @candidate.name
  .col-md-4
    %h5
      %strong 
        %p CPF:
      = @candidate.cpf
  .col-md-4
    %h5
      %strong 
        %p Sexo:
      = @candidate.sex
%hr/
- @enrollment_candidate.properties.each do |p|
  .row
    .col-md-4
      %h5
        %strong
          %p= "#{p[0].humanize}:"
        = p[1]