= form_for @attendant do |f|
  - if @attendant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@attendant.errors.count, "error")} prohibited this attendant from being saved:"
      %ul
        - @attendant.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
