%h1 Listing serial_numbers

%table
  %thead
    %tr
      %th Name
      %th Number
      %th Good
      %th Status
      %th
      %th
      %th

  %tbody
    - @serial_numbers.each do |serial_number|
      %tr
        %td= serial_number.name
        %td= serial_number.number
        %td= serial_number.good
        %td= serial_number.status
        %td= link_to 'Show', serial_number
        %td= link_to 'Edit', edit_serial_number_path(serial_number)
        %td= link_to 'Destroy', serial_number, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Serial number', new_serial_number_path
