%p#notice= notice

%p
  %b Name:
  = @serial_number.name
%p
  %b Number:
  = @serial_number.number
%p
  %b Good:
  = @serial_number.good
%p
  %b Status:
  = @serial_number.status

= link_to 'Edit', edit_serial_number_path(@serial_number)
\|
= link_to 'Back', serial_numbers_path
