%p#notice= notice
%p
  %b Title:
  = @agenda.title
%p
  %b Description:
  = @agenda.description
%p
  %b Start:
  = @agenda.start.strftime('%d/%m/%Y') if @agenda.start.present?
%p
  %b End:
  = @agenda.end.strftime('%d/%m/%Y') if @agenda.end.present?
%p
  %b Hour start:
  = @agenda.hour_start
%p
  %b Hour end:
  = @agenda.hour_end
%p
  %b Publish:
  = @agenda.publish
%p
  %b City:
  = @agenda.city
%p
  %b Station:
  = @agenda.station
%p
  %b Quantity attendants:
  = @agenda.quantity_attendants
%p
  %b Time attendant:
  = @agenda.time_attendant
%p
  %b Lunch:
  = @agenda.lunch
%p
  %b Lunch start:
  = @agenda.lunch_start
%p
  %b Lunch end:
  = @agenda.lunch_end
%p
  %b Lunch attendants:
  = @agenda.lunch_attendants
%p
  %b Lunch time attendant:
  = @agenda.lunch_time_attendant
%p
  %b Validate sql:
  = @agenda.validate_sql
%p
  %b Validate type:
  = @agenda.validate_type
%p
  %b Validate:
  = @agenda.validate
