%p#notice= notice
.card
  .card-header.ch-alt
    %h2
      Agenda
  .card-body.card-padding
    .row
      .col-md-12
        %b Título:
        = @agenda.title
    .row
      .col-md-12
        %b Descrição:
        = @agenda.description
    .row
      .col-md-6
        %b Data de Início:
        = @agenda.start.strftime('%d/%m/%Y') if @agenda.start.present?
      .col-md-6
        %b Data Final:
        = @agenda.end.strftime('%d/%m/%Y') if @agenda.end.present?
    .row
      .col-md-4
        %b Horário de Início:
        = @agenda.hour_start.strftime('%H:%M') if @agenda.hour_start.present?
      .col-md-4
        %b Horário Final:
        = @agenda.hour_end.strftime('%H:%M') if @agenda.hour_end.present?
      .col-md-4
        %b Publicado?:
        = @agenda.publish
    .row
      .col-md-6
        %b Cidade:
        = @agenda.city.name if @agenda.city.present?
      .col-md-6
        %b Estado:
        = @agenda.station.name if @agenda.station.present?
    .row
      .col-md-6
        %b Quantidade de Atendentes:
        = @agenda.quantity_attendants
      .col-md-6
        %b Tempo de Atendimento:
        = @agenda.time_attendant
    .row
      .col-md-6
        %b Pausa de Almoço:
        = @agenda.lunch
      .col-md-6
        %b Início do Horário de Almoço:
        = @agenda.lunch_start
    .row
      .col-md-6
        %b Fim do Horário de Almoço:
        = @agenda.lunch_end
      .col-md-6
        %b Atendentes:
        = @agenda.lunch_attendants
    .row
      .col-md-12
        %b Tempo de Atendimento no Hoŕaio de Almoço:
        = @agenda.lunch_time_attendant

