<html class="login-content"><head>
         <%= stylesheet_link_tag  'material', media: 'all' %>
    </head>

    <body class="login-content">
        <!-- Login -->

        <div class="lc-block toggled" id="l-login">
         <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="input-group m-b-20">

                <span class="input-group-addon"><i class="md md-person"></i></span>
                <div class="fg-line">
                  <%= f.input :email, required: false, label: false, autofocus: true , input_html: {placeholder: 'Email'}%>
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                <div class="fg-line">
                 <%= f.input :password, required: false, label: false, autofocus: true , input_html: {placeholder: 'Password'} %>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="checkbox">
                <label>
                    <%= f.input :remember_me,  as: :boolean if devise_mapping.rememberable? %>
                    <i class="input-helper"></i>
                </label>
            </div>
                <%= f.button :button,  class: "btn btn-login btn-danger btn-float waves-effect waves-button waves-float" do %>
                 <i class="md md-arrow-forward"></i>
                <% end %>

            <ul class="login-navigation">

                <li data-block="#l-register" class="bgm-red">Register</li>
                <li data-block="#l-forget-password" class="bgm-orange">Forgot Password?</li>
            </ul>
              <% end %>
        </div>




        <!-- Forgot Password -->
        <div class="lc-block" id="l-forget-password">
            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-email"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Email Address">
                </div>
            </div>

            <a href="" class="btn btn-login btn-danger btn-float waves-effect waves-button waves-float"><i class="md md-arrow-forward"></i></a>

            <ul class="login-navigation">
                <li data-block="#l-login" class="bgm-green">Login</li>
                <li data-block="#l-register" class="bgm-red">Register</li>
            </ul>
        </div>

</body></html>