%html.login-content
  %head
    = stylesheet_link_tag  'material', media: 'all'

  %body.login-content


    #l-login.lc-block.toggled
      .codhab-logo
        Intranet
        %b CODHAB
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .input-group.m-b-20
          %span.input-group-addon
            %i.md.md-person
          .fg-line
            = f.input :username, required: false, label: false, autofocus: true , input_html: {placeholder: 'Credencial'}
        .input-group.m-b-20
          %span.input-group-addon
            %i.md.md-accessibility
          .fg-line
            = f.input :password, required: false, label: false, autofocus: true , input_html: {placeholder: 'Senha'}
        .clearfix
        .checkbox
          %label
            = f.input :remember_me,  as: :boolean if devise_mapping.rememberable?
            %i.input-helper
        = f.button :button,  class: "btn btn-login btn-danger btn-float waves-effect waves-button waves-float" do
          %i.md.md-arrow-forward
    / Forgot Password
    #l-forget-password.lc-block
      %p.text-left Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.
      .input-group.m-b-20
        %span.input-group-addon
          %i.md.md-email
        .fg-line
          %input.form-control{:placeholder => "Email Address", :type => "text"}
      %a.btn.btn-login.btn-danger.btn-float.waves-effect.waves-button.waves-float{:href => ""}
        %i.md.md-arrow-forward
      %ul.login-navigation
        %li.bgm-green{"data-block" => "#l-login"} Login
        %li.bgm-red{"data-block" => "#l-register"} Register
