
/[if lt IE 8]
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
/ Page
.page.animsition{"data-animsition-in" => "fade-in", "data-animsition-out" => "fade-out"}
  .page-content
    .page-login-main
      .brand
        %img.brand-img{:alt => "logo codhab", :src => "/images/codhab_footer.png", width: 350}/
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.input :username, required: false, label: false, autofocus: true , input_html: {placeholder: 'Digite sua credencial'}
        = f.input :password, required: false, label: false, autofocus: true , input_html: {placeholder: 'Digite sua senha'}
        = f.submit 'Realizar acesso',  class: "btn btn-block btn-warning-login btn-float waves-effect waves-button waves-float" 
      %footer.page-copyright
        %p Companhia de Desenvolvimento Habitacional / CODHAB
        %p #{Date.today.year}
