<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @qualification.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @qualification.status %>
</p>

<p>
  <strong>Order service:</strong>
  <%= @qualification.order_service %>
</p>

<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>
