%nav.navbar.navbar-inverse.navbar-custom
  .container
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        = nav_link_to('dashboard')
        = nav_link_to('habitation')
        = nav_link_to('portal')
        = nav_link_to('protocol')
        = nav_link_to('management')
