!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Extranet
    = stylesheet_link_tag  'patternfly', media: 'all'
    = javascript_include_tag 'patternfly'
    :javascript
      URL_BASE = "#{request.original_url}"
      tinyMCE.init({
        selector: 'textarea.tinymce',
        language: 'pt_BR',
        plugins : 'advlist autolink link uploadimage image lists charmap print preview'
      });
    = csrf_meta_tags
  %body
    = render "layouts/patternfly/partials/top" if user_signed_in?
    = render "layouts/patternfly/partials/subnav"
    .container
      = render "layouts/patternfly/partials/breadcrumb"
      = render "partials/shared/remark/flash_message"
