.row
 .col-md-12
  = simple_form_for @system, remote: true do |f|
   .row
    .col-md-12
     = f.label :name, class: 'fg-label'
     = f.input :name, label: false, input_html: { placeholder: 'Digite um nome'}
   .row
    .col-md-12
     = f.label :code, class: 'fg-label'
     = f.input :code, label: false, input_html: { placeholder: 'Digite um código identificador'}
   .row
    .col-md-12
     = f.label :status, class: 'fg-label'
     = f.check_box :status, class: 'toggle-switch'
   .row
    .col-md-12
     = f.button :button, class: 'btn btn-success' do
      Gravar
   %br/
