.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#modal.modal-title Fechar Chamado
.modal-body
  = simple_form_for @ticket_ocurrence, url: ticket_closed_path(@ticket), method: :put, remote: true do |f|
    .row
      .col-md-12
        = f.label "Solução", class: 'fg-label'
        = f.input :ticket_solution_title,  label: false, hint: "<b>Ao digitar verifique se sua questão já não está sendo listada abaixo!</b>".html_safe, input_html: {id:"ticket_ticket_solution_title", autocomplete: 'on' }
        #solution-result.results
    .row
      .col-md-12
        = f.label :file_ocurrence, class: 'fg-label'
        = f.input :file_ocurrence, as: 'file', label: false, input_html: { placeholder: 'Anexo'}
    %br/
    .row
      .col-md-12
        = f.button :submit, "Encerrar chamado", class: 'btn btn-success', data: { disable_with: t(:disabled_button)}
:javascript

  $(function() {
    $("#ticket_ticket_solution_title").on('focus', function(){
      $.get("#{helpdesk.ticket_solution_json_path}?ticket_type_id="+ $(#{@ticket.ticket_type_id}).val(), function(data) {
        $('#ticket_ticket_solution_title').autocomplete({source: data, appendTo: '#solution-result' });
        $('#ticket_ticket_solution_title').prop("readonly", false)
      });
    });
  })
