.page-content
  .documents-wrap.article
    #articleAffix.article-sidebar.affix-top
      %ul.list-group.nav
        %li.list-group-item
          %h4 Pesquisar Documento
          = simple_form_for :search, url: new_report_path, :method => 'get' do |f|
            .row
              .col-md-12
                = f.label "Data Inicial", class: 'fg-label'
                = f.input :date_start, label: false, input_html: { class: 'date', placeholder: '00/00/0000'}
            .row
              .col-md-12
                = f.label "Data Final", class: 'fg-label'
                = f.input :date_end, label: false, input_html: { class: 'date', placeholder: '00/00/0000'}
            .row
              .col-md-12
                = f.submit 'Pesquisar', class:  'btn btn-success',data: {disable_with: "carregando..."}
    .article-content
      %h4.bold Relatório de Expediente
      .row
        .col-md-12
          = render 'form'