= simple_form_for [@requeriment,@kin] do |f|
  .row
    .col-md-12
      %h4
        %b Dados Pessoais
  %hr/
  .row
    .col-md-6
      = f.label :name, class: 'fg-label'
      = f.input :name, label: false
    .col-md-2
      = f.label :cpf, class: 'fg-label'
      = f.input :cpf, label: false
    .col-md-2
      = f.label :rg, class: 'fg-label'
      = f.input :rg, label: false
    .col-md-2
      = f.label :rg_org, class: 'fg-label'
      = f.input :rg_org, label: false
  .row
    .col-md-2
      = f.label :rg_uf, class: 'fg-label'
      = f.input :rg_uf, label: false
    .col-md-2
      = f.label :gender
      = f.input :gender, label:false, as: :select, collection: Regularization::Requeriment.genders.keys.to_a, prompt: 'selecione...'
    .col-md-2
      = f.label :born, as: 'string', class: 'fg-label'
      = f.input :born, label: false, as: :string, input_html: { class: 'date'}
    .col-md-2
      = f.label :place_birth, as: 'string', class: 'fg-label'
      = f.input :place_birth, label: false
    .col-md-2
      = f.label :flag_special_condition, class: 'fg-label'
      = f.input :flag_special_condition, as: :select, label: false, prompt: 'selecione...', class: 'fg-label'
  %hr/
  .row
    = f.simple_fields_for :kin_adjuncts do |builder|
      = render "form_kin_adjunct", :f => builder
  %hr/
  .row
    .col-md-12
      %span.pull-right
        = f.button :submit, class: 'btn btn-success'
  .row
    = render 'kins'
  %hr/
  .row
    .col-md-12
      %span.pull-right
        = link_to "Voltar para consulta", new_consult_path, class: 'btn btn-inverse'
        = link_to "Prosseguir", requeriment_checklist_step_path(@requeriment), class: 'btn btn-primary'
