.col-md-2
  = f.label :income, class: 'fg-label'
  = f.input :income, label: false
.col-md-2
  = f.label :civil_state, class: 'fg-label'
  = f.association :civil_state, label: false, prompt: 'selecione...'
.col-md-2
  = f.label :kinship, class: 'fg-label'
  = f.association :kinship, label: false, prompt: 'selecione...'
.col-md-2
  = f.label :copurchaser_flat, class: 'fg-label'
  = f.input :copurchaser_flag, label: false, as: :select, prompt: 'selecione...'
.col-md-2
  = f.label :percent, class: 'fg-label'
  = f.input :percent, label: false
