.card
  .card-header.ch-alt
    %h2
      Postos de Atendimento
      = link_to 'Novo Posto', attendance.new_station_path, class: 'btn btn-success pull-right'
      %small Listagem de postos dẽ atendimento
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table.table.table-striped.datatable
      %thead
        %tr
          %th Nome
          %th Cidade
          %th Tipo
          %th Convocação
          %th Status
          %th{:colspan => "3"} Ações
      %tbody
        - @stations.order(:name).each_with_index do |station, index|
          %tr
            %td= station.name
            %td= station.city.name if station.city.present?
            %td= station.station_type
            %td= station.convocation.name if station.convocation.present?
            %td= station.status ? 'ativo' : 'inativo'
            %td.col-md-2
              = link_to '', station_station_attendants_path(station), class: 'md md-account-child btn btn-warning', title: "atendentes"
              = link_to '', station_counters_path(station), class: 'md md-open-in-browser btn btn-success', title: "guichês"
              = link_to '', edit_station_path(station), class: 'md md-edit btn btn-primary', title: "editar"
              = link_to '', station, class: 'md md-delete btn btn-danger', :method => :delete, :data => { :confirm => t(:confirm_delete) }
