#messages-main.card.m-b-0
  .ms-menu
    .ms-block
      .ms-user
        Pesquisar atendente
    .ms-block
    .listview.lv-user.m-t-20
    = simple_form_for  new_report_attendant_path, :method => 'get' do |f|
      .lv-item.media
        .media-body
          .lv-title
            = f.label 'Atendente', class: 'fg-label'
          .lv-small
            = f.input :staff, collection: @sector_users, label_method: :name, value_method: :id, label: false, prompt: "Selecione" ,input_html: { name: 'staff', value: params[:staff]}

            
      .lv-item.media
        .media-body
          .lv-small
            = f.submit 'Pesquisar', class:  'btn btn-success', input_html: { name: nil}
  .ms-body
    .listview.lv-message
      .lv-header-alt.bgm-white
        #ms-menu-trigger
          .line-wrap
            .line.top
            .line.center
            .line.bottom
        .lvh-label.hidden-xs
          %span.c-black Atendente
          =@user ? @user.name : '-'
      .lv-body{:style => "min-height: 270px"}
        .lv-item.media
          .media-body
            = flash_message.html_safe
            = render 'index_search'

            






