.page-content
  .panel
    .panel-heading
      .panel-title
        %h4 
          Galerias
          = link_to 'Nova Galeria', new_gallery_path, class: 'btn btn-success btn-sm pull-right'
    %hr/
    .panel-body
      %table.table.table-bordered.table-striped.table-hover
        %thead
          %tr
            %th Título
            %th Publicado
            %th Data
            %th Ações

        %tbody
          - @galleries.each do |gallery|
            %tr
              %td= gallery.title
              %td= status_helper (gallery.status)
              %td= gallery.created_at.strftime('%d/%m/%Y')
              %td.col-md-1
                = link_to '', edit_gallery_path(gallery),title: 'Editar', class: 'glyphicon glyphicon-pencil btn-xs btn btn-primary'
                = link_to '', gallery,title: 'Remover', :method => :delete, class: 'glyphicon glyphicon-remove btn btn-xs btn-danger', :data => { :confirm => t(:confirm_delete) } 
