= simple_form_for [:project,@consult] do |f|
  .row
    .col-md-12
      = f.label "* Descreva abaixo a consulta anônima relativa à base do respectivo concurso"
      %br/
      = f.input :content, label: false, placeholder: 'Descrição da consulta', input_html: { style: 'min-height: 200px;'}
  %br/
  .row
    .col-md-12
      = @project.consultation_description.html_safe
  %hr/
  .row
    .col-md-12
      = f.label "Estou ciente e de acordo com todas as regras do Edital do respectivo concurso."
    .col-md-2
      = f.input :terms_use, label: false, as: :select, include_blank: false
  %hr/
  .row
    .col-md-12
      = f.submit "Enviar Consulta", class: 'btn btn-success'
      = link_to "Voltar", project_path(@project), class: 'btn btn-default'