= simple_form_for [:administrator, @project, @participation, @participation_field], remote: true do |f|
  .row
    .col-md-12
      = f.label :name
      = f.input :name, label: false
  .row
    .col-md-6
      = f.label :field_type
      = f.input :field_type,  as: 'select', collection: Concourse::EnrollmentField.field_types.keys.to_a, label: false, prompt: 'selecione...'
    .col-md-6
      = f.label :code
      = f.input :code, label: false
  .row
    .col-md-6
      .checkbox.m-b-15
        %label
          = f.check_box :required
          %i.input-helper
            Obrigatório
    .col-md-6
      .checkbox.m-b-15
        %label
          = f.check_box :status
          %i.input-helper
            Ativo
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'
  %br/