.block-header
  %h2 
    %b 
      = link_to @project.name, administrator_projects_path
      \/ Tipos de participações /
      = link_to @participation.title, administrator_project_enrollments_path(project_id: @project)
    
.card
  .card-header.ch-alt
    %span.pull-right
      = link_to "voltar", concourse.administrator_project_participations_path(@project), class: 'btn btn-default'
      = link_to "novo campo", concourse.new_administrator_project_participation_participation_field_path(project_id: @project, participation_id: @participation), remote: true, class: 'btn btn-success'
    %h2
      Campos
      %small
        Listagem de campos para inscrição
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "4"}
    %table.table.table-condensed
      %thead
        %tr
          %th #
          %th Nome
          %th Tipo
          %th Attributo
          %th Obrigatório?
          %th Status
          %th Ações
      %tbody.index-field
        = render 'index'