%tr
  %th %
  %td #{@processing.rii_percent} %
  %td #{@processing.rie_percent} %
  %td #{@processing.special_percent} %
  %td #{@processing.vul_percent} %
  %td #{@processing.old_percent} %
  %td #{@processing.total_percent} %
  