.page-content
  .panel
    .panel-heading
      .panel-title
        %h4
          %span.pull-right
            = link_to "voltar", cadastres_path, class: 'btn btn-dark btn-sm', data: {  disable_with: "Pesquisando aguarde..."}
          Detalhamento de Entidade
    .panel-body
      .row
        .col-md-12
          %h5 Informações gerais
      .row
        .col-md-12
          %table.table.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th Nome
                %th Sigla
                %th CNPJ
            %tbody
              %tr
                %td= @cadastre.name
                %td= @cadastre.fantasy_name
                %td= @cadastre.cnpj
          %table.table.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th Cidade
                %th Endereço
                %th CEP
                %th Telefone
                %th Telefone Opcional
                %th Celular
                %th E-mail
            %tbody
              %tr
                %td= @cadastre.city.name if @cadastre.city.present?
                %td= "#{@cadastre.address} - Nº #{@cadastre.number}"
                %td= @cadastre.cep
                %td= @cadastre.telephone
                %td= @cadastre.telephone_optional
                %td= @cadastre.celphone
                %td= @cadastre.email

          %br/
      .row
        .col-md-12
          %h5 Diretoria & Membros
      .row
        .col-md-12
          %table.table.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th Nome
                %th CPF
                %th RG
                %th Cargo
                %th Foto
                %th Ação
            %tbody
              - if @cadastre.members.present?
                - @cadastre.members.each do |cad|
                  %tr
                    %td= cad.name
                    %td= cad.cpf
                    %td= "#{cad.rg} - #{cad.rg_org}"
                    %td= cad.member_job.name
                    %td= link_to "visualizar", cad.photo.to_s, target: '_blank'
                    %td= link_to "detalhar", '#'
              - else
                %tr
                  %td{colspan:6} Nenhum registro cadastrado.

        %br/
      .row
        .col-md-12
          %h5 Imóveis
      .row
        .col-md-12
          %table.table.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th Cidade
                %th Bairro
                %th Endereço
                %th Tipo
                %th Observação
            %tbody
              - if @cadastre.realties.present?
                - @cadastre.realties.each do |realty|
                  %tr
                    %td= realty.city.name if realty.city.present?
                    %td= realty.burgh
                    %td= realty.address
                    %td= realty.situation.humanize
                    %td= realty.observation
              - else
                %tr
                  %td{colspan:4} Nenhum registro cadastrado.
        %br/
      .row
        .col-md-12
          %h5 Upload de documentos | Geral
      .row
        .col-md-12
          %table.table.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th Documento
                %th Tipo
                %th Arquivo
                %th Data
            %tbody
              - if @cadastre.documents.general.present?
                - @cadastre.documents.general.each do |document|
                  %tr
                    %td= document.document_category.name if document.document_category.present?
                    %td.col-md-2= document.document_category.document_type.humanize  if document.document_category.present?
                    %td= link_to "visualizar", document.archive_path.to_s, target: '_blank'
                    %td.col-md-2= document.created_at.strftime("%d/%m/%Y às %H:%M")
              - else
                %tr
                  %td{colspan:4} Nenhum registro cadastrado.
        %br/
      .row
        .col-md-12
          %h5 Upload de documentos | Técnicos
      .row
        .col-md-12
          %table.table.table-striped.table-hover.table-bordered
            %thead
              %tr
                %th Documento
                %th Tipo
                %th Arquivo
                %th Data
            %tbody
              - if @cadastre.documents.tecnical.present?
                - @cadastre.documents.tecnical.each do |document|
                  %tr
                    %td= document.document_category.name if document.document_category.present?
                    %td.col-md-2= document.document_category.document_type.humanize  if document.document_category.present?
                    %td= link_to "visualizar", document.archive_path.to_s, target: '_blank'
                    %td.col-md-2= document.created_at.strftime("%d/%m/%Y às %H:%M")
              - else
                %tr
                %td{colspan:4} Nenhum registro cadastrado.



