= simple_form_for [@requeriment, @cadastre] do |f|
  .row
    .col-md-12
      %h4
        %b Dados únicos
  %hr/
  .row
    .col-md-2
      = f.label :cpf, class: 'fg-label'
      = f.input :cpf, label: false,  input_html: { readonly: true, value: @requeriment.cpf}
    .col-md-2
      = f.label :rg, class: 'fg-label'
      = f.input :rg, label: false,  input_html: { value: @requeriment.rg}
    .col-md-2
      = f.label :place_birth, class: 'fg-label'
      = f.input :place_birth, label: false, placeholder: "Ex.: Brasileiro"
    .col-md-2
      = f.label :born, as: 'string', class: 'fg-label'
      = f.input :born, label: false, as: :string, input_html: { class: 'date', value: (@cadastre.born) ? localize(f.object.born) : nil}
  %br/
  %br/
  .row
    .col-md-12
      %h4
        %b Informações pessoais
  %hr/
  .row
    = f.simple_fields_for @cadastre.adjunct_cadastres.build do |builder|
      = render "form_adjunct_cadastre", :f => builder
  %hr/
  .row
    .col-md-12
      = f.submit "Prosseguir", class: 'btn btn-primary pull-right'

