.row
  .col-md-2
    = f.label :civil_state, class: 'fg-label'
    = f.association :civil_state, label: false, prompt: "selecione..."
  .col-md-2
    = f.label :nis, class: 'fg-label'
    = f.input :nis, label: false, placeholder: "Número do NIS"
  .col-md-2
    = f.label :flag_special_condition, class: 'fg-label'
    = f.input :flag_special_condition, label: false, include_blank: false, as: :select
  .col-md-2
    = f.label :cid, class: 'fg-label'
    = f.input :cid, label: false, placeholder: "Número do CID"
.row
  .col-md-2
    = f.label :income, class: 'fg-label'
    = f.input :income, label: false, as: :string, placeholder: "Ex.: 879.00", input_html: { class: 'coin_mask' }
