.row
 .col-md-12
  = f.label :name, class: 'fg-label'
  = f.input :name, label: false
.row
 .col-md-4
  = f.label :telephone, class: 'fg-label'
  = f.input :telephone, label: false
 .col-md-4
  = f.label :telephone_optional, class: 'fg-label'
  = f.input :telephone_optional, label: false
.row
 .col-md-4
  = f.label :celphone, class: 'fg-label'
  = f.input :celphone, label: false
