.card
  .card-header.ch-alt
    .card-body.card-padding
      .Pagina
        .CabecalhoPagina
          %img.LogoCodhab{:src => "/images/logo_codhab.png"}/
          %b
            GOVERNO DO DISTRITO FEDERAL
            %br/
            Secretaria de Estado de Habitação
            Regularização e Desenvolvimento Urbano
            %br/
            Companhia de Desenvolvimento Habitacional do Distrito Federal
            %br/
            %br/
            Diretoria Imobiliária
          %br/
          %br/
          %h2 FICHA CADASTRAL REGULARIZAÇÃO
          %br
      #divVisualizacao{:runat => "server", :style => "width: 805px; margin:0 auto;"}
        %table.DadosCandidato
          %tr
            %td{:colspan => "3"}
              %br/
              Nome do candidato
              %br/
              %b
                = @cadastre.adjunct_cadastre.name
          %tr
            %td
              RG
              %br/
              %b
                = @cadastre.rg
            %td
              Órgão Emissor
              %br/
              %b
                = @cadastre.rg_org
            %td
              Local de Nascimento
              %br/
              %b
                = @cadastre.place_birth
            %td
              CPF
              %br/
              %b
                = @cadastre.cpf
          %tr
            %td
              Data de Nascimento
              %br/
              %b
                = @cadastre.born.strftime('%d/%m/%Y')
            %td
              Estado Civil
              %br/
              %b
                = @cadastre.adjunct_cadastre.civil_state.name
            %td
              Condição especial
              %br/
              %b
                = @cadastre.adjunct_cadastre.special_condition.name if @cadastre.adjunct_cadastre.special_condition.present?
            %td
              Data de chegada no DF
              %br/
              %b
                = @cadastre.arrival_df
          %tr
            %td
              Telefone
              %br/
              %b
                = @cadastre.adjunct_cadastre.telephone
            %td
              Celular
              %br/
              %b
                = @cadastre.adjunct_cadastre.celphone
            %td
              Email
              %br/
              %b
                = @cadastre.adjunct_cadastre.email
            %td
              Renda familiar
              %br/
              %b
                = number_to_currency @cadastre.adjunct_cadastre.income
          %tr
            %td{:colspan => "2"}
              Ocupação
              %br/
              %b
                = @cadastre.adjunct_cadastre.work
          %tr
            %td{:colspan => "4"}
              Endereço residencial
              %br/
              %b
                = @cadastre.adjunct_cadastre.address
          %tr
            %td
              Cidade
              %br/
              %b
                = @cadastre.adjunct_cadastre.city.name if @cadastre.adjunct_cadastre.city.present?
            %td
              UF
              %br/
              %b
                = @cadastre.adjunct_cadastre.state.name
            %td{:colspan => "2"}
              CEP
              %br/
              %b
                = @cadastre.adjunct_cadastre.cep
          %tr
            %td{:colspan => "4"}
              %br/
              %br/
              - if @kins.present?
                %b Dependentes
                %br
                %table
                  %thead
                    %tr
                      %th Nome
                      %th CPF
                      %th Data de Nascimento
                  %tbody
                    - @kins.each do |k|
                      %tr
                        %td= k.name
                        %td= k.cpf if k.cpf.present?
                        %td= k.born.strftime('%d/%m/%Y')
          %tr
            %td{:colspan => "4"}
              %br/
              %div{:style => "float:right;padding-right:10px;"}
                %b Brasília, ___/___/______.
              %br/
              %br/
              %br/
              %br/
              %table{:style => "border: 0px;", :width => "100%"}
                %tr
                  %td{:align => "center", :valign => "top"}
                    Atendente:
                    %b
                      __________________________________
                    %br/
                    Data do atendimento:
                    %b
                      = @cadastre.created_at.strftime('%d/%m/%Y-%H:%M')
                  %td{:align => "center", :valign => "top"}
                    ________________________________
                    %br/
                    Assinatura do Candidato
              %br/
              %br/
              %br/
:css
  body {
      font-family: Verdana;
      font-size: 11px;
  }

  /*-------Container---------*/
  .Pagina {
      margin: auto;
      width: 800px;
  }
  /*------Cabecalho---------*/
  .CabecalhoPagina {
      text-align: center;
  }
  .LogoCodhab {
      width: 75px;
      float: left;
  }
  .LogoGDF{
      width: 90px;
      float: right;
  }

  .DadosCandidato {
      border: 1px solid #cfcfcf;
  }
  .Cabecalho h2, .Cabecalho h3 {
      color: #4f4f4f;
      margin: 4px;
  }

  /*------Tabelas-------*/
  table {
      border: 1px solid #b5b5b5;
      border-top: none;
      border-bottom: none;
      width: 800px;
      /*Equivalente ao CellPadding*/
      border-spacing:0;
      border-collapse:collapse;
  }
  table th {
      border: 1px solid #b5b5b5;
      background: #e8e8e8;
      width: 800px;
      text-align: center;
  }
  table td {
      padding: 2px;
  }
  table .Label {
      width: 760px;
  }
  .LinhaEscura td {
      background: #f5f5f5;
  }

  /*-----Tabelas diferentes-------*/
  .Parecer {
      width: 400px;
      float: left;
      border-bottom: 1px solid #b5b5b5;
  }
  .Parecer td {
      height: 140px;
  }
  .Parecer hr, .ParecerNUATE hr{
      width: 300px;
      border: none;
      border-top: 1px solid #363636;
      margin: 0;
  }
  .ParecerNUATE {
      border-bottom: 1px solid #b5b5b5;
  }
  .ParecerNUATE td {
      padding: 5px;
  }