/ conteudo da pagina
.container
  .row
    .col-md-9.box
      .box_internal
        .post_meta
          = render_shareable :buttons=> ['twitter', 'facebook','google_plus'], :facebook=> {:send=> 'true', :url=> "#{request.original_url}"}
          .post_date
            = @page.date.strftime('%d/%m/%Y')
        .post{:style => "color:#333333;"}
          .imagem_post
            - if @page.active_photo? && @page.photo_author?
              = image_tag @page.thumbnail , :alt => "#{(@page.photo_description.present?) ? @page.photo_description : 'Foto sem descrição'}"
          .author_custom
            - if @page.photo_description? && @page.photo_author?
              = @page.photo_description
              %span
                Autor:
                = @page.photo_author.html_safe
          .content_post
            %h1.post_title
              = @page.title
            %p.post-post
              = @page.content.html_safe
            %a.button_back{"arial-label" => "back to top", :href => "#"} VOLTAR AO TOPO
    = render('partials/shared/portal/sidebar')
