.row
  .col-sm-12
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table#data-table-command.table.table-striped.table-bordered
        %thead
          %tr
            %th Nome
            %th CPF
            %th Número do ato
            %th Ano do ato
            %th IPTU
            %th Justificativa
            %th Mensagem
            %th Retorno
            - unless @allotment.send_status_id > 2
              %th Ações
        %tbody.index-exemption
          - if @exemptions.present?
            - @exemptions.each do |e|
              %tr
                %td= e.name
                %td= e.cpf
                %td= e.number_act_to_cancel
                %td= e.year_act
                %td= e.realty_number
                %td= e.allotment.observation
                %td
                  - if e.act_number.present?
                    = e.act_number
                  -if e.return_message.present?
                    = e.return_message
                %td
                  - if @allotment.send_status_id != 4
                    - if e.system_message.present?
                      = link_to "", "#", title: e.system_message,  class: 'btn btn-xs btn-danger glyphicon glyphicon-warning-sign'
                    - else
                      %span.label.label-success
                        %i.glyphicon.glyphicon-ok
                  - else
                    - if e.act_number.present?
                      %span.label.label-success
                        %i.glyphicon.glyphicon-ok
                    -else
                      %span.label.label-danger
                        %i.glyphicon.glyphicon-warning-sign
                - unless @allotment.send_status_id > 2
                  %td
                    = link_to "",edit_allotment_exemption_path(e.allotment_id,e), title: "Candidatos",  class: 'glyphicon glyphicon-edit btn btn-info btn-xs'
                    = link_to "", allotment_exemption_path(e.allotment_id,e), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Deletar', class: 'glyphicon glyphicon-remove btn btn-danger btn-xs',data: {disable_with: "carregando..."}
