.panel.panel-default
  .panel-heading
    .panel-title
      %h4
        Listagem de Documentos
        = link_to "Voltar", allotments_path, class: 'pull-right mgl',data: {disable_with: "carregando..."}
  .panel-body
    .row
      .col-md-12
        - unless @allotment.send_status_id > 2
          = link_to "Upload planilha",  new_allotment_exemption_file_path(@allotment), remote:true, class: 'btn btn-success btn-sm',data: {disable_with: "carregando..."}
          = link_to "Incluir candidato", new_allotment_exemption_path(@allotment), class: 'btn btn-info btn-sm',data: {disable_with: "carregando..."} if @allotment.send_type == "pedido de isenção"
          = link_to "Incluir candidato", allotment_new_parcial_path(@allotment), class: 'btn btn-info btn-sm',data: {disable_with: "carregando..."} if @allotment.send_type.to_i == "cancelamento parcial"
        = link_to "Reprocessar", allotment_to_process_path(@allotment), class: 'btn btn-warning pull-right mgl',data: {disable_with: "carregando..."} if @allotment.send_status_id > 2
        = link_to "Enviar solicitação", allotment_send_exemption_path(@allotment),  class: 'btn btn-warning btn-sm pull-right mgl' if @allotment.send_status_id == 2 && @allotment.send_type == "pedido de isenção"
        = link_to "Enviar cancelamento", allotment_send_parcial_cancelation_path(@allotment), class: 'btn btn-warning btn-sm pull-right mgl' if @allotment.send_status_id == 2 && @allotment.send_type == "cancelamento parcial"
        = link_to "Enviar cancelamento", allotment_send_total_cancelation_path(@allotment),  class: 'btn btn-warning btn-sm pull-right mgl' if @allotment.send_status_id == 2 && @allotment.send_type == "cancelamento total"
    .row.form-filter{style:'margin-top: 20px;'}
      .col-md-12
        = simple_form_for  url_for, method: 'get' do |f|
          .row
            .col-md-2
              = f.label 'CPF', class: 'fg-label'
              = f.input :cpf, label: false, input_html: { name: 'cpf', value: params[:cpf]}
            .col-md-1
              = f.submit 'Pesquisar', name: nil, class:  'btn btn-primary btn-sm', data: {  disable_with: "Pesquisando aguarde..."}
            .col-md-2
              - if @exemptions.present?
                = link_to "Exportar Excell", allotment_exemptions_path({format: :xlsx}),  class:  'btn btn-success btn-sm'
    - if @allotment.send_type == "pedido de isenção"
      = render 'index'
    - else
      = render 'index_cancelation'
