.block-header
  %h2 
    %b 
      = link_to "#{@project.name} ", administrator_projects_path
    \/  PÁGINAS
.card
  .card-header.ch-alt
    %span.pull-right
      = link_to "ir para menus", concourse.administrator_project_navs_path(@project), class: 'btn btn-info'
      = link_to "nova página", concourse.new_administrator_project_page_path(@project), class: 'btn btn-success'
    %h2
      Páginas
      %small
        Listagem de páginas do concurso
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "4"}
    %table.table.table-condensed
      %thead
        %tr
          %th #
          %th Título
          %th Publicada?
          %th Data de criação
          %th Data última atualização
          %th Ações
      %tbody
        - @pages.each_with_index do |p, i|
          %tr
            %td
              = i + 1
            %td
              = p.title
            %td
              - if p.publish
                %span.label.label-success
                  publicado
              - else
                %span.label.label-default
                  não publicado
            %td
              = p.created_at.strftime('%d/%m/%Y')
            %td
              = p.updated_at.strftime('%d/%m/%Y')
            %td
              = link_to "", concourse.edit_administrator_project_page_path(project_id: @project, id: p),class: 'md-mode-edit btn btn-primary waves-effect waves-button waves-float'
              = link_to "", administrator_project_page_path(project_id: @project, id: p), method: :delete, class: 'md-highlight-remove btn btn-danger waves-effect waves-button waves-float', data: {confirm: "#{t(:confirm_delete)}"}
