.card
  .card-header.ch-alt
    %h2
      Listas de candidatos
      %small Listagem de listas de candidatos
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    .row
      .col-md-4
        = paginate(@candidates.length, params[:page])
      .col-md-4
        = simple_form_for url_for do |f|
          = f.input :income, as: :select, label: false
    %table#data-table-command.table.table-striped.table-vmiddle.datatable
      %thead
        %tr
          %th Posição
          %th Nome
          %th CPF
          %th Pontuação
          %th Programa Habitacional
      %tbody
        - @candidates.paginate(:page => params[:page] ||= 1).each do |candidate|
          %tr    
            %td= @candidates.map(&:cpf).index(candidate.cpf) + 1
            %td= candidate.name
            %td= candidate.cpf
            %td= candidate.total
            %td= (candidate.program_id == 1) ? "RII" : "RIE"
