.card
  .card-header.ch-alt
    %h2
      Listas de candidatos
      %small Listagem de listas de candidatos
  .row
    .col-md-12
      = simple_form_for url_for, method: :get do |f|
        .row
          .col-md-3
            = f.input :income, as: :hidden, input_html: { value: params[:income], name: 'income'}
            = f.input :cpf, input_html: { name: 'cpf', value: params[:cpf]}
        .row
          .col-md-3
            = f.submit "pesquisar", name: nil, class: 'btn btn-primary'
  .row
    .col-md-12
      = will_paginate @candidates
  %hr/
  .row
    .col-md-12
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
        %table#data-table-command.table.table-striped.table-vmiddle.datatable
          %thead
            %tr
              %th Posição
              %th Nome
              %th CPF
              %th Pontuação
              %th Renda
              %th Programa Habitacional
          %tbody
            - @candidates.each do |candidate|
              %tr    
                %td= "#{@geral.map(&:cpf).index(candidate.cpf) + 1} º"
                %td= link_to candidate.name, cadastres_path(cpf: candidate.cpf)
                %td= candidate.cpf
                %td= candidate.total
                %td= number_to_currency candidate.income
                %td= (candidate.program_id == 1) ? "RII" : "RIE"