.panel.panel-default
  .panel-heading
    %h3.panel-title 
      Atendimento habitacional 
  .panel-body
    .row
      .col-md-3{style: 'margin-top: 10px'}
        = simple_form_for url_for, method: :get do |f|
          .row
            .col-md-12
              %label CPF (Somente números)
              = f.input :cpf, label: false, input_html: { name: 'cpf', value: params[:cpf]}
          .row
            .col-md-2
              = f.submit "Pesquisar CPF", name: nil, class: 'btn btn-success', data: { disable_with: t(:disable_with)}
          %hr/
          - if @candidate.present?
            .row
              .col-md-12
                %ul.list-group.nav
                  %li
                    = link_to "Iniciar atendimento", new_habitation_attendance_path(cpf: @candidate.cpf), class: 'btn btn-default'
                  %li
                    = link_to "log de atendimento", "#", class: 'btn btn-default'
      .col-md-8
        = render 'show'
    