= simple_form_for [:habitation, @schedule] do |f|
  .row
    .col-sm-12{style: 'text-align: center'}
      %h2
        %b 1. Qual tipo de agendamento você deseja realizar?
  %hr/
  .row
    .col-sm-12
      = f.association :agenda, label: false, collection: Schedule::Agenda.habitation.active,prompt: 'selecione a agenda...', input_html: { style: 'font-size: 20px;height: 50px;'}
      #description
  %br/
  %br/
  %br/
  %br/
  %br/
  #hide{style: "#{f.object.agenda.present? ? 'display: block;' : 'display: none'}"}
    .row
      .col-md-12{style: 'text-align: center'}
        %h2
          %b 2. Preencha o formulário abaixo
    %hr/
    .row
      .col-md-3
        = f.input :cpf, input_html: { placeholder: "digite seu cpf"}
    .row
      .col-md-12
        = f.input :name, input_html: { placeholder: 'preencha com seu nome completo'}
    %hr/
    .row
      .col-md-2
        = f.input :telephone, input_html: { placeholder: '(61) xxxx-xxxx'}
      .col-md-2
        = f.input :telephone_optional, input_html: { placeholder: '(61) xxxx-xxxx'}
      .col-md-2
        = f.input :celphone, input_html: { placeholder: '(61) xxxx-xxxx'}
      .col-md-3
        = f.input :email, input_html: { placeholder: 'preencha com seu e-mail'}
      .col-md-3
        = f.association :city, collection: Address::City.federal_district, prompt: 'selecione...'
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    .row
      .col-md-12{style: 'text-align: center'}
        %h2
          %b 3. Selecione o dia e o horário que deseja ser atendido
    %hr/
    .row
      .col-md-2
      .col-md-4
        = f.input :date, as: :string, input_html: { class: 'datepicker', placeholder: "selecione a data...", style: 'height: 60px !important; font-size: 25px !important; font-weight: bold !important;'}
      .col-md-4
        = f.input :hour, as: :select, collection: [], prompt: 'selecione...', input_html: { value: f.object.hour.present? ? f.object.hour.strftime('%H:%M') : '', style: 'height: 60px !important; font-size: 25px !important; font-weight: bold !important;'}
    %br/
    %br/
    %br/
    %hr/
    .row
      .col-md-2
        = f.submit 'Realizar Agendamento', class: 'btn btn-success'

:javascript
  $(document).ready(function() {

    $("#agenda_schedule_agenda_id").on('change', function(){
      $("#hide").fadeIn()
      getAgenda($(this).val())
    });

    $("#agenda_schedule_date").on('change', function(){
      setHours($(this).val() ,$("#agenda_schedule_agenda_id").val());
    });

    getAgenda($("#agenda_schedule_agenda_id").val());

    
    setHours($("#agenda_schedule_date").val() ,$("#agenda_schedule_agenda_id").val());
  });



  function getAgenda(id) {
    $.getJSON("/agendamento/info?id=" + id,function(data) {
        if(data.length > 0) {
          var weekend = "0,6"
          console.log(data[1])
          // disable weekend
          if(data[0].weekend == true) { weekend = '' }

          $("#agenda_schedule_date").datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
            startDate: data[1],
            daysOfWeekDisabled: weekend,
            autoclose: true,
            endDate: data[2],
            datesDisabled: data[0].disable_dates.split(';')
          });

          $("#description").html("<h4><i>" + data[0].description + "</i></h4>")
        }
      });
  }

  function setHours(date, id) {
    $.getJSON("/agendamento/horario?date=" + date +"&id=" + id,function(data) {
     hour = "<option vlaue>selecione o horário...</option>"
     for(var i = 0; i < data.length; i++) {
       hour += "<option value='"+ data[i] +"'>"+data[i]+"</option>";
     }
     $("#agenda_schedule_hour").html(hour);
    });
  }