= simple_form_for @allotment, multipart: true do |f|
  .row
    .col-md-4
      = f.label :exemption_type, class: 'fg-label'
      = f.input :exemption_type, as: 'select', label: false, collection:(Sefaz::Allotment.exemption_types.map {|k,v| [k.upcase,k]}), prompt: 'selecione...'
    .col-md-4
      = f.label :send_type, class: 'fg-label'
      = f.input :send_type, as: 'select', label: false, collection:(Sefaz::Allotment.send_types.map {|ke,va| [ke.upcase,ke]}), prompt: 'selecione...' 
  .row
    .col-md-4
      = f.label :notifiers, class: 'fg-label'
      = f.input :notifiers, label: false
    .col-md-4
      = f.label :cnpj_notifiers, class: 'fg-label'
      = f.input :cnpj_notifiers, label: false
  .row
    .col-md-4
      = f.label :observation, class: 'fg-label'
      = f.input :observation, label: false
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success btn-sm', data: { disable_with: t(:disabled_button) }
      = link_to "voltar",  allotments_path, class: 'btn btn-default btn-sm',data: {disable_with: "carregando..."}
