#messages-main.card.m-b-0
  .ms-menu
    .ms-block
      .ms-user
        Pesquisar Cadastro
    .ms-block
      = simple_form_for candidates_path, method: :get do |f|
        = f.label "Endereço"
        = f.input :unit, label: false,  input_html: { name: :unit,value: params[:unit] }
        %br/
        = f.label "Processo"
        = f.input :assessment, label: false,  input_html: { name: :assessment,value: params[:unit] }
        %br/
        = f.submit "Pesquisar", name: nil, class: 'btn btn-success'
  .ms-body
    .listview.lv-message
      .lv-header-alt.bgm-white
        #ms-menu-trigger
          .line-wrap
            .line.top
            .line.center
            .line.bottom
        .lvh-label.hidden-xs
          %span.c-black Detalhamento
      .lv-body{:style => "min-height: 270px"}
        .lv-item.media
          .media-body