%p#notice= notice

%p
  %b Document type:
  = @activity.document_type
%p
  %b Action type:
  = @activity.action_type
%p
  %b Local instance:
  = @activity.local_instance
%p
  %b Date distribution:
  = @activity.date_distribution
%p
  %b Deadline:
  = @activity.deadline
%p
  %b Days:
  = @activity.days
%p
  %b End date:
  = @activity.end_date
%p
  %b Complemet:
  = @activity.complemet
%p
  %b User:
  = @activity.user
%p
  %b Status:
  = @activity.status
%p
  %b Monitoring type:
  = @activity.monitoring_type
%p
  %b Attachment:
  = @activity.attachment

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
