.card
  .card-header.ch-alt
    %h2
      Agendamentos | #{@agenda.title}
      = link_to "Voltar", agendas_path, class: 'btn btn-inverse pull-right'
      %small Listagem de agendamentos

  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
      %thead
        %tr
          %th Protocolo
          %th Nome
          %th CPF
          %th Data
          %th Horário
          %th Status
          %th Ações
      %tbody
        - @schedules.each do |schedule|
          %tr
            %td= schedule.protocol
            %td= schedule.name
            %td= schedule.cpf
            %td= schedule.date.strftime('%d/%m/%Y')
            %td= schedule.hour.strftime('%H:%M')
            %td= schedule.status
            %td
              = link_to "visualizar"
              = link_to "atualizar"
              = link_to "cancelar"
