= simple_form_for [@project, :restrict, @candidate] do |f|
  .row
    .col-md-12
      %h4 Dados Pessoais
  %br/
  .row
    .col-md-10
      = f.input :name
  .row
    .col-md-3
      = f.input :cpf, label: "CPF (somente números)", input_html: {disabled: true}
    .col-md-3
      = f.input :rg
    .col-md-2
      = f.input :born,  as: :string, input_html: { class: 'date', value: f.object.born ? localize(f.object.born) : nil }
    .col-md-2
      = f.input :gender, as: :select, collection: Concourse::Candidate.genders.keys.to_a, prompt: 'selecione...'
  %hr/
  .row
    .col-md-12
      %h4 Endereço e Contato
  %br/
  .row
    .col-md-3
      = f.association :state, prompt: "selecione..."
    .col-md-4
      = f.input :city
    .col-md-3
      = f.input :cep, label: "CEP(Somente números)"
  .row
    .col-md-7
      = f.input :address
    .col-md-3
      = f.input :burgh
  .row
    .col-md-4
      = f.input :email
    .col-md-3
      = f.input :telephone, as: :string, hint: "* somente números", input_html: { placeholder:'9900000000' }
      
    .col-md-3
      = f.input :celphone, as: :string, hint: "* somente números", input_html: { placeholder:'9900000000' }
  .row
    .col-md-12
      %h4 Dados pessoa jurídica
  %hr/
  .row
    .col-md-4
      = f.input :fantasy_name
    .col-md-3
      = f.input :social_reason
    .col-md-3
      = f.input :cnpj, input_html: { class: 'cnpj'}
  %br/
  .row
    .col-md-12
      %h4 Informações Adicionais
  %hr/
  .row
    .col-md-4
      = f.input :professional_type, label: "Tipo de profissional", as: :select, collection: Concourse::Candidate.professional_types.keys, include_blank: false
  .row
    = f.simple_fields_for :properties, OpenStruct.new(@candidate.properties) do |builder|
      - @candidate.subscribe.fields.each_with_index do |field, index|
        - if field.file?
          = render "concourse_portal/restrict/candidates/fields/#{field.field_type}", i: index, field: field, f: builder, c: @candidate
  %br/
  %hr/
  .row
    .col-md-12
      = f.submit "Atualizar Inscrição", class: 'btn btn-inverse', data: {disable_with: "Processando..."}
      = link_to "Voltar", project_path(@project), class: 'btn btn-default'