= simple_form_for(@job) do |f|
  .card-body.card-padding
    .row
      .col-md-6
        = f.label :name, class: 'fg-label'
        = f.input :name, label: false, input_html: { placeholder: 'Digite um nome'}
    .row
      .col-md-6
        = f.label :code, class: 'fg-label'
        = f.input :code, label: false, input_html: { placeholder: 'Digite uma descrição'}
    .row
      .col-md-2
        = f.input :status, as: :select, include_blank: false
    %hr/
    .row
      .col-md-12
        = f.button :submit, class: 'btn btn-success btn-sm'
        = link_to "voltar", member_jobs_path, class: 'btn btn-dark btn-sm'