.page-content
  .panel
    .panel-heading
      .panel-title
        %h4
          Cargos Diretoria Entidade
          = link_to 'Novo Cargo', new_member_job_path,  data: { no_turbolink: true }, class: 'btn btn-success pull-right btn-sm' if policy(:page, namespace: Cms).create?
          %small Listagem de cargos
    .panel-body
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
        %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table.datatable
          %thead
            %tr
              %th #
              %th Nome
              %th Código
              %th Status
              %th Ações
          %tbody
            - @jobs.each_with_index do |job, index|
              %tr
                %td.col-md-1= index + 1
                %td= job.name
                %td= job.code
                %td.col-md-1= job.status ? 'ativo' : 'inativo'
                %td.col-md-2
                  = link_to "", edit_member_job_path(job), class: 'glyphicon glyphicon-share-alt btn btn-primary btn-xs'
                  = link_to "", member_job_path(job), method: :delete, data: { confirm: t(:confirm_delete) },  class: 'glyphicon glyphicon-remove btn btn-danger btn-xs'

