.card
  .card-header.ch-alt
    %h2
      Movimentações
      %small Lista de Documentos
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th #
        %th Setor
        %th Ação
        %th Data
        %th Descrição
    %tbody
      - @conduct.each_with_index do |j, i|
        %tr
          %td.col-md-1
            = i + 1
          %td
            = j.sector.name if j.sector.present?
          %td
            = j.conduct_type
          %td
            = j.created_at.strftime('%d/%m/%Y - %H:%M')
          %td
            = j.description