.card
  .card-header.ch-alt
    %h2
      Documentos
    %ul.lv-actions.actions
      %li.dropdown
        %a{"aria-expanded" => "true", "data-toggle" => "dropdown", :href => ""}
          %i.md.md-more-vert
        %ul.dropdown-menu.dropdown-menu-right
          %li
            = link_to 'Novo Documento', new_assessment_path if policy(:Assessment, namespace: Protocol).create?
          %li
            = link_to 'Remessa', allotments_path if policy(:Allotment, namespace: Protocol).create?
          %li
            = link_to 'Nova Localização', new_location_path if policy(:Location, namespace: Protocol).create?
          %li
            = link_to 'Receber Tramitação', receive_path if policy(:Conduct, namespace: Protocol).create?



    %small Listagem de Documentos
  .card-body
    .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
      %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table.datatable
        %thead
          %tr
            %th Número
            %th Tipo de Documento
            %th Setor
            %th Ações
        %tbody
          = render 'index'