.card
  .card-header
    %h2 Protocolo - #{@assessment.document_number}
  .card-body.card-padding
    .row
      .col-md-8
        .row
          .col-md-4
            %label Tipo de Documento:
            = @assessment.document_type.name
          .col-md-4
            %label Número do Documento:
            = @assessment.document_number
        .row
          .col-md-8
            %label Unidade Solicitante:
            = @assessment.requesting_unit
        .row
          .col-md-8
            %label Orgão Destinatário:
            = @assessment.recipient
        .row
          .col-md-8
            %label Endereço:
            = @assessment.address
        .row
          .col-md-4
            %label CPF:
            = @assessment.cpf
          .col-md-4
            %label CNPJ:
            = @assessment.cnpj
        .row
          .col-md-8
            %label Assunto:
            = @assessment.subject.name
        .row
          .col-md-8
            %label Descrição Assunto:
            = @assessment.description_subject
        .row
          .col-md-8
            %label Assinado Por:
            = @assessment.sign_by
        .row
          .col-md-8
            %label Observação:
            = @assessment.observation
        %br
        %br
        .row
          .col-md-8
            = link_to "voltar",  assessments_path, class: 'btn btn-inverse'