.page-content
  .panel
    .panel-heading
      .panel-title
        %h4
          Agendamento Codhab
          = link_to 'Nova agenda', new_agenda_path, class: 'btn btn-success pull-right btn-sm'
    .panel-body
      %table.table.table-striped.table-hover.table-bordered
        %thead
          %tr
            %th #
            %th Programa
            %th Título
            %th Período
            %th Horário
            %th Status
            %th Ações

        %tbody
          - @agendas.each_with_index do |agenda, i|
            %tr
              %td.col-md-1= i + 1
              %td.col-md-2= agenda.program.name if agenda.program.present?
              %td= agenda.title
              %td.col-md-2= "#{agenda.start.strftime('%d/%m/%Y')} - #{agenda.start.strftime('%d/%m/%Y') }"
              %td.col-md-2= "#{agenda.start_hour.strftime('%H:%M')} às #{agenda.end_hour.strftime('%H:%M') }"
              %td.col-md-1= agenda.status ? 'ativa' : 'inativa'
              %td.col-md-2
                = link_to '', edit_agenda_path(agenda), class: 'md md-edit btn btn-primary'
             
