%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title Portal Codhab
		%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
		= stylesheet_link_tag 'portal', media: 'all'
		= javascript_include_tag 'portal', media: 'all'
		= csrf_meta_tags
	%body
		= render 'layouts/portal/partials/navs'
		%div{class: (controller_name != 'home') ? 'container main' : '' }
			= yield
		= render 'layouts/portal/partials/footer'
