!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Simples-Minimalistic Responsive Template
    :css
      /* Client-specific Styles */
      #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
      body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
      /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
      .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.*/
      #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
      img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
      a img {border:none;}
      .image_fix {display:block;}
      p {margin: 0px 0px !important;}
      table td {border-collapse: collapse;}
      table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
      a {color: #0a8cce;text-decoration: none;text-decoration:none!important;}
      /*STYLES*/
      table[class=full] { width: 100%; clear: both; }
      /*IPAD STYLES*/
      @media only screen and (max-width: 640px) {
      a[href^="tel"], a[href^="sms"] {
      text-decoration: none;
      color: #0a8cce; /* or whatever your want */
      pointer-events: none;
      cursor: default;
      }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      text-decoration: default;
      color: #0a8cce !important;
      pointer-events: auto;
      cursor: default;
      }
      table[class=devicewidth] {width: 440px!important;text-align:center!important;}
      table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
      img[class=banner] {width: 440px!important;height:220px!important;}
      img[class=colimg2] {width: 440px!important;height:220px!important;}
      
      
      }
      /*IPHONE STYLES*/
      @media only screen and (max-width: 480px) {
      a[href^="tel"], a[href^="sms"] {
      text-decoration: none;
      color: #0a8cce; /* or whatever your want */
      pointer-events: none;
      cursor: default;
      }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      text-decoration: default;
      color: #0a8cce !important; 
      pointer-events: auto;
      cursor: default;
      }
      table[class=devicewidth] {width: 280px!important;text-align:center!important;}
      table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
      img[class=banner] {width: 280px!important;height:140px!important;}
      img[class=colimg2] {width: 280px!important;height:140px!important;}
      td[class=mobile-hide]{display:none!important;}
      td[class="padding-bottom25"]{padding-bottom:25px!important;}
        
      }
  %body
  
    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "header", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:width => "100%"}
                    %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tbody
                        / Spacing
                        %tr
                          %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;"}  
                        / Spacing
                        %tr
                          %td
                            / logo
                            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "140"}
                              %tbody
                                %tr
                                  %td{:align => "center", :height => "70", :width => "169"}
                                    .imgpop
                                      %a{:href => "#", :target => "_blank"}
                                        %img{:alt => "", :border => "0", :height => "70", :src => "http://www.codhab.df.gov.br/images/codhab.png", :style => "display:block; border:none; outline:none; text-decoration:none;", :width => "169"}/
                            / end of logo
                        / Spacing
                        %tr
                          %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;"}  
                        / Spacing
    / End of Header
    / Start of main-banner
    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "banner", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:width => "100%"}
                    %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tbody
                        %tr
                          / start of image
                          %td{:align => "center", "st-image" => "banner-image"}
                            .imgpop
                              %a{:href => "#", :target => "_blank"}
                                //%img.banner{:alt => "", :border => "0", :height => "200", :src => "#{@project.header.url}", :style => "display:block; border:none; outline:none; text-decoration:none;", :width => "600"}/
                    / end of image
    / End of main-banner
    / Start of seperator
    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "seperator", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:align => "center", :height => "20", :style => "font-size:1px; line-height:1px;"}  
    / End of seperator
    / Start Full Text
    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "full-text", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:width => "100%"}
                    %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tbody
                        / Spacing
                        %tr
                          %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;"}  
                        / Spacing
                        %tr
                          %td
                            %table.devicewidthinner{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                / Title
                                %tr
                                  %td{"st-title" => "fulltext-heading", :style => "font-family: Helvetica, arial, sans-serif; font-size: 30px; color: #333333; text-align:center; line-height: 30px;"}
                                    %b Inscrição atualizada com sucesso!
                                / End of Title
                                / spacing
                                %tr
                                  %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;", :width => "100%"}  
                                / End of spacing
                                / content
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666; text-align:center; line-height: 30px;"}
                                    Seu  formulário  de  inscrição  e  sua  documentação  para  participação  no concurso #{@project.title} foram atualizados com sucesso. Para acompanhar sua inscrição, baixar o boleto e/ou visualizar a situação, #{link_to "clique aqui", project_restrict_url(@project)}
                                / End of content
                        / Spacing
                        %tr
                          %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;"}  
                        / Spacing
  
    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "seperator", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:align => "center", :height => "30", :style => "font-size:1px; line-height:1px;"}  
                %tr
                  %td{:align => "center", :bgcolor => "#d1d1d1", :height => "1", :style => "font-size:1px; line-height:1px;", :width => "550"}  
                %tr
                  %td{:align => "center", :height => "30", :style => "font-size:1px; line-height:1px;"}  
    / End of seperator
    / Start Full Text
    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "full-text", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:width => "100%"}
                    %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tbody
                        / Spacing
                        %tr
                          %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;"}
                        
                        %tr
                          %td
                            %table.devicewidthinner{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tr
                                %td{"st-title" => "fulltext-heading", :style => "font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #333333; text-align:center; line-height: 30px;"}
                                  %h Espelho da inscrição
                        %tr
                          %td
                            %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                %tr
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Nº inscrição
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Tipo de inscrição
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Data de inscrição
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Situação
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Taxa
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.id        
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.subscribe.title if @candidate.subscribe.present?
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.created_at.strftime('%d/%m/%Y às %H:%M')
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.status
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.invoice_paid ? "Pago" : "Não pago"
                            %br/
                            %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                %tr
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Nome
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    CPF
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Data de nascimento
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Sexo
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.name.upcase
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.cpf
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.born.strftime('%d/%m/%Y') if @candidate.born.present?
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.gender
                            %br/
                            %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                %tr
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Telefone
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Celular
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    E-mail
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.telephone
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.celphone
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.email
                            %br/
                            %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                %tr
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Estado
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Cidade
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Endereço
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    CEP
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.state.acronym if @candidate.state.present?
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.city
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.address
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.cep
                            %br/
                            %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                %tr
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Nome Fantasia
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Razão Social
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    CNPJ
                                %tr
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.fatansy_name
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.social_reason
                                  %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    = @candidate.cnpj
                            %br/
                            %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                              %tbody
                                %tr
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Informação adicional
                                  %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                    Dado
                                - @candidate.subscribe.fields.each do |field|
                                  %tr
                                    %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                      = field.label.humanize
                                    %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                      - if field.file?
                                        - if @candidate.properties.include? field.label.to_sym
                                          Enviado
                        %tr
                          %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;"}  
                        / Spacing
    / end of full text
    / Start of seperator
    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "seperator", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:align => "center", :height => "30", :style => "font-size:1px; line-height:1px;"}  
                %tr
                  %td{:align => "center", :bgcolor => "#d1d1d1", :height => "1", :style => "font-size:1px; line-height:1px;", :width => "550"}  
                %tr
                  %td{:align => "center", :height => "30", :style => "font-size:1px; line-height:1px;"}  
    / End of seperator
    / Start of Postfooter
    %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "postfooter", :width => "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
              %tbody
                %tr
                  %td{:width => "100%"}
                    %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tbody
                        %tr
                          %td{:align => "center", "st-content" => "postfooter", :style => "font-family: Helvetica, arial, sans-serif; font-size: 14px;color: #666666", :valign => "middle"}
                            %a{:href => "http://www.codhab.df.gov.br", :style => "text-decoration: none; color: #0a8cce"} Portal Codhab
                            |
                            %a{:href => "http://www.codhab.df.gov.br/concursos", :style => "text-decoration: none; color: #0a8cce"} Concursos 
                        / Spacing
                        %tr
                          %td{:height => "20", :width => "100%"}
                        / Spacing
    / End of postfooter