.panel.panel-default
  .panel-heading
    %h4.panel-title Gestão de ocorrências cadastral
  .panel-body
    .row
      .col-md-3.panel-side  
        .row
          .col-md-12
            %h3 Realizar pesquisa
        %br/
        .row
          .col-md-12
            = simple_form_for url_for, method: :get do |f|
              .row
                .col-md-12
                  = f.input :cpf, label: false, input_html: { name: 'cpf', class: 'cpf', value: params[:cpf]}
              .row
                .col-md-12
                  %b Ou
              %br/
              .row
                .col-md-12
                  = f.input :assessment, label: false, input_html: { name: 'assessment', class: '', value: params[:assessment], placeholder: 'Digite o número do processo'}
              .row
                .col-md-12
                  = f.submit "Pesquisar", name: nil, class: 'btn btn-success filter-button', data: { disable_with: t(:disable_with)}
      .col-md-9
        - if !@cadastre.nil?
          .row 
            .col-md-12
              %h3 Detalhamento do candidato
              %br/
              %table.table.table-striped.table-bordered.table-hover
                %thead
                  %tr 
                    %th CPF 
                    %th Nome 
                    %th Situação 
                    %th Programa
                %tbody
                  %tr
                    %td= @cadastre.cpf.format_cpf
                    %td= @cadastre.name
                    %td
                      %b= @cadastre.current_situation_name
                    %td= @cadastre.program.name
          .row 
            .col-md-12
              %h3
                %b= link_to "Realizar nova verificação", occurrence_verify_path(@cadastre.cpf), data: { disable_with: t(:disable_with)}
              .row
                .col-md-12
                  %table.table.table-striped.table-bordered.table-hover
                    %thead
                      %tr 
                        %th Tipo 
                        %th Ocorrência 
                        %th Descrição 
                        %th Data 
                        %th Ações
                    %tbody
                      - @cadastre.cadastre_occurrences.order('created_at DESC').each do |item|
                        %tr 
                          %td= item.occurrence_type_id
                          %td= item.occurrence_situation.name if item.occurrence_situation.present?
                          %td= item.description
                          %td= item.created_at.strftime("%d/%m/%Y às %H:%M")
                          %td
                            = link_to "", "#", class: 'btn btn-success btn-xs glyphicon glyphicon-ok'
                            = link_to "", "#", class: 'btn btn-primary btn-xs glyphicon glyphicon-share-alt'
        - else
          .row
            .col-md-12
              %i Nenhum registro encontrado, favor verifique os dados informados e tente novamente.            
