= simple_form_for @participation, url: project_restrict_participations_path(project_id: @project) do |f|
  .row
    .col-md-12
      %h4 Adicione os dados da sua equipe abaixo:
  .row
    .col-md-12
      = f.simple_fields_for :team_participations do |builder|
        = render 'team_participation_fields', f: builder
  .row
    .col-md-12
      = link_to_add_fields "+ Adicionar membro", f, :team_participations
  %hr/
  .row
    .col-md-12
      %h4 Projeto
  .row
    .col-md-5
      = f.input :archive_one, label: "Pranchas A3 em um único arquivo PDF(máximo de 18MB)", as: :file
  .row
    .col-md-5
      = f.input :archive_two, label: "Prancha A2 (PDF, máximo de 3MB)", as: :file
  .row
    .col-md-5
      = f.input :archive_three, label: "Imagem ilustrativa (PNG ou JPEG, máximo de 3MB)", as: :file
  %hr/
  .row
    .col-md-12
      = @project.text_participation.html_safe
  %hr/
  .row
    .col-md-12
      = f.submit "Enviar meu projeto", class: 'btn btn-success', data: { disable_with: t(:disable_with)}