.row
  .col-md-12
    %h2
      %b Projeto enviado
      %br/  
      %small
        = link_to "Voltar para página principal", project_restrict_candidates_path(@project)
%hr/
.row
  .col-md-12
    %small.pull-right
      = link_to "Excluir e Re-enviar meu projeto", project_restrict_participation_path(project_id: @project, id: @participation.id), method: :delete, data: { confirm: "Tem certeza que deseja excluir seu projeto?"}, class: 'btn btn-danger'
    %h4 
      %b Equipe
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Nome
          %th Função
          %th Observação
      %tbody
        - @participation.team_participations.order(:job).each do |member|
          %tr
            %td= member.name
            %td= member.job
            %td= member.observation

%hr/
.row
  .col-md-12
    %h4 
      %b Projeto enviado
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th Tipo
          %th Identificador
          %th Ação
      %tbody
        %tr
          %td.col-md-3 Prancha A3 01
          %td.col-md-5= @participation.archive_one.file.original_filename
          %td.col-md-1
            = link_to "visualizar", @participation.archive_one.url, target:'_blank'
        %tr
          %td.col-md-3 Prancha A3 02
          %td.col-md-3= @participation.archive_two.file.original_filename
          %td.col-md-1
            = link_to "visualizar", @participation.archive_two.url, target:'_blank'
     
