= simple_form_for(@process_monitoring) do |f|
  = f.error_notification

  .form-inputs
    = f.input :number_lawsuit
    = f.input :number_administrative_process
    = f.input :organ
    = f.association :action_type
    = f.input :value_cause
    = f.association :local_instance
    = f.input :part
    = f.association :lawyer_responsible
    = f.input :complemet
    = f.input :status
    = f.input :initial_date
    = f.input :end_date
    = f.input :process_type

  .form-actions
    = f.button :submit
