%h1 Listing process_monitorings

%table
  %thead
    %tr
      %th Number lawsuit
      %th Number administrative process
      %th Organ
      %th Action type
      %th Value cause
      %th Local instance
      %th Part
      %th Lawyer responsible
      %th Complemet
      %th Status
      %th Initial date
      %th End date
      %th Process type
      %th
      %th
      %th

  %tbody
    - @process_monitorings.each do |process_monitoring|
      %tr
        %td= process_monitoring.number_lawsuit
        %td= process_monitoring.number_administrative_process
        %td= process_monitoring.organ
        %td= process_monitoring.action_type
        %td= process_monitoring.value_cause
        %td= process_monitoring.local_instance
        %td= process_monitoring.part
        %td= process_monitoring.lawyer_responsible
        %td= process_monitoring.complemet
        %td= process_monitoring.status
        %td= process_monitoring.initial_date
        %td= process_monitoring.end_date
        %td= process_monitoring.process_type
        %td= link_to 'Show', process_monitoring
        %td= link_to 'Edit', edit_process_monitoring_path(process_monitoring)
        %td= link_to 'Destroy', process_monitoring, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Process monitoring', new_process_monitoring_path
