%p#notice= notice

%p
  %b Number lawsuit:
  = @process_monitoring.number_lawsuit
%p
  %b Number administrative process:
  = @process_monitoring.number_administrative_process
%p
  %b Organ:
  = @process_monitoring.organ
%p
  %b Action type:
  = @process_monitoring.action_type
%p
  %b Value cause:
  = @process_monitoring.value_cause
%p
  %b Local instance:
  = @process_monitoring.local_instance
%p
  %b Part:
  = @process_monitoring.part
%p
  %b Lawyer responsible:
  = @process_monitoring.lawyer_responsible
%p
  %b Complemet:
  = @process_monitoring.complemet
%p
  %b Status:
  = @process_monitoring.status
%p
  %b Initial date:
  = @process_monitoring.initial_date
%p
  %b End date:
  = @process_monitoring.end_date
%p
  %b Process type:
  = @process_monitoring.process_type

= link_to 'Edit', edit_process_monitoring_path(@process_monitoring)
\|
= link_to 'Back', process_monitorings_path
