= simple_form_for [:project,@consult] do |f|
  .row
    .col-md-12
      = f.label "* Descreva abaixo sua consulta"
      %br/
      = f.input :content, label: false, placeholder: 'Descrição da consulta', input_html: { style: 'min-height: 200px;'}
  %br/
  .row
    .col-md-12
      = @project.consultation_description.html_safe
  %hr/
  .row
    .col-md-12
      = f.submit "Enviar Consulta", class: 'btn btn-success'
      = link_to "Voltar", project_path(@project), class: 'btn btn-default'