.row.row_warnings
  - warning_loop(4, 'ASC', 0) do |w|
    .warning_block.col-md-3{class:"color_#{w.color}"}
      .warning_head
        = w.title
      .warning_body
        - if w.thumbnail.present?
          = image_tag(w.thumbnail, width: 242)
        = w.resume.html_safe
      .warning_footer
        = link_to "Leia Mais", warning_path(w), class: "btn btn_custom btn_#{w.color}"
.row.row_warnings
  .bxslide.warning_slider
    - warning_loop(4, 'Divirta-se') do |w|
      .enjoy_block
        .item
          .enjoy_head
            = w.title
          .enjoy_body
            - if w.thumbnail.present?
              = image_tag(w.thumbnail, width: 600)
            = w.resume.html_safe
          .enjoy_footer
            = link_to "Leia Mais", warning_path(w), class: "btn btn_custom btn_Verde"
%br
%br
:javascript
    $(document).ready(function() {
        $('.bxslide').bxSlider({
          slideWidth: 600,
          minSlides: 1,
          maxSlides: 3,
          slideMargin: 0,
          pager: false
        });
    });
