.container.main.homeLatest
  %h2 Últimas Notícias
  - post_each('morarbem', 3, 'DESC') do |p|
    .five.columns.sidebar.bloco-noticia{:style => "height: 494px;"}
      .imgWrapper
        = image_tag p.thumb if p.thumb?
      .latestHeader
        = link_to "##{p.post_category.name}", content_post_path(p), class: 'council'
        .latestDate 
          = p.created_at.strftime('%d/%m/%Y')
      %h3
        = link_to p.title, content_post_path(p)
      %p
        = p.content.html_safe
      %p.bt-noticia
        = link_to 'Leia Mais', content_post_path(p), class: 'sliderLink'
