.col-md-12
  .panel.panel-default
    .panel-body
      = render 'layouts/firm_portal/tabs'
      .row
        .col-md-12
          %h3
            %b Candidatos
            %br/
            %small
      .row
        .col-md-12
          = simple_form_for  url_for, method: 'get' do |f|
            .row
              .col-md-3
                = f.label 'CPF', class: 'fg-label'
                = f.input :cpf, label: false, input_html: { name: 'by_cpf', value: params[:cpf]}
              .col-md-3
                = f.label 'Nome', class: 'fg-label'
                = f.input :name_candidate, label: false, input_html: { name: 'name_candidate', value: params[:name_candidate]}
              .col-md-3
                = f.label 'Situação do Candidato', class: 'fg-label'
                = f.input :status, label: false,  collection: Candidate::EnterpriseSituationStatus.all, selected: params[:status], input_html: { name: 'status'},include_blank: 'Todos'
              .col-md-2
                %br
                = f.submit 'Pesquisar', name: nil, class:  'btn btn-primary', data: {  disable_with: "Pesquisando aguarde..."}
      - if @enterprise_cadastres.present?
        .row
          .col-md-12
            %table#data-table-command.table.table-striped.table-vmiddle.datatable
              %thead
                %tr
                  %th Nome
                  %th CPF
                  %th Condição
                  %th Status
                  %th Pontuação
                  %th
              %tbody
                - @enterprise_cadastres.each do |cand|
                  - if cand.cadastre.present?
                    %tr
                      %td.col-md-4= cand.name
                      %td.col-md-2= cand.cpf
                      %td.col-md-2= cand.cadastre.special_condition.name if cand.cadastre.special_condition_id.present?
                      %td.col-md-2= cand.enterprise_cadastre_situation.present? ? cand.enterprise_cadastre_situation.enterprise_situation_status.name : "Não Contactado"
                      %td.col-md-2= cand.total
                      - if !cand.enterprise_cadastre_situation.present? || cand.enterprise_cadastre_situation.enterprise_situation_status.id == 9 || cand.enterprise_cadastre_situation.enterprise_situation_status.id == 12
                        %td.col-md-1= link_to "Situação", new_enterprise_cadastre_situation_path(id: cand.id, cadastre_id: cand.cadastre_id), remote: true
        .row
          .col-md-6.col-md-offset-3
            .container
              = will_paginate @enterprise_cadastres, renderer: BootstrapPagination::Rails
