.card
  .card-header.ch-alt
    %h2 schedules
    = link_to "Novo", new_schedule_path, class: 'btn btn-success pull-right'
    %small Listagem de schedules
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.datatable
      %thead
        %tr
          %th Agenda
          %th Requeriment
          %th Cpf
          %th Status
          %th Date schedule
          %th Hour schedule
          %th Observation
      %tbody
        - @schedules.each_with_index do |schedule, index|
          %tr
            %td= schedule.agenda
            %td= schedule.requeriment
            %td= schedule.cpf
            %td= schedule.status
            %td= schedule.date_schedule
            %td= schedule.hour_schedule
            %td= schedule.observation

     