%p#notice= notice
%p
  %b Agenda:
  = @schedule.agenda
%p
  %b Requeriment:
  = @schedule.requeriment
%p
  %b Cpf:
  = @schedule.cpf
%p
  %b Status:
  = @schedule.status
%p
  %b Date schedule:
  = @schedule.date_schedule
%p
  %b Hour schedule:
  = @schedule.hour_schedule
%p
  %b Observation:
  = @schedule.observation
