.page-content
  .panel
    .panel-heading
      .panel-title
        %h4
          Listagem de cadastro
          = link_to 'Novo cadastro', new_cadin_path,class: 'btn btn-success pull-right mgl btn-sm',data: {disable_with: "carregando..."}
    .panel-body
      .row.form-filter
        .col-md-12
          = simple_form_for  url_for, method: 'get' do |f|
            .row
              .col-md-4
                = f.label 'Nome', class: 'fg-label'
                = f.input :name_candidate, label: false, input_html: { name: 'name_candidate', value: params[:name_candidate] }
              .col-md-4
                = f.label 'CPF', class: 'fg-label'
                = f.input :cpf, label: false, input_html: { name: 'cpf', value: params[:cpf] }
              .col-md-2
                = f.submit 'Pesquisar', name: nil, class:  'btn btn-primary btn-sm', data: {  disable_with: "Pesquisando aguarde..."}
      .row
        .col-md-12
          .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
            %table#data-table-command.table.table-striped.table-bordered
              %thead
                %tr
                  %th Nome
                  %th CPF
                  %th Processo
                  %th Ações
              %tbody
                - if @cadins.present?
                  = render 'index'
      .row
        .col-md-6.col-md-offset-3
          = will_paginate @cadins, renderer: BootstrapPagination::Rails