.row
 .col-md-12
  = simple_form_for [@good, @down_good], remote: true do |f|
   .row
    .col-md-12
     = f.label :name, class: 'fg-label'
     = f.input :name, as:'select', collection: Patrimony::DownGood.names.keys.to_a, prompt: 'selecione...', label: false, input_html: { placeholder: 'Digite a descrição'}
   .row
    .col-md-12
     = f.label :description, class: 'fg-label'
     = f.input :description, label: false, input_html: { placeholder: 'Digite a descrição'}
    .col-md-12
     = f.label :number_process, class: 'fg-label'
     = f.input :number_process, label: false, input_html: { placeholder: 'Digite o numero do processo'}
   .row
    .col-md-12
     .checkbox.m-b-15
      %label
       = f.check_box :status
       %i.input-helper
       = f.label :status, class: 'fg-label'
   .row
    .col-md-12
     = f.button :submit, class: 'btn btn-success'
   %br/
