- @down_goods.each_with_index do |j, i|
 %tr
  %td.col-md-1
   = i + 1
  %td
   = j.name 
  %td
   = j.description
  %td
   = j.number_process
  %td
   = j.status ? "ATIVO" : "INATIVO"
  %td.col-md-2
  