= simple_form_for @authenticate, url: authenticate_path do |f|
  .row
    .col-md-12
      = f.input :cpf
  .row
    .col-md-12
      = f.input :password
      = link_to "Esqueci minha senha"
  %hr/
  .row
    .col-md-12
      = f.submit "Realizar verificação", class: 'btn btn-success ' 