= simple_form_for [:administrator, @project] do |f|
  .col-md-12
    .card
      .card-body.card-padding
        .row
          .col-md-6
            = f.label :name, class: 'fg-label'
            = f.input :name, label: false, input_html: { placeholder: 'Digite um nome'}
          .col-md-4
            = f.label :project_category,  class: 'fg-label'
            = f.association :project_category, label: false, prompt: 'selecione...'

        .row
          .col-md-10
            = f.label :description, class: 'fg-label'
            = f.input :description, label: false, input_html: { class: 'redactor', placeholder: 'Digite um nome'}
        .row
          .col-md-2
            = f.label :start, as: 'string', class: 'fg-label'
            = f.input :start, as: 'string', label: false, input_html: { class: 'date', placeholder: '00/00/0000', value: (@project.start) ? localize(f.object.start) : nil}
          .col-md-2
            = f.label :end, as: 'string', class: 'fg-label'
            = f.input :end, as: 'string', label: false, input_html:  { class: 'date', placeholder: '00/00/0000', value: (@project.end) ? localize(f.object.end) : nil}
        
        %br/
        .row
          .col-md-3
            = f.label :header, as: 'file', class: 'fg-label'
            = f.input :header, as: 'file', label: false, input_html: { placeholder: 'Digite um nome'}
            = image_tag @project.header_url, width: '150' if @project.header?
          .col-md-3
            = f.label :footer, as: 'file', class: 'fg-label'
            = f.input :footer, as: 'file', label: false, input_html: { placeholder: 'Digite um nome'}
            = image_tag @project.footer_url, width: '150' if @project.footer?
          .col-md-3
            = f.label :logo, as: 'file', class: 'fg-label'
            = f.input :logo, as: 'file', label: false, input_html: { placeholder: 'Digite um nome'}
            = image_tag @project.logo_url, width: '150' if @project.logo?
       
        %hr/
        .row
          .col-md-3
            .checkbox.m-b-15
              %label
                = f.check_box :open
                %i.input-helper
                Concurso ativo para visualização do público
            
        %hr/
        .row
          .col-md-12
            = f.button :submit, class: 'btn btn-success'
            = link_to "voltar", concourse.administrator_projects_path, class: 'btn btn-default'
