.block-header
  %h2
    Detalhes de concurso
.card
  .card-header
    %span.pull-right
      = link_to "voltar para concursos", concourse.administrator_projects_path
    %h2 
      = @project.name
      %small
  .card-body.card-padding
    %div{:role => "tabpanel"}
      %ul.tab-nav{:role => "tablist", :style => "overflow: hidden; outline: none;", :tabindex => "1"}
        %li.active
          %a{"aria-controls" => "subscribes", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#subscribes", :role => "tab1"} Inscritos
        %li
          %a{"aria-controls" => "consults", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#consults", :role => "tab2"} Consultas
        %li
          %a{"aria-controls" => "projects", "aria-expanded" => "true", "data-toggle" => "tab", :href => "#projects", :role => "tab3"} Projetos enviados
      .tab-content
        #subscribes.tab-pane.active{:role => "tab1"}
          %table.table.table-condensed
            %thead
              %tr
                %th Nome
                %th CPF
                %th Taxa
                %th Status
                %th Ações
            %tbody
              - @enrollment_candidates.each do |e|
                %tr
                  %td= e.candidate.name
                  %td= e.candidate.cpf
                  %td
                  %td= e.status
                  %td.col-md-3
                    = link_to "visualizar", concourse.administrator_project_enrollment_candidate_path(project_id: @project, id: e), remote: true, class: 'btn btn-success btn-sm'
                    = link_to "mensagens", '#', class: 'btn btn-info btn-sm'
              
            
        #consults.tab-pane{:role => "tab2"}
          %p
            Consultas Enviadas: 0
        #projects.tab-pane{:role => "tab2"}
          %p
            Projetos enviados: 0