.container
  .block-header
    %h2
      %small
        - if @user.job.present?
          = @user.job.name
  #profile-main.card.profile-main-custom
    .pm-overview.c-overflow{:style => "overflow: hidden; outline: none;", :tabindex => "4"}
      .pmo-pic
        .p-relative
          %a{:href => ""}
          - if @user.avatar?
            = image_tag @user.avatar_url
          - else
            .custom-avatar.bgm-blue
              = @user.name[0].upcase
        .pmo-stat
          %h2.m-0.c-white
            = @user.name
      .pmo-block.pmo-contact.hidden-xs
        %h2 Contato
        %ul
          %li
            %i.md.md-phone
            = @user.branch_line.present? ? @user.branch_line.telephone : 'Não Informado'
          %li
            %i.md.md-email
            -if @user.email?
              = mail_to @user.email
            -else
              Não Informado
          %li
            %i.md.md-location-on
            %address.m-b-0
              = @user.sector_current.present? ? @user.sector_current.name : 'Não Informado'
      .pmo-block.pmo-items.hidden-xs
        %h2 Pessoas do Setor
        .pmob-body
          .row
            - profile_users(@user.sector_current) do |qa|
              %a.col-xs-2{:href => "#{person.profile_url(qa)}"}
                - if qa.avatar?
                  = image_tag(qa.avatar.url,:class => "lv-avatar bgm-blue")
                - else
                  .lv-avatar.bgm-blue{"style": 'margin-bottom: 20px'}
                    = qa.name[0]
    .pm-body.clearfix
      .pmb-block
        .pmbb-header
          %h2
            %i.md.md-person.m-r-5
            Informações Basicas
        .pmbb-body.p-l-30
          .pmbb-view
            %dl.dl-horizontal
              %dt Nome Completo
              %dd
                =@user.name.present? ? @user.name : 'Não Informado'
            %dl.dl-horizontal
              %dt Matrícula
              %dd
                =@user.code.present? ? @user.code : 'Não Informado'
            %dl.dl-horizontal
              %dt Aniversário
              %dd
                =@user.born.strftime('%d/%m/%Y')
            %dl.dl-horizontal
              %dt Tipo Sanguineo
              %dd
                =@user.blood_type.upcase.present? ? @user.blood_type : 'Não Informado'
      .pmb-block
        .pmbb-header
          %h2
            %i.md.md-phone.m-r-5
            Informação de Contato
        .pmbb-body.p-l-30
          .pmbb-view
            %dl.dl-horizontal
              %dt Telefone do Setor
              %dd
                = @user.branch_line.present? ? @user.branch_line.telephone : 'Não Informado'
            %dl.dl-horizontal
              %dt Email
              %dd
                =@user.email.present? ? @user.email : 'Não Informado'
            %dl.dl-horizontal
              %dt Setor de Origem
              %dd
                = @user.sector_origin.present? ? @user.sector_origin.name : 'Não Informado'
            %dl.dl-horizontal
              %dt Setor Corrente
              %dd
                = @user.sector_current.present? ? @user.sector_current.name : 'Não Informado'
