.row
 .col-md-12
  = simple_form_for [:sector, @branch_line], remote: true do |f|
   .row
    .col-md-12
     = f.label :description, class: 'fg-label'
     = f.input :description, label: false, input_html: { placeholder: 'Digite uma descrição'}
   .row
    .col-md-4
     = f.label :telephone, class: 'fg-label'
     = f.input :telephone, label: false, input_html: { placeholder: 'Digite um ramal'}
    .col-md-4
     = f.label :status, class: 'fg-label'
     = f.check_box :status, class: 'toggle-switch'
    .col-md-4
     = f.button :button, class: 'btn btn-success' do
      Gravar
   .row
    .col-md-12
     = render 'index'

