= simple_form_for [:portal, @schedule] do |f|
  .row
    .col-md-6
      = f.label :agenda, class: 'fg-label'
      = f.association :agenda, collection: RegularizationSchedule::Agenda.where('start <= ? and regularization_schedule_agendas.end >= ?', Time.now,Time.now), label: false, prompt: 'selecione...',  input_html: { id: 'agenda'}
    .col-md-3
      = f.label :cpf, class: 'fg-label'
      = f.input :cpf, label: false, prompt: 'selecione...'
  .row
    .col-md-3
      = f.label :date_schedule,  as: 'string', class: 'fg-label'
      = f.input :date_schedule, as: 'string', label: false,  input_html: { id: 'date', class: 'datepicker' , placeholder: '00/00/0000'}
  .row
    .col-md-3
      = f.label :hour_schedule, class: 'fg-label'
      = f.input :hour_schedule,  label: false,  as: 'select', prompt: 'Selecione a data...', input_html: { id: 'hour'}
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'




= javascript_tag do
  $(document).ready(function(){
  $('.datepicker').datepicker({
  format: "dd/mm/yyyy",
  language: "pt-BR",
  autoclose: true,
  daysOfWeekDisabled: "0,6",
  startDate: "#{"#{(Time.now).strftime('%d/%m/%Y')}"}",
  });


  $('#date').on('change', function() {
  $('#hour').html('
  %option> Carregando...
  ');
  var e = document.getElementById("agenda").value;

  if(e != null){
  $.getJSON( "/agenda_regularizacao/agendas/" + e +"/hour?date=" + $(this).val(), function(data) {
  var html = ""
  if(data.length > 0) {
  $.each(data, function(key, value) {
  html += "
  %option{:value => "\"+value+\""}> "+value+"
  ";
  });
  } else {
  html = "
  %option{:value => ""}> Não existem horários para este dia
  "
  }
  $('#hour').html(html);
  });
  }
  })

  });
