.row
  .col-md-10
    %h1.title Agendamentos de regularização
    = link_to "Finalizar Sessão", regularization.sign_out_candidate_requeriments_path, class: 'btn btn-success'
%br/
.row
  .col-md-12
    - if @schedules.present?
      %table.table
        %thead
          %tr
            %th #
            %th Agenda
            %th Data de Atendimento
            %th Hora de Atendimento
            %th
        %tbody
          - @schedules.each_with_index do |s, index|
            %tr
              %td= index + 1
              %td= s.agenda.title
              %td= s.date_schedule.strftime('%d/%m/%Y')
              %td= s.hour_schedule.strftime('%H:%M')
              %td
                = link_to "visualizar", portal_agenda_schedule_path(s.agenda.id,s), class: 'btn btn-success'
                = link_to "cancelar agendamento", portal_agenda_schedule_path(s.agenda.id,s), method: :delete,  class: 'btn btn-danger', data: {confirm: "#{t(:confirm_delete)}"}