%p#notice= notice
.row
  .col-md-10
    %h1.title Agendamento de regularização
.row
  .col-md-12
    %h4.title Agenda:
    %h5
      = @schedule.agenda.title
.row
  .col-md-12
    %h4.title Cpf:
    %h5
      = @schedule.cpf if @schedule.cpf.present?
.row
  .col-md-12
    %h4.title Data de Atendimento:
    %h5
      = @schedule.date_schedule
.row
  .col-md-12
    %h4.title Hora de Atendimento:
    %h5
      = @schedule.hour_schedule.strftime('%H:%M')

