%aside#chat
  %ul.tab-nav.tn-justified{:role => "tablist", :style => "overflow: hidden; outline: none;", :tabindex => "0"}
    %li.active{:role => "presentation"}
      %a{"aria-controls" => "friends", "aria-expanded" => "true", "data-toggle" => "tab", :href => "#friends", :role => "tab"} Pessoas
    %li{:role => "presentation"}
      %a{"aria-controls" => "online", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#online", :role => "tab"} Meu Setor
  .chat-search
    #buscador.fg-line
      %form.filterform{:action => "#"}
        %input.filterinput.form-control{:placeholder => "Pesquisar...", :type => "text"}/
  .tab-content
    #friends.tab-pane.fade.active.in{:role => "tabpanel"}
      .listview
        - cache 'lista_ramais' do
          - users_list do |u|
            %a.lv-item{:href => "#{person.profile_url(u)}"}
              .media
                .pull-left.p-relative
                  - if u.avatar?
                    .lv-avatar
                      = image_tag(u.avatar.url, width:35)
                  - else
                    .lv-avatar.bgm-blue{"style": 'margin-bottom: 20px'}
                      = u.name[0]
                .media-body
                  .lv-title
                    = u.name
                  %small.lv-small
                    Setor:
                    = u.sector_current.present? ? u.sector_current.name : '-'
                    %br/
                    Telefone:
                    = u.branch_line.present? ? u.branch_line.telephone : '-'

    #online.tab-pane.fade{:role => "tabpanel"}
      .listview
        - cache 'lista_ramais' do
          - local_users_list do |ul|
            %a.lv-item{:href => ""}
              .media
                .pull-left.p-relative
                  - if ul.avatar?
                    .lv-avatar
                      = image_tag(ul.avatar.url, width:35)
                  - else
                    .lv-avatar.bgm-blue{"style": 'margin-bottom: 20px'}
                      = ul.name[0]
                .media-body
                  .lv-title
                    = ul.name
                  %small.lv-small
                    Setor:
                    = ul.sector_current.present? ? ul.sector_current.name : '-'
                    %br/
                    Telefone:
                    = ul.branch_line.present? ? ul.branch_line.telephone : '-'
