%aside#sidebar
  .sidebar-inner
    .si-inner
      .profile-menu
        %a{:href => ""}
          .profile-pic
            - if current_user.account.avatar?
              = image_tag current_user.account.avatar_url
            - else
              .lv-avatar.bgm-blue{"style": 'margin-bottom: 20px'}
                = current_user.account.name[0]
          .profile-info
            %b
              = current_user.account.name
            %i.md.md-arrow-drop-down
        %ul.main-menu
          %li
            = link_to "<i class='md md-person'></i> Meu perfil".html_safe, person.profile_path(current_user)
          %li
            = link_to "<i class='md md-settings-input-antenna'></i> Configurações".html_safe, person.profile_path(current_user)
          %li
            = link_to "<i class='md md-history'></i> Sair".html_safe, main_app.destroy_user_session_path, method: :delete
      %ul.main-menu
        %li{class: ('active' if params[:module] == "intranet")}
          = link_to "<i class='md   md-turned-in'></i> Intranet".html_safe, intranet.root_path
        %li{class: ('active' if params[:module] == "dashboard")}
          = link_to "<i class='md  md-dashboard'></i> Dashboard".html_safe, dashboard.root_path
        - if policy(:application, namespace: Person).index?
          %li.sub-menu{class: ('toggled active' if params[:module] == "person")}
            %a{:href => ""}
              %i.md.md-account-child
              Gestão de Pessoas
            %ul{style: ('display:block;' if params[:module] == "person")}
              - if policy(:job, namespace: Person).index?
                %li
                  = link_to "cargos", person.jobs_path
              - if policy(:staff, namespace: Person).index?
                %li
                  = link_to "usuarios", person.staffs_path
              - if policy(:system, namespace: Person).index?
                %li
                  = link_to "sistemas", person.systems_path
              %li.divider
              - if policy(:sector, namespace: Person).index?
                %li
                  = link_to "setores", person.sectors_path
<<<<<<< HEAD
          %ul{style: ('display:block;' if @module == "person")}
        %li.sub-menu{class: ('toggled active' if params[:module] == "concourse")}  
        %li.sub-menu{class: ('toggled active' if params[:module] == "cms")}
          - if policy(:application, namespace: Cms).index?
            %a{:href => ""}
              %i.md.md-public>
              Gestão Site
            %ul{style: ('display:block;' if params[:module] == "cms")}
              - if policy(:post, namespace: Cms).index?
                %li
                  = link_to "postagens", cms.posts_path
              - if policy(:page, namespace: Cms).index?
                %li
                  = link_to "páginas", cms.pages_path
              - if policy(:PostCategory, namespace: Cms).index?
                %li.divider
                %li
                  = link_to "categorias de post", cms.post_categories_path
              - if policy(:PageCategory, namespace: Cms).index?
                %li
                  = link_to "categorias de página", cms.page_categories_path
              - if policy(:nav, namespace: Cms).index?
                %li
                  = link_to "menu", cms.navs_path
              - if policy(:NavCategory, namespace: Cms).index?
                %li
                  = link_to "categorias de menu", cms.nav_categories_path
=======
            %li.sub-menu{class: ('toggled active' if params[:module] == "cms")}
              - if policy(:application, namespace: Cms).index?
                %a{:href => ""}
                  %i.md.md-public>
                  Gestão Site
                %ul{style: ('display:block;' if params[:module] == "cms")}
                  - if policy(:post, namespace: Cms).index?
                    %li
                      = link_to "postagens", cms.posts_path
                  - if policy(:page, namespace: Cms).index?
                    %li
                      = link_to "páginas", cms.pages_path
                  - if policy(:PostCategory, namespace: Cms).index?
                    %li.divider
                    %li
                      = link_to "categorias de post", cms.post_categories_path
                  - if policy(:PageCategory, namespace: Cms).index?
                    %li
                      = link_to "categorias de página", cms.page_categories_path
                  - if policy(:nav, namespace: Cms).index?
                    %li
                      = link_to "menu", cms.navs_path
                  - if policy(:NavCategory, namespace: Cms).index?
                    %li
                      = link_to "categorias de menu", cms.nav_categories_path
>>>>>>> ddd45730304d2c9536d4476ae9de06558dc895ed
