%aside#sidebar
  .sidebar-inner
    .si-inner
      .profile-menu
        %a{:href => ""}
          .profile-pic
            = image_tag "picture_example.jpg", size: "50x50"
          .profile-info
            Usuário
            %i.md.md-arrow-drop-down
        %ul.main-menu
          %li
            %a{:href => "profile-about.html"}
              %i.md.md-person
              Meu Perfil
          %li
            %a{:href => ""}
              %i.md.md-settings-input-antenna
              Configurações
          %li
            %a{:href => ""}
              %i.md.md-history
              Sair
      %ul.main-menu
        %li
          = link_to "<i class='md  md-view-quilt'></i> Dashboard".html_safe, root_extranet_path
        %li.sub-menu{class: ('toggled' if @module == "person")}
          %a{:href => ""}
            %i.md.md-assignment-ind
            Gestão de Pessoas
          %ul{style: ('display:block;' if @module == "person")}
            %li
              = link_to "funcionários", person.users_path
            %li
              = link_to "cargos", person.jobs_path
            %li
              = link_to "setores", person.sectors_path
            %li
              = link_to "ramais", person.sectors_path
            %li.divider
            %li
              = link_to "sistemas", person.systems_path
            %li
              = link_to "relatórios", person.reports_path
            %li       - if defined? ScheduleEngine
        %li.sub-menu
          %a{:href => ""}
            %i.md.md-today
            Agendamento
          %ul
            %li
              = link_to "agendas", schedule.agendas_path
            %li
              = link_to "relatórios", person.new_user_path
            %li
              = link_to "atendentes", person.new_user_path
            %li
              = link_to "supervisores", person.new_user_path
        %li.sub-menu
          %a{:href => ""}
            %i.md.md-trending-up>
            Charts
          %ul
            %li
              %a{:href => "flot-charts.html"} Flot Charts
            %li
              %a{:href => "other-charts.html"} Other Charts
        %li.sub-menu
          %a{:href => ""}
            %i.md.md-trending-up>
            Juridico
          %ul
            %li
              %a{:href => "flot-charts.html"} Flot Charts
            %li
              %a{:href => "other-charts.html"} Other Charts
