.page-content
  .panel
    .panel-heading
      .panel-title
        %h4
          Instância
          = link_to 'novo programa habitacional', new_instancy_path, remote: true, class: 'btn btn-success pull-right btn-sm',data: {disable_with: "carregando..."}
    .panel-body
      .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
        %table#data-table-command.table.table-striped.table-bordered
          %thead
            %tr
              %th #
              %th Nome
              %th Descrição
              %th Status
              %th Ações
          %tbody.index-advice_type
            -if @instancies.present?
              - @instancies.each_with_index do |j, i|
                %tr
                  %td.col-md-1
                    = i + 1
                  %td
                    = j.name
                  %td
                    = j.description
                  %td
                    = j.status ? "Ativo" : "Inativo"
                  %td.col-md-2
                    = link_to "", edit_instancy_path(j), remote: true, class: 'glyphicon glyphicon-pencil btn btn-primary btn-xs',data: {disable_with: "carregando..."}
                    = link_to "", instancy_instancy_places_path(j),  class: 'glyphicon glyphicon-share btn btn-info btn-xs',data: {disable_with: "carregando..."}
                    = link_to "", instancy_path(j), method: :delete, class: 'glyphicon glyphicon-remove btn btn btn-danger btn-xs', data: {confirm: "#{t(:confirm_delete)}"}


