= simple_form_for @cadastre_procedural_status do |f|
  .row
    .col-md-2
      = f.label :procedural_status, class: 'fg-label'
      = f.association :procedural_status, label: false, prompt: 'selecione...'
  .row
    .col-md-8
      = f.label :observation, class: 'fg-label'
      = f.input :observation, label: false
  %hr/
  .row
    .col-md-12
      = f.submit "Prosseguir", class: 'btn btn-primary pull-right'