= render 'layouts/regularization_treatment/steps'
.row
  .col-md-12
    .card
      .card-body.card-padding
        .row
          .col-md-12
            %h3
              %b Finalizar atendimento
        %hr/
        - if @cadastre.present?
          .row
            .col-md-4
              %h5
                %b Nome
              %h5
                = @cadastre.adjunct_cadastre.name if @cadastre.adjunct_cadastre.present?
            .col-md-4
              %h5
                %b CPF
              %h5
                = @cadastre.cpf
        %hr
        - if @checklist.present?
          .row
            .col-md-12
              %h5
                %b Checklist
          .row
            .col-md-12
              - @checklist.each do |c|
                %h6= c.checklist.name
        %hr
        = render "form"
