.card
  .card-header.ch-alt
    %h2
      Entidades Cadastradas
      %small Listagem de entidades
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table.datatable
      %thead
        %tr
          %th CNPJ
          %th Nome
          %th Sigla
          %th Data cadastro
          %th Última atualização
          %th Situação
          %th Ações
      %tbody
        - @cadastres.each do |cadastre|
          %tr
            %td.col-md-2= cadastre.cnpj
            %td.col-md-4= cadastre.name
            %td.col-md-2= cadastre.fantasy_name
            %td.col-md-2= cadastre.created_at.strftime('%d/%m/%Y às %H:%M')
            %td.col-md-2= cadastre.updated_at.strftime('%d/%m/%Y às %H:%M')
            %td
            %td.col-md-1
              = link_to "visualizar", cadastre_path(cadastre)
