= simple_form_for @transmission do |f|
  .card-body.card-padding
    .row
      .col-md-12
        %h5
          %b
            Para que sua solicitação seja enviada com sucesso, verifique os seguintes itens.
        %br/
        %h6
          %i
            %p
              1. O arquivo deverá estar de acordo com o modelo e ser do tipo csv. 
            %p
              2. A solicitação deverá ter somente um orgão e CNPJ transmitente.
            %p
              3. O arquivo não pode ter campos em branco ou colunas além do que está no modelo.
            %p
              4. O arquivo não pode exceder 20 MB de tamanho.
            %br/
            %p
              = link_to "Clique aqui para baixar o modelo de arquivo"
    %hr/
    .row
      .col-md-12
        = f.label :csv
        = f.input :csv, as: :file, label: false
    %hr/
    .row
      .col-md-12
        = f.button :submit, class: 'btn btn-success'
        = link_to "Voltar", transmissions_path, class: 'btn btn-inverse'