.card
  .card-header.ch-alt
    %h2
      Páginas
      = link_to 'Nova Solicitação', new_transmission_path, class: 'btn btn-success pull-right' if policy(:page, namespace: Cms).create?
      %small Listagem de páginas
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table.datatable
      %thead
        %tr
          %th Protocolo Interno
          %th Criada em
          %th Enviada em
          %th Situação
          %th Protocolo Sefaz
          %th Ações
      %tbody
        - @transmissions.each do |transmission|
          %tr
            %td.col-md-2= transmission.protocol
            %td.col-md-2= transmission.created_at.strftime("%d/%m/%Y às %H:%M")
            %td.col-md-2= transmission.sent_in if transmission.sent_in.present?
            %td= transmission.status.humanize
            %td
            %td
              = link_to "detalhar", transmission, class: 'btn btn-primary btn-xs'
              = link_to "enviar", transmission, class: 'btn btn-success btn-xs'