= simple_form_for @legal_advice do |f|
 .row
  .col-md-4
   = f.label :process_number, class: 'fg-label'
   = f.input :process_number, label: false, input_html: {placeholder: 'Processo judicial'}
  .col-md-4
   = f.label :agency, class: 'fg-label'
   = f.input :agency, label: false, input_html: {placeholder: 'Preencha'}
 .row
  .col-md-4
   = f.label :lawsuit, class: 'fg-label'
   = f.association :lawsuit, prompt: 'selecione...', label: false
  .col-md-4
   = f.label :lawsuit_value, class: 'fg-label'
   = f.input :lawsuit_value, label: false, input_html: {placeholder: 'Preencha'}
 .row
  .col-md-4
   = f.label :instancy, class: 'fg-label'
   = f.input :instancy, as: :select, collection: Juridical::Instancy.all, label: false, prompt: 'selecione...',input_html: { name: 'instancy'}
  .col-md-4
   = f.label :instancy_place, class: 'fg-label'
   = f.association :instancy_place, label:false, as: :select, collection: (@legal_advice.instancy.present?) ? Juridical::InstancyPlace.where(instancy_id: @legal_advice.instancy).distinct : {}, label_method: :instancy_place, value_method: :instancy_place, prompt: 'selecione o local de instância...', input_html: { value: @legal_advice.instancy}
 .row
  .col-md-4
   = f.label :housing_program, class: 'fg-label'
   = f.association :housing_program, prompt: 'selecione...', label: false
  .col-md-4
   = f.label :process_type, class: 'fg-label'
   = f.input :process_type, prompt: 'selecione...', label: false
 .row
  .col-md-8
   = f.submit 'salvar' , class: 'btn btn-success btn-sm',data: {disable_with: "carregando..."}
   = link_to "voltar",  legal_advices_path, class: 'btn btn-default btn-sm',data: {disable_with: "carregando..."}

:javascript

  $(document).ready(function() {

    $("#legal_advice_instancy").on('change', function(){

      $.getJSON("#{instancy_places_path}?instancy_id=" + $(this).val(), function(data) {

        html = "<option value>selecione...</option>"
        if(data.length > 0) {
          console.log(data)
          for(var i = 0; i < data.length; i++) {
            html += "<option value='"+data[i].id+"'>"+data[i].name+"</option>"
          }

        } else {
          html = "<option value>Não foram encontrados locais</option>"
        }
          $("#legal_advice_instancy_place_id").html(html)
      });
    });
  });
