- @legal_advices.each do |a|
  %tr
    %td
    %td
      = a.process_number
    %td
      = a.lawsuit.name if a.lawsuit.present?
    %td
      = a.responsible_lawyer
    %td.col-md-2
      = link_to "", legal_advice_path(a), title: "visualizar",  class: 'glyphicon glyphicon-eye-open btn btn-success btn-xs',data: {disable_with: "carregando..."} #if policy(:Assessment, namespace: Protocol).index?
      = link_to "", edit_legal_advice_path(a), title: "editar",  class: 'glyphicon glyphicon-share-alt btn btn-primary btn-xs',data: {disable_with: "carregando..."} #if policy(:Assessment, namespace: Protocol).update?
      = link_to "" ,  legal_advice_complements_path(a), title: 'Complemento', class: 'glyphicon glyphicon-open-file btn btn-info btn-xs',data: {disable_with: "carregando..."}
      = link_to "", legal_advice_path(a), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Deletar', class: 'glyphicon glyphicon-remove btn btn-danger btn-xs',data: {disable_with: "carregando..."} #if policy(:Assessment, namespace: Protocol).destroy?
