- @legal_advices.each do |a|
  %tr
    %td
    %td
      = a.process_number
    %td
      = a.lawsuit.name if a.lawsuit.present?
    %td
      = a.responsible_lawyer.name
    %td.col-md-2{style: 'width: 1%'}
      .btn-group{:role => "group"}
        %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %i.glyphicon.glyphicon-cog
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to "Visulizar", legal_advice_path(a), title: "visualizar",data: {disable_with: "carregando..."} #if policy(:Assessment, namespace: Protocol).index?
          %li
            = link_to "Editar", edit_legal_advice_path(a), title: "editar",data: {disable_with: "carregando..."} #if policy(:Assessment, namespace: Protocol).update?
          %li
            = link_to "Autor", new_legal_advice_complainant_path(a), remote:true, title: "autor",data: {disable_with: "carregando..."} #if policy(:Assessment, namespace: Protocol).update?
          %li
            = link_to "Réu", new_legal_advice_defendant_path(a), remote: true, title: "réu",data: {disable_with: "carregando..."} #if policy(:Assessment, namespace: Protocol).update?
          %li
            = link_to "Complemento" ,  legal_advice_complements_path(a),title: 'Complemento',data: {disable_with: "carregando..."}
          %li
            = link_to "Excluir", legal_advice_path(a), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Deletar' #if policy(:Assessment, namespace: Protocol).destroy?
