.panel.panel-default
  .panel-heading
    %h4.panel-title Acompanhamento de Processo
  .panel-body
    .row
      .col-md-4
        %label Número do Processo:
        = @legal_advice.process_number
      .col-md-4
        %label Orgão:
        = @legal_advice.agency
    .row
      .col-md-4
        %label Tipo de Ação:
        = @legal_advice.lawsuit.name
      .col-md-4
        %label Valor da Ação:
        = @legal_advice.lawsuit_value
    .row
      .col-md-4
        %label Complemento:
        = @legal_advice.description_complement
      .col-md-4
        %label Parte:
        = @legal_advice.suitor
    .row
      .col-md-4
        %label Instância:
        = @legal_advice.instancy_place.instancy.name
      .col-md-4
        %label Local da Instância:
        = @legal_advice.instancy_place.name
    .row
      .col-md-4
        %label Programa Habitacional:
        = @legal_advice.housing_program.name
      .col-md-4
        %label Tipo de Processo:
        = @legal_advice.process_type == false ? "Normal" : "Eletrônico"
    -if @complainants.present? || @defendants.present?
      .row
        .col-md-4
          %label Autor(es):
          - @complainants.each do |c|
            = c.name.upcase if c.name.present?
            %br
        .col-md-4
          %label Réu(s):
          - @defendants.each do |c|
            = c.name.upcase if c.name.present?
            %br
    .row
      .col-md-4
        %label Data de inclusão:
        = @legal_advice.created_at.strftime("%d/%m/%Y %H:%M:%S")
      .col-md-4
        %label Status:
        = @legal_advice.status == true ? "Aberto" : "Fechado"
    %br
    - if @complements.present?
      %hr
      .row
        .col-md-12
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th Data
                %th Complemento
                %th Advogado Responsável
            %tbody
              - @complements.each do |a|
                %tr
                  %td
                    = a.created_at.strftime('%d/%m/%Y - %H:%M:%S') rescue ""
                  %td
                    = a.complement
                  %td
                    = a.responsible_lawyer.name rescue ""
    .row
      .col-md-2
        = link_to "voltar",  legal_advices_path, class: 'btn btn-default btn-sm',data: {disable_with: "carregando..."}
    - unless @data.empty?
      = @teste
      %hr
      .row
        .col-md-12
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th Data
                %th Descrição
                %th Complemento
            %tbody
              - @data.each_with_index do |data, index|
                -if index > 2
                  %tr
                    %td.col-md-2= data[0]
                    %td= data[1]
                    %td= data[2]
