= simple_form_for @cadastre, url: basic_cadastre_path, method: :put, remote: true do |f|
  .row
    .col-md-2
      = f.input :cpf, input_html: { disabled: true }
    .col-md-10
      = f.input :name, input_html: { disabled: true }
  %hr/
  .row
    .col-md-3
      = f.input :telephone
    .col-md-3
      = f.input :telephone_optional
    .col-md-3
      = f.input :celphone
    .col-md-3
      = f.input :email
  %hr/
  .row
    .col-md-2
      = f.input :cep
    .col-md-3
      = f.association :city, collection: Address::City.federal_district, include_blank: 'Selecione...'
    .col-md-7
      = f.input :address
  .row
    .col-md-12
      = f.input :address_complement
  %hr/
  .row
    .col-md-2
      = f.input :work_cep
    .col-md-3
      = f.input :work_city, collection: Address::City.federal_district, include_blank: 'Selecione...'
    .col-md-7
      = f.input :work_address
  %hr/
  .row
    .col-md-12
      = f.submit "Atualizar dados de contato", class: 'btn btn-success'