%p#notice= notice
%p
  %b Project:
  = @participation.project
%p
  %b Title:
  = @participation.title
%p
  %b Start:
  = @participation.start
%p
  %b End:
  = @participation.end
%p
  %b Publish:
  = @participation.publish
%p
  %b Observation:
  = @participation.observation
%p
  %b Subscribe:
  = @participation.subscribe
