%html
  %head
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7024614-9']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    - if controller_name == "posts"
      %meta{:content => "#{@post.title}", :property => "og:title"}/
      %meta{:content => "http://www.#{request.subdomain}#{@post.thumbnail}", :property => "og:image"}/
      %meta{:content => "#{request.url}", :property => "og:url"}
    %title Portal Codhab
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'portal', media: 'screen'
    = javascript_include_tag 'portal', media: 'screen'
    = csrf_meta_tags
  %body
    = render 'layouts/partials/portal/top_nav'
    = render 'layouts/partials/portal/header'
    %div{class: (controller_path == "portal/home") ? "" : "container portal-container"}
      = yield
    = render 'layouts/partials/portal/footer'
